{% extends "base.html" %}
{% load cache %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by country" %}{% endblock %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<h1>{% trans "Members of the European Parliament by country" %}</h1>
{% include "map-eu.html" %}

<div class="prefix_2 grid_8 suffix_2 top_space_2">
<div style="text-align: center;">{% flatblock "by_country.info" %}</div>
<ul class="col">
{% cache 6000000 meps.listing_from_container request.META.PATH_INFO LANGUAGE_CODE %}
{% for country in object_list %}
    <li>
        <a href="{% url meps:index_by_country country.code %}">
            <img src="{{ STATIC_URL }}img/countries/small/{{ country.code }}.png" alt="{{ country.code }} flag" />
            {{ country.name }}</a>&nbsp;
        {% blocktrans with country.meps_count as count %} - {{ count }} Members {% endblocktrans %}
    </li>
{% endfor %}
{% endcache %}
</ul>
</div>

{% endblock %}
