{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by local party" %}{% endblock %}

{% block content %}

<h1>{% trans "Members of the European Parliament by local party" %}</h1>
{% flatblock "by_party.info" %}
{% regroup object_list by country as countries %}
<ul>
{% for country in countries %}
    <li>{{ country.grouper.name }}</li>
    <ul class="parties">
    {% for party in country.list %}
        {% if party.meps_count %}
        <li>
            <a href="{% url meps:index_by_party party.id party.name|slugify %}">{{ party.name }}</a>
            {% blocktrans with party.meps_count as count %} - {{ count }} Members {% endblocktrans %}
        </li>
        {% endif %}
    {% endfor %}
    <br />
    </ul>
{% endfor %}
</ul>

{% endblock %}
