{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by floor" %}{% endblock %}

{% block content %}

{% load floors_filter %}

<h3>{% trans "Members of the European Parliament by floor" %}</h3>
{% flatblock "by_floor.info" %}
{% regroup object_list by postcode as towns %}
{% for town in towns %}
<div class="six columns">
    <h4>{% if town.grouper == "1047" %}{% trans "Brussels" %}{% else %}{% trans "Strasbourg" %}{% endif %}</h4>
    <ul>
        {% for building in town.list %}
        {% if building.meps.count %}
        <li>{{ building.name }}</li>
        <ul>
            {% for floor in building.floors %}
            <li><a href="{% if town.grouper == "1047" %}{% url meps:bxl_floor building.id floor %}{% else %}{% url meps:stg_floor building.id floor %}{% endif %}">{{ floor|floors_suffix }} {% trans "floor" %}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}
