-extends "base.html"

-block title
  -blocktrans with building.name as building_name
    Members of the European Parliament in {{ building_name }} of the {{ floor }}th floor

-block content
  %h1
    -blocktrans with building.name as building_name
      Members of the European Parliament in {{ building_name }} of the {{ floor }}th floor

  %table.mep-list.tablesorter
    -include "meps/meps_table_thead.html"
    %tbody
      -for mep in meps
        -include "meps/meps_table_tr.html"
