{% load memopol2 i18n %}
<ul class="twelve columns">

<li>
{% if mep.emails %}
    <strong>{% trans "E-mail" %}:</strong>
    {% for email in mep.emails %}
      <a href="mailto:{{ email }}">{{ email }}</a>
      {% if not forloop.last %}—{% endif %}
    {% endfor %}
{% else %}
  {% trans "We don't have any email address for this european deputy" %}
{% endif %}
</li>
</ul>
<hr />

<ul class="six columns">
{% if mep.bxl_building %}
<li><strong>{% trans "Brussels" %}</strong><br/>
    {% trans "Building" %} {{ mep.bxl_building.name }} <a href="{% url meps:bxl_floor mep.bxl_building.id mep.bxl_floor %}">{{ mep.bxl_office }}</a><br/>
    {{ mep.bxl_building.street }}, {{ mep.bxl_building.postcode }} Bruxelles<br/>
    Tel.:  <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
    Fax: {{ mep.bxl_fax }}
</li>
{% endif %}
</ul>
<ul class="six columns">
{% if mep.stg_building %}
<li><strong>{% trans "Strasbourg" %}</strong><br/>
    {% trans "Building" %} {{ mep.stg_building.name }} <a href="{% url meps:stg_floor mep.stg_building.id mep.stg_floor %}">{{ mep.stg_office }}</a><br/>
    {{ mep.stg_building.street }}, {{ mep.stg_building.postcode }} Strasbourg Cedex<br/>
    Tel.:  <a href="callto://{{ mep.stg_phone1|phone }}">{{ mep.stg_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.stg_phone2|phone }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
    Fax: {{ mep.stg_fax }}
</li>
{% endif %}
</ul>
{% if not mep.stg_building and not mep.bxl_building %}
<p>{% trans "We don't have any contact information on this european deputy" %}</p>
{% endif %}
<hr />
<ul class="twelve columns">
<li><em>{% trans "Website&nbsp;: " %}</em><a href="http://www.europarl.europa.eu/meps/en/{{ mep.ep_id }}/{{ mep.first_name|slugify|capfirst }}_{{ mep.last_name|upper }}.html">{% trans "Page on the website of the European Parliament" %}</a></li>
{% for website in mep.website_set.all %}
  {% if website.url %}
  <li>
      <em>{% trans "Other website&nbsp;: " %}</em><a href="{{ website }}">{{ website }}</a>
  </li>
  {% endif %}
{% endfor %}

</ul>

