-extends "base.html"

-block title
  {{ mep }}{% trans ", member of the European Parliament" %}

-block content
  .row
    .twelve.columns{itemscope: None, itemtype: "http://schema.org/Product"}

      %dl.tabs
        %dd.active
          %a{href: "#profile"}
            Profile
        %dd
          %a{href: "#scores"}
            Scores
        %dd
          %a{href: "#committees"}
            -trans "Committees"
        %dd
          %a{href: "#cv"}
            -trans "CV"
        %dd
          %a{href: "#delegations"}
            -trans "Delegations"
        %dd
          %a{href: "#assistants"}
            -trans "Assistants"

      %ul.tabs-content
        %li#profileTab.active
          -include "meps/mep_detail/main.html"
        %li#scoresTab
          -include "meps/mep_detail/scores.html"
        %li#committeesTab
          -include "meps/mep_detail/committees.html"
        %li#cvTab
          -include "meps/mep_detail/cv.html"
        %li#delegationsTab
          -include "meps/mep_detail/delegations.html"
        %li#assistantsTab
          -include "meps/mep_detail/assistants.html"
