-extends "base.html"

-load memopol_tags

-block title
  -blocktrans with representative.first_name as representative_first_name and representative.last_name as representative_last_name and proposal.title as proposal_title
    Votes of {{ representative_first_name }} {{ representative_last_name }} on {{ proposal_title }}

-block content
  -url meps:mep representative.id as mep_url
  -url meps:detail proposal.id as proposal_url
  %h3
    -blocktrans with representative.first_name as representative_first_name and representative.last_name as representative_last_name and proposal.title as proposal_title and proposal.get_absolute_url as proposal_url
      Votes of <a href="{{ mep_url }}">{{ representative_first_name }} {{ representative_last_name }}</a> on <a href="{{ proposal_url }}">{{ proposal_title }}</a>

  .twelve.columns.floor
    %p= vote.recommendation.description
    -for vote in votes
      .row.panel
        .two.columns
          %div{class: "panel radius {{ vote.choice|scolorize_position:vote.recommendation.recommendation }} position"}
            =vote.choice

        .six.columns
          %a{href: "{% url meps:votes:recommendation proposal.id vote.recommendation.id %}"}
            -if vote.recommendation.description
              =vote.recommendation.description
            -else
              -trans "No description yet"

        .four.columns
          %ul{class: "{{ vote.recommendation.recommendation }} recommendation"}
            %li
              <em>{% trans "Part" %}</em> : {{ vote.recommendation.part }}

            -if vote.recommendation.recommendation
              %li
                <em>{% trans "Recommendation" %}</em> : <a href="{% url meps:votes:recommendation_choice proposal.id vote.recommendation.id vote.recommendation.recommendation %}">{{ vote.recommendation.recommendation }}</a>

            -if vote.recommendation.weight
              %li
                <em>Weight</em> : {{ vote.recommendation.weight }}

            %li
              <em>Max score</em> : {{ vote.recommendation.max_score|floatformat }}</li>
            %li
              <em>Points</em> : {{ vote.score }}</li>
            %li
              <em>{% trans "Vote" %}</em> : <a class="{% if vote.recommendation.recommendation == vote.choice %}ok{% else %}{% if vote.choice == "abstention" or vote.choice == "absent" %}abstention{% else %}nok{% endif %}{% endif %}" href="{% url meps:votes:recommendation_choice proposal.id vote.recommendation.id vote.choice %}">{{ vote.choice }}</a></li>

            / <li><em>Vote</em> : <a class="{% if vote.recommendation.recommendation == vote.choice %}ok{% else %}{% if vote.choice == "abstention" %}abstention{% else %}nok{% endif %}{% endif %}" href="{% url meps:votes:recommendation_choice proposal.id vote.recommendation.id vote.choice %}">{{ vote.choice }}</a></li>
