{% extends "base.html" %}

{% block title %}{% blocktrans with vote.title as vote_title %}{{ vote_title }}{% endblocktrans %}{% endblock %}

{% load cache %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

{% if vote %}
    <h3>{{ vote.title }}</h3>
{% endif %}

<dl class="tabs">
    <dd class="active"><a href="#simple1">Details</a></dd>
    <dd><a href="#simple2">Data</a></dd>
    <dd class="hide-for-small"><a href="#simple3">MEPs list</a></dd>
</dl>
<ul class="tabs-content">
    <li class="active" id="simple1Tab">
        {% include "meps/proposal_detail/main.html" %}
    </li>
  <li id="simple2Tab">
        {% include "meps/proposal_detail/data.html" %}
  </li>
  <li id="simple3Tab">
        {% include "meps/proposal_detail/representatives.html" %}
  </li>
</ul>


{% endblock %}
