{% extends "base.html" %}

{% block title %}{% blocktrans with vote.title as vote_title %}{{ vote_title }}{% endblocktrans %}{% endblock %}

{% load cache %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

{% if vote %}
    <h3>{{ vote.title }}</h3>
{% endif %}

<dl class="tabs">
    <dd class="active"><a href="#mep_votes">{% trans "MEPs votes" %}</a></dd>
    <dd><a href="#visualization">{% trans "Visualization" %}</a></dd>
    <dd><a href="#details">{% trans "Details" %}</a></dd>
</dl>
<ul class="tabs-content">
    <li class="active" id="mep_votesTab">
        {% include "meps/proposal_detail/representatives.html" %}
    </li>
  <li id="visualizationTab">
        {% include "meps/proposal_detail/data.html" %}
  </li>
  <li id="detailsTab">
        {% include "meps/proposal_detail/main.html" %}
  </li>
</ul>


{% endblock %}
