{% extends "base.html" %}

{% block title %}{% blocktrans with recommendation.subject as recommendation_subject and proposal.title as proposal_title %}Recommendation on {{ recommendation_subject }} for the proposal {{ proposal_title }}{% endblocktrans %}{% endblock %}

{% block content %}

<div class="twelve columns">
{% url meps:detail proposal.id as proposal_url %}
<h3>{% blocktrans with recommendation.subject as recommendation_subject and proposal.title as proposal_title %}Recommendation on {{ recommendation_subject }} for the proposal <a href="{{ proposal_url }}">{{ proposal_title }}</a>{% endblocktrans %}</h3>

<dl class="tabs">
  <dd class="active"><a href="#visualization">{% trans "Visualization" %}</a></dd>
  <dd><a href="#details">{% trans "Details" %}</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="visualizationTab">
    {% include "meps/recommendation_detail/data.html" %}
  </li>
  <li id="detailsTab">
    {% include "meps/recommendation_detail/main.html" %}
  </li>
</ul>
</div>
{% endblock %}