.sidebar {
    font-size: 80%;
}


ul.treelist {
    padding-left: 0px;
}

li ul.treelist {
    padding-left: 10px;
}

li ul.treelist li ul.treelist {
    padding-left: 20px;
}

li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 30px;
}

li ul.treelist li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 40px;
}

.clickable {
    cursor: pointer;
}


.uiform {
    border: 1px black solid;
    margin: 10px;
    padding: 10px;
}

#msg {
    background: #FFFECA;
    position: fixed;
    bottom: 0;
    font-size: 18px;
}
