{% extends "base.html" %}
{% load flatblock_tags %}
{% load cache %}

{% block title %}{% trans "Committees amending" %} {{dossier.id}} {{dossier.title}}{% endblock %}

{% block content %}

<h1>{% trans "Committees amending" %} {{dossier.id}} {{dossier.title}}</h1>

{% cache 6000000 pom_dossier_listing request.META.PATH_INFO %}
<table class="committee-list tablesorter">
  <tbody>
    {% for committee in dossier.committee_set.all|dictsortreversed:"date" %}
    <tr>
       <td><a href="../amendments/{{committee.pk}}/">{{committee.date}}</a></td>
       <td>{{committee.cid}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endcache %}

{% endblock %}
