# please to sort the lines :p
*~
build
.coverage
coverage.xml
develop-eggs
dist
*.egg
*.egg-info
eggs
.installed.cfg
nosetests.xml
pip-log.txt
*.py[co]
pylint.out
.tox
env
settings_local.py
*.swp
*.swo
matplotlib/
django-contact-form/
memopol2/medias/*
memopol2/templates/snippets/*
static/img/
*.index
tmp/*