# please to sort the lines :p
*~
build
.coverage
coverage.xml
develop-eggs
dist
*.egg
*.egg-info
eggs
.installed.cfg
nosetests.xml
pip-log.txt
*.py[co]
pylint.out
.tox
settings_local.py
*.swp
*.swo
env
