Django==1.3
South==0.7.3
django-debug-toolbar==0.8.4
numpy==1.5.1
git+http://github.com/matplotlib/matplotlib.git@3bf76b9fe6152280950168f9a3791f56c508eeed#egg=matplotlib
hg+https://bitbucket.org/gregmuellegger/django-contact-form-i18n#egg=django-contact-form
django-flatblocks==0.5
django-awesome-snippets>=0.2
whoosh
lxml
pyquery
WebTest
nose
