Django==1.2.5
South==0.7.3
Werkzeug==0.6.2
restkit==2.3.3
anyjson==0.3
couchdbkit==0.5.1
distribute==0.6.14
django-annoying==0.7.6
django-debug-toolbar==0.8.4
django-extensions==0.6
wsgiref==0.1.2
yolk==0.4.1
simplejson==2.1
Markdown==2.0.3
numpy==1.5.1
git+http://github.com/matplotlib/matplotlib.git@3bf76b9fe6152280950168f9a3791f56c508eeed#egg=matplotlib
PIL==1.1.7
