{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/picnet.table.filter.min.js"></script>
{% endblock %}

{% block content %}

{% if meps %}
<h1><img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ group.code|cut:"/" }}.png" />{% trans "Members of the European Parliament" %}{% trans " from " %}  {{ group.name }}</h1>

<table class="mep-list tablesorter"> 
  {% include "meps/meps_table_thead.html" %}
  <tbody>
    {% for mep in meps %}
      {% include "meps/meps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
{% block documentReady %}

  activateCollapsible();
  jQuery(".mep-list").tablesorter({ headers: { 3: { sorter: false }, }  });
  jQuery('.mep-list').tableFilter();

{% endblock %}
