{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by committee" %}{% endblock %}

{% block content %}

<h1>{% trans "Members of the European Parliament by committee" %}</h1>
{% flatblock "by_committee.info" %}
<ul class="committees">
{% for committee in object_list %}
    {% if committee.meps|length %}
    <li>
        <a href="{% url meps:index_by_committee committee.abbreviation %}">{{ committee.name }} ({{ committee.abbreviation }})</a>
        {% blocktrans with committee.meps_count as count %} - {{ count }} Members {% endblocktrans %}
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
