{% extends "base.html" %}

{% block content %}

<h1>{% trans "MEPs by country" %}</h1>
{% include "map-eu.html" %}
<ul class="col">
{% for country in object_list %}
    <li>
        <a href="{% url meps:index_by_country country.code %}">
            <img src="{{ MEDIA_URL }}img/countries/small/{{ country.code }}.png"/>
            {{ country.name }}</a>&nbsp;
        {% blocktrans with country.meps|length as count %} - {{ count }} MEPs {% endblocktrans %}
    </li>
{% endfor %}
</ul>

{% endblock %}
