{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by country" %}{% endblock %}

{% block content %}

<h1>{% trans "Members of the European Parliament by country" %}</h1>
{% include "map-eu.html" %}

<div class="prefix_2 grid_8 suffix_2 top_space_2">
<div style="text-align: center;">{% flatblock "by_country.info" %}</div>
<ul class="col">
{% for country in object_list %}
    <li>
        <a href="{% url meps:index_by_country country.code %}">
            <img src="{{ MEDIA_URL }}img/countries/small/{{ country.code }}.png"/>
            {{ country.name }}</a>&nbsp;
        {% blocktrans with country.meps|length as count %} - {{ count }} Members {% endblocktrans %}
    </li>
{% endfor %}
</ul>
</div>

{% endblock %}
