{% extends "base.html" %}
{% load flatblock_tags %}

{% block content %}

<h1>{% trans "MEPs by delegation" %}</h1>
{% flatblock "by_delegation.info" %}
<ul class="delegations">
{% for delegation in object_list %}
    {% if delegation.meps|length %}
    <li>
        <a href="{% url meps:index_by_delegation delegation.id %}">{{ delegation.name }}</a>
        {% blocktrans with delegation.meps|length as count %} - {{ count }} MEPs {% endblocktrans %}
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
