{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by political group" %}{% endblock %}

{% block content %}

<h1>{% trans "Members of the European Parliament by political group" %}</h1>
{% flatblock "by_group.info" %}
<ul class="groups">
{% for group in object_list %}
    {% if group.meps.count %}
    <li>
        <a href="{% url meps:index_by_group group.abbreviation %}">
        <img src="{{ MEDIA_URL }}img/groups/eu/{{ group.abbreviation|cut:"/" }}.png" />
        </a>
        <a href="{% url meps:index_by_group group.abbreviation %}">
            {{ group.name }} ({{ group.abbreviation }})
        </a>
        {% blocktrans with group.meps|length as count %} - {{ count }} Members {% endblocktrans %}
    </li>
    {% endif %}
{% endfor %}
</ul>
<br />
{% include "hemicycle-eu.html" %}

{% endblock %}
