{% extends "base.html" %}
{% load recursedict %}

{% block sidelinks %}
    <li><a href="{% url meps:mep_raw mep_id %}">{% trans "View Raw JSON" %}</a></li>
{% endblock %}

{% block content %}
<article>
<header><h1 id="name">{{ data.infos.name.first }} {{ data.infos.name.last|upper }}, eurodéputé" %}</h1></header>

<section id="summary">
<h1 class="collapsible expanded">{% trans "Informations générales" %}</h1>

<ul id="infos" class="body">

<div class="quickView">
<img class="mugshot" src="http://www.europarl.europa.eu/mepphoto/{{ data.extid }}.jpg" onerror="onMugshotError(this);"/>
<span>{{ data.infos.name.first }} {{ data.infos.name.last|upper }} <img src="{{ MEDIA_URL }}img/countries/small/{{ data.infos.constituency.country.code }}.png"/> </span>
<img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ data.infos.group.abbreviation|cut:"/" }}.png"/><a href="{% url meps:index_by_group data.infos.group.abbreviation %}">{{ data.infos.group.abbreviation }}</a>
</div>

<li><i>{% if data.infos.gender == "F" %}{% trans "Née le" %}{% else %}{% trans "Né le" %}{% endif %}</i>
{% blocktrans with day=data.infos.birth.date.day month=data.infos.birth.date.month year=data.infos.birth.date.year city=data.infos.birth.place.city %}{{ day }}/{{ month }}/{{ year }} <i>à</i> {{ city }}{% endblocktrans %}</li>
<li><i>{% trans "Pays" %}</i>:  <img src="{{ MEDIA_URL }}img/countries/small/{{ data.infos.constituency.country.code }}.png"/> {{ data.infos.constituency.country.name }} </li>
<li><i>{% trans "Groupe politique&nbsp;: " %}</i><a href="{% url meps:index_by_group data.infos.group.abbreviation %}">{{ data.infos.group.name }} ({{ data.infos.group.abbreviation }})</a></li>
{% if data.infos.group.party %}<li><i>{% trans "Parti&nbsp;: " %}</i>{{ data.infos.group.party }}</li>{% endif %}
</ul>

<div id="contact">
	<h2 class="collapsible expanded">{% trans "Contact" %}</h2>

		<ul class="body">
		{% for addr in data.contact.address %}
		<li><b>{{ addr.label|default:_("Autre adresse") }}</b><br/>
			{% if addr.building %} {% trans "Bâtiment" %} {{ addr.building.name }} {{ addr.office}}<br/>{% endif %}
			{{ addr.street }}, {{ addr.postcode }} {{ addr.city }}<br/>
			{% if addr.phone %}{% trans "Tél.: " %}{% for phone in addr.phone %} <a href="callto://{{ phone|cut:" " }}">{{ phone }}</a>&nbsp;{% endfor %}<br/>{% endif %}
			{% if addr.fax %}{% trans "Fax: " %}{{ addr.fax }}{% endif %}
			 
		</li>
		{% endfor %}
		
		
		<li><i>{% trans "E-mail&nbsp;: " %}</i><a href="mailto:{{ data.contact.email.text }}">{{ data.contact.email.text }}</a></li>
			
		{% for webaddr in data.contact.web %}
		<li>
		    <i>{% trans "Web&nbsp;: " %}</i><a target="_" href="{{ webaddr.text }}">{{ webaddr.type|default:webaddr.text }}</a>
		</li>
		{% endfor %}
		
		</ul>
</div>

{% if data.functions %}
<div id="functions">
    <h2 class="collapsible collapsed">{% trans "Fonctions" %}</h2>
    <ul class="body">
    {% for function in data.functions %}
        <li>{{ function.role }} - {{ function.label }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if data.cv.position %}
<div id="cv">
    <h2 class="collapsible collapsed">{% trans "CV" %}</h2>
    <ul class="body">
    {% for line in data.cv.position %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if data.opinions %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Prises de position (memopol v1)" %}</h2>
    <ul class="body">
    {% for line in data.opinions %}
        <li><b>{{ line.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.url }}"><br/>{% trans "En savoir plus..." %}</a> </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if data.scores %}
<div id="scores">
    <h2 class="collapsible collapsed">{% trans "Scores" %}</h2>
    <ul class="body">
    {% for score in data.scores %}
    <li>{{ score.label }}: <strong>{{ score.value }}</strong> (le {{ score.date }})<br/><a target="_" href="http://www.laquadrature.net/wiki/{{ score.wiki }}">{% trans "En savoir plus..." %}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

</section>


<section id="positions">
    <h1>{% trans "Prises de position" %}</h1>

    {% for pos in positions %}
        {% if pos.visible %}
        <article><h2>{% trans "Position" %}</h2>{{ pos.content }}</article>
        {% endif %}
    {% endfor %}

    <aside id="positionsnote">
    {% ifequal visible_count 0 %}
    {% ifnotequal positions|length visible_count %}
    {% trans "Des prises de position sont en attente de modération." %}
    {% else %}
    {% trans "Aucune prise de position enregistrée pour l'instant, mais vous pouvez contribuer en en ajoutant une !" %}
    {% endifnotequal %}
    {% endifequal %}
    </aside>



<script type="text/javascript">

function addPositionSubmitButtonClicked()
{
    var contents = jQuery("#text").val();
    if (contents.length == 0)
    {
        msg("{% trans "La zone de saisie est vide, veuillez entrer du texte..." %}", 1, "red");
        return;
    }

    var btn = jQuery(this);
    startSpinner(btn);
    disable("#addPositionCancelButton");

    ajax_addPosition("{{mep_id}}", contents, function(json) {

        stopSpinner(btn);
        enable("#addPositionCancelButton");

        if (json['success'])
        {
            changeVisibility({addPosition: false, addPositionButton: true});
            jQuery("#text").val("");
            msg("{% trans "Votre contribution a bien été prise en compte" %}", 1);
        }
        else
        {
            msg("{% trans "Une erreur a eu lieu, votre contribution n'a pas été enregistrtée" %}", 0, "red");
        }
    });
}

</script>


<div id="addPosition" class="uiform" style="display: none" tabindex="1">
    <h3>{% trans "Ajout d'une prise de position" %}</h3>
    <p>{% trans "Ce formulaire vout permet d'ajouter une prise de position de ce député. Votre ajout ne sera affiché publiquement sur le site qu'après modération."% }</p>
    <br/>
    <textarea rows="5" cols="80" name="text" id="text" placeholder="{% trans "Entrez ici le texte de la prise de position" %}"></textarea>
    <br/>
    <button id="addPositionSubmitButton" class="submit">{% trans "Ajouter" %}</button>
    <button id="addPositionCancelButton" class="cancel">{% trans "Abandonner" %}</button>
</div>

<button id="addPositionButton" class="submit">{% trans "Ajouter une prise de position" %}</button>
</section>

</article>




{% endblock %}
{% block documentReady %}

    activateCollapsible();

    onClickChangeVisibility("addPositionButton", {addPosition: true, addPositionButton: false});
    onClickChangeVisibility("addPositionCancelButton", {addPosition: false, addPositionButton: true});
    jQuery("#addPositionSubmitButton").click(addPositionSubmitButtonClicked);

{% endblock %}
