{% extends "base.html" %}

{% block sidelinks %}
    <li><a href="{% url meps:mep_raw mep.key_name %}">{% trans "View Raw JSON" %}</a></li>
{% endblock %}

{% block content %}
<article>
<header><h1 id="name">{{ mep.first_name }} {{ mep.last_name|upper }}{% trans ", member of the european parliament" %}</h1></header>

<section id="summary">
<h1 class="collapsible expanded">{% trans "General information" %}</h1>

<ul id="infos" class="body">

<div class="quickView">
<img class="mugshot" src="http://www.europarl.europa.eu/mepphoto/{{ mep.ep_id }}.jpg" onerror="onMugshotError(this);"/>
<span>{{ mep.first_name }} {{ mep.last_name|upper }} <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> </span>
<a href="{% url meps:index_by_group mep.group.abbreviation %}"><img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ mep.group.abbreviation|cut:"/" }}.png"/></a><ul>{% for i in mep.achievements %}<li><img alt="{{ i.0 }}" src="{{ MEDIA_URL }}img/trophies/{{ i.1 }}" /></li>{% endfor %}</ul></div>

<li><i>{% trans "Active: " %}</i>{% if mep.active %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}
<li><i>{% trans "Country" %}</i>:  <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> <a href="{% url meps:index_by_country mep.country.code %}">{{ mep.country.name }} </li></a>
<li><i>{% trans "Political group: " %}</i><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
{% if mep.party.name %}<li><i>{% trans "Party: " %}</i>{{ mep.party.name }}</li>{% endif %}
<li><i>{% if mep.gender == "F" %}{% trans "Born on (female)" %}{% else %}{% trans "Born on" %}{% endif %}</i>
{% blocktrans with mep.birth_date.day as day and mep.birth_date.month as month and mep.birth_date.year as year and mep.birth_place as birth_place %}{{ day }}/{{ month }}/{{ year }}<i> at </i>{{ birth_place }}{% endblocktrans %}</li>
</ul>

<div id="contact">
    <h2 class="collapsible expanded">{% trans "Contact" %}</h2>

        <ul class="body">

        <li><b>{% trans "Bruxelles" %}</b><br/>
            Building {{ mep.bxl_building_name }} {{ mep.bxl_office }}<br/>
            {{ mep.bxl_street }}, {{ mep.bxl_postcode }} Bruxelles<br/>
            Tel.:  <a href="callto://{{ mep.bxl_phone1|cut:" " }}">{{ mep.bxl_phone1 }}</a>&nbsp;<a href="callto://{{ mep.bxl_phone2|cut:" " }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
            Fax: {{ mep.bxl_fax }}
        </li>

        <li><b>{% trans "Strasbourg" %}</b><br/>
            Building {{ mep.stg_building_name }} {{ mep.stg_office }}<br/>
            {{ mep.stg_street }}, {{ mep.stg_postcode }} Strasbourg Cedex<br/>
            Tel.:  <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
            Fax: {{ mep.stg_fax }}
        </li>


        <li><i>{% trans "E-mail&nbsp;: " %}</i>{% for email in mep.email_set.all %}<a href="mailto:{{ email }}">{{ email }}</a> {% endfor %}</li>

        <li><i>{% trans "Website&nbsp;: " %}</i><a target="_" href="{{ mep.ep_webpage }}">{% trans "Page sur le site du Parlement européen" %}</a></li>
        {% for website in mep.website_set.all %}
        <li>
            <i>{% trans "Other website&nbsp;: " %}</i><a target="_" href="{{ website }}">{{ website }}</a>
        </li>
        {% endfor %}

        </ul>
</div>

{% if mep.committerole_set.all %}
<div id="committes">
    <h2 class="collapsible collapsed">{% trans "Committes" %}</h2>
    <ul class="body">
    {% for role in mep.committerole_set.all %}
        <li><a href="{% url meps:index_by_committe role.committe.abbreviation %}">{{ role.role }} - {{ role.committe }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.deleguationrole_set.all %}
<div id="deleguations">
    <h2 class="collapsible collapsed">{% trans "Deleguations" %}</h2>
    <ul class="body">
    {% for role in mep.deleguationrole_set.all %}
        <li><a href="{% url meps:index_by_deleguation role.deleguation.id %}">{{ role.role }} - {{ role.deleguation }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.cv_set.all %}
<div id="cv">
    <h2 class="collapsible collapsed">{% trans "CV" %}</h2>
    <ul class="body">
    {% for line in mep.cv_set.all %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.opinionmep_set.all %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Opinions (memopol v1)" %}</h2>
    <ul class="body">
     {% for line in mep.opinionmep_set.all %}
         <li><b>{{ line.opinion.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>{% trans "Read more..." %}</a> </li>
     {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.scores %}
    <div id="scores">
        <h2 class="collapsible collapsed">{% trans "Scores average" %} : {{ average|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in score_list %}
        <li style="background:{{ score.color }}">

            {{ score.label }}: <strong>{{ score.value }}</strong> ({% trans "on" %} {{ score.date }})<br/><a target="_" href="http://www.laquadrature.net/wiki/{{ score.wiki }}">{% trans "Read more..." %}</a>
            </li>
        {% endfor %}
        </ul>
        <img src="/static/img/trends/meps/{{ mep_id }}-scores.png" />
    </div>
{% endif %}

</section>


<section id="positions">
    <h1>{% trans "Opinions" %}</h1>

    {% for pos in positions %}
        {% if pos.visible %}
        <article><h2>{% trans "Opinion" %}</h2>{{ pos.content }}</article>
        {% endif %}
    {% endfor %}

    <aside id="positionsnote">
    {% ifequal visible_count 0 %}
    {% ifnotequal positions|length visible_count %}
    {% trans "Some opinions are awaiting moderation." %}
    {% else %}
    {% trans "No opinion is currently recorded, but you can contribute by adding one!" %}
    {% endifnotequal %}
    {% endifequal %}
    </aside>



<script type="text/javascript">

function addPositionSubmitButtonClicked()
{
    var contents = jQuery("#text").val();
    if (contents.length == 0)
    {
        msg("{% trans "The input text is empty, please enter some text..." %}", 1, "red");
        return;
    }

    var btn = jQuery(this);
    startSpinner(btn);
    disable("#addPositionCancelButton");

    ajax_addPosition("{{mep_id}}", contents, function(json) {

        stopSpinner(btn);
        enable("#addPositionCancelButton");

        if (json['success'])
        {
            changeVisibility({addPosition: false, addPositionButton: true});
            jQuery("#text").val("");
            msg("{% trans "Your contribution has been recorded" %}", 1);
        }
        else
        {
            msg("{% trans "An error appeared, your contribution was not recorded" %}", 0, "red");
        }
    });
}

</script>


<div id="addPosition" class="uiform" style="display: none" tabindex="1">
    <h3>{% trans "Add an opinion" %}</h3>
    <p>{% trans "This form allows you to add an opinion of one MEP. This opinion will only be published after being moderated."%}</p>
    <br/>
    <textarea rows="5" cols="80" name="text" id="text" placeholder="{% trans "Enter this MEP's opinion here" %}"></textarea>
    <br/>
    <button id="addPositionSubmitButton" class="submit">{% trans "Add" %}</button>
    <button id="addPositionCancelButton" class="cancel">{% trans "Cancel" %}</button>
</div>

<button id="addPositionButton" class="submit">{% trans "Add an opinion" %}</button>
</section>

</article>




{% endblock %}
{% block documentReady %}

    activateCollapsible();

    onClickChangeVisibility("addPositionButton", {addPosition: true, addPositionButton: false});
    onClickChangeVisibility("addPositionCancelButton", {addPosition: false, addPositionButton: true});
    jQuery("#addPositionSubmitButton").click(addPositionSubmitButtonClicked);

{% endblock %}
