{% extends "base.html" %}
{% load flatblock_tags %}

{% block content %}

{% if not header_template %}
<h1>{% trans "Members of the European Parliament" %}</h1>
{% else %}
{% include header_template %}
{% endif %}

{% if score_listing %}
    {% flatblock "by_total_score.info" %}
{% else %}
    {% flatblock "by_name.info" %}
{% endif %}

<table class="mep-list tablesorter"> 
  {% include "meps/meps_table_thead.html" %}
  <tbody>
    {% for mep in object_list %}
    {% if not score_listing or mep.total_score %}
      {% include "meps/meps_table_tr.html" %}
    {% endif %}
    {% endfor %}

    {% if score_listing %}
    {% for mep in object_list %}
      {% if not mep.total_score %}
      {% include "meps/meps_table_tr.html" %}
      {% endif %}
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
