{% load memopol2 i18n %}
<ul class="body">

{% if mep.emails %}
  <li>
    <b>{% trans "E-mail" %}:</b>
    {% for email in mep.emails %}
      <a class="highlight" href="mailto:{{ email }}">{{ email }}</a>
      {% if not forloop.last %}-{% endif %}
    {% endfor %}
  </li>
{% endif %}
<li class="sep">&nbsp;</li>

<li><b>{% trans "Bruxelles" %}</b><br/>
    Building {{ mep.bxl_building.name }} {{ mep.bxl_office }}<br/>
    {{ mep.bxl_building.street }}, {{ mep.bxl_building.postcode }} Bruxelles<br/>
    Tel.:  <a class="highlight call-now" href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a class="highlight" href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
    Fax: {{ mep.bxl_fax }}
</li>
<li class="sep">&nbsp;</li>

<li><b>{% trans "Strasbourg" %}</b><br/>
    Building {{ mep.stg_building.name }} {{ mep.stg_office }}<br/>
    {{ mep.stg_building.street }}, {{ mep.stg_building.postcode }} Strasbourg Cedex<br/>
    Tel.:  <a class="highlight" href="callto://{{ mep.stg_phone1|phone }}">{{ mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a class="highlight" href="callto://{{ mep.stg_phone2|phone }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
    Fax: {{ mep.stg_fax }}
</li>
<li class="sep">&nbsp;</li>


<li><i>{% trans "Website&nbsp;: " %}</i><a target="_" href="{{ mep.ep_webpage }}">{% trans "Page sur le site du Parlement européen" %}</a></li>
{% for website in mep.website_set.all %}
{% if website.url %}
<li>
    <i>{% trans "Other website&nbsp;: " %}</i><a target="_" href="{{ website }}">{{ website }}</a>
</li>
{% endif %}
{% endfor %}

</ul>
