{% extends "base.html" %}
{% load comments i18n %}

{% block title %}{{ mep }}{% trans ", member of the european parliament" %} - Memopol{% endblock %}

{% block content %}
<article>
<header><h1 class="document-title" id="name">{{ mep }}{% trans ", member of the european parliament" %}</h1></header>

<section id="summary">
<h2>{% trans "General information" %}</h2>

<ul id="infos" class="body">

<div class="quickView">
<img class="mugshot" alt="{{ mep }}" src="{% url meps:mep-picture mep.ep_id %}" onerror="onMugshotError(this);"/>
<span>{{ mep }} <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> </span>
<a href="{% url meps:index_by_group mep.group.abbreviation %}" title="show the {{ mep.group.abbreviation }} group"><img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ mep.group.abbreviation|cut:"/" }}.png" alt="{{ mep.group.abbreviation }}"/></a><ul>{% for i in mep.achievements %}<li><img alt="{{ i.0 }}" src="{{ MEDIA_URL }}img/trophies/{{ i.1 }}" /></li>{% endfor %}</ul>
<a href="#" id="call-now" />
  <img src="{{ MEDIA_URL }}img/call_now_en.png" />
</a>
</div>


{% if not mep.active %}<li><div class="nok">{% trans "Former mep" %}</div></li>{% endif %}
<li><i>{% trans "Country" %}</i>:  <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> <a href="{% url meps:index_by_country mep.country.code %}">{{ mep.country.name }} </li></a>
<li><i>{% trans "Political group: " %}</i><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
{% for post in mep.important_posts %}
<li><b>{{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a> since {{ post.begin }}</b></li>
{% endfor %}
<li><i>{% trans "National party: " %}</i><a href="{% url meps:index_by_party mep.party.id mep.party.name|slugify %}">{{ mep.party.name }}</a></li>
<li><i>Born on</i>
{% blocktrans with mep.birth_date.day as day and mep.birth_date.month as month and mep.birth_date.year as year and mep.birth_place as birth_place %}{{ day }}/{{ month }}/{{ year }}<i> at </i>{{ birth_place }}{% endblocktrans %}</li>
</ul>

<div class="rounded_box" id="contact">
    <h2>{% trans "Contact" %}</h2>
    {% include "meps/mep_contact.html" %}
</div>

{% if mep.previous_mandates %}
<div id="mandates">
    <h2 class="collapsible collapsed">{% trans "Previous mandates" %}</h2>
    <ul class="body mandates">
    {% for role in mep.previous_mandates %}
        <li><img src="{{ MEDIA_URL }}img/countries/small/{{ role.country.code }}.png"/><i> Was MEP of {{ role.country.name }} for {{ role.party }} form {{ role.begin|date:"d/m/y" }} to {{ role.end|date:"d/m/y" }}</i></li>
    {% endfor %}
</div>
{% endif %}

{% if mep.committeerole_set.all %}
<div id="committees">
    <h2 class="collapsible collapsed">{% trans "Committees" %}</h2>
    <ul class="body committees">
    {% for role in mep.current_committees %}
        <li><a href="{% url meps:index_by_committee role.committee.abbreviation %}">{{ role.role }} of {{ role.committee }}</a></li>
    {% endfor %}
    {% if mep.old_committees %}
    <li class="noicon">-</li>
    {% for role in mep.old_committees %}
        <li class="old"><i>Was {{ role.role|lower }} in {{ role.committee }} from {{ role.begin|date:"d/m/y" }} to {{ role.end|date:"d/m/y" }}</i></li>
    {% endfor %}
    {% endif %}
    </ul>
</div>
{% endif %}

{% if mep.delegationrole_set.all %}
<div id="delegations">
    <h2 class="collapsible collapsed">{% trans "Delegations" %}</h2>
    <ul class="body delegations">
    {% for role in mep.current_delegations %}
        <li><a href="{% url meps:index_by_delegation role.delegation.id %}">{{ role.role }} of {{ role.delegation }}</a></li>
    {% endfor %}
    {% if mep.old_delegations %}
    <li class="noicon">-</li>
    {% for role in mep.old_delegations %}
        <li class="old"><i>Was {{ role.role|lower }} in {{ role.delegation }} from {{ role.begin|date:"d/m/y" }} to {{ role.end|date:"d/m/y" }}</i></li>
    {% endfor %}
    {% endif %}
    </ul>
</div>
{% endif %}

{% if mep.old_organizations %}
<div id="staff">
    <h2 class="collapsible collapsed">{% trans "Old staff" %}</h2>
        <ul class="body organisations">
    {% for staff in mep.old_organizations %}
    <li class="old"><i>Was {{ staff.role }} in {{ staff.organization.name }} {% trans "from" %} {{ staff.begin }} {% trans "to" %} {{ staff.end }}</i></li>
    {% endfor %}
        </ul>
</div>
{% endif %}

{% if mep.cv_set.all %}
<div id="cv">
    <h2 class="collapsible collapsed">{% trans "CV" %}</h2>
    <ul class="body">
    {% for line in mep.cv_set.all %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.opinionrep_set.all %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Opinions (memopol v1)" %}</h2>
    <ul class="body opinions">
     {% for line in mep.opinionrep_set.all %}
         <li><b>{{ line.opinion.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>{% trans "Read more..." %}</a> </li>
     {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.score_set.all %}
    <div id="scores">
        <h2 class="collapsible expanded">{% trans "Total score" %} : {{ mep.total_score|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in mep.score_set.all %}
        <li style="border-color:{{ score.color }};">
          <div class="score-color" style="background-color:{{ score.color }};"></div>
          <div class="inner-score">
            <a href="{% url votes:rep score.proposal.id mep.id %}">{{ score.proposal.title }}</a>: <strong>{{ score.value }}</strong> ({% trans "on" %} {{ score.date }})<br/><a href="http://www.laquadrature.net/wiki/{{ score.proposal.id }}">{% trans "Read more..." %}</a>
          </div>
        </li>
        {% endfor %}
        </ul>
        {% if mep.score_set.all.count > 1 %}
            <img src="{% url trends:comparaison_trends mep.id %}" />
        {% endif %}
    </div>
{% endif %}

{% get_comment_list for mep as comment_list %}
{% if comment_list %}
<h2 class="collapsible collapsed">Notes</h2>
   <div class="body">
      {% for comment in comment_list %}
         <div>
            <div>{{ comment.comment }}</div>
            {% if comment.user_url %}<div>{{ comment.user_url }}</div>{% endif %}
            <div>{{ comment.submit_date }}</div>
         </div>
      {% endfor %}
   </div>
{% endif %}
<h2 class="collapsible collapsed">Add note</h2>
<div class="body">
  {% render_comment_form for mep %}
</div>
</section>

</article>

{% endblock %}
