{% extends "base.html" %}

{% block content %}
<article>
<header><h1 id="name">{{ mep.first_name }} {{ mep.last_name|upper }}{% trans ", member of the european parliament" %}</h1></header>

<section id="summary">
<h1 class="collapsible expanded">{% trans "General information" %}</h1>

<ul id="infos" class="body">

<div class="quickView">
<img class="mugshot" src="{% url meps:mep-picture mep.ep_id %}" onerror="onMugshotError(this);"/>
<span>{{ mep.first_name }} {{ mep.last_name|upper }} <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> </span>
<a href="{% url meps:index_by_group mep.group.abbreviation %}"><img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ mep.group.abbreviation|cut:"/" }}.png"/></a><ul>{% for i in mep.achievements %}<li><img alt="{{ i.0 }}" src="{{ MEDIA_URL }}img/trophies/{{ i.1 }}" /></li>{% endfor %}</ul></div>

<li><i>{% trans "Active: " %}</i>{% if mep.active %}{% trans "yes" %}{% else %}{% trans "no" %}{% endif %}
<li><i>{% trans "Country" %}</i>:  <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> <a href="{% url meps:index_by_country mep.country.code %}">{{ mep.country.name }} </li></a>
<li><i>{% trans "Political group: " %}</i><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
{% for partyrepresentative in mep.partyrepresentative_set.all %}
    <li><i>{% trans "Party: " %}</i><a href="{% url meps:index_by_party partyrepresentative.party.id %}">{{ partyrepresentative.party.name }}</a></li>
{% endfor %}
<li><i>{% if mep.gender == "F" %}{% trans "Born on (female)" %}{% else %}{% trans "Born on" %}{% endif %}</i>
{% blocktrans with mep.birth_date.day as day and mep.birth_date.month as month and mep.birth_date.year as year and mep.birth_place as birth_place %}{{ day }}/{{ month }}/{{ year }}<i> at </i>{{ birth_place }}{% endblocktrans %}</li>
</ul>

<div id="contact">
    <h2 class="collapsible expanded">{% trans "Contact" %}</h2>
    {% include "meps/mep_contact.html" %}
</div>

{% if mep.committerole_set.all %}
<div id="committes">
    <h2 class="collapsible collapsed">{% trans "Committes" %}</h2>
    <ul class="body">
    {% for role in mep.committerole_set.all %}
        <li><a href="{% url meps:index_by_committe role.committe.abbreviation %}">{{ role.role }} - {{ role.committe }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.delegationrole_set.all %}
<div id="delegations">
    <h2 class="collapsible collapsed">{% trans "Delegations" %}</h2>
    <ul class="body">
    {% for role in mep.delegationrole_set.all %}
        <li><a href="{% url meps:index_by_delegation role.delegation.id %}">{{ role.role }} - {{ role.delegation }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.cv_set.all %}
<div id="cv">
    <h2 class="collapsible collapsed">{% trans "CV" %}</h2>
    <ul class="body">
    {% for line in mep.cv_set.all %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.opinionmep_set.all %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Opinions (memopol v1)" %}</h2>
    <ul class="body">
     {% for line in mep.opinionmep_set.all %}
         <li><b>{{ line.opinion.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>{% trans "Read more..." %}</a> </li>
     {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.score_set.all %}
    <div id="scores">
        <h2 class="collapsible expanded">{% trans "Scores average" %} : {{ mep.average_scores|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in mep.score_set.all %}
        <li style="background:{{ score.color }}">

            <a href="{% url votes:rep score.proposal.id mep.id %}">{{ score.proposal.title }}</a>: <strong>{{ score.value }}</strong> ({% trans "on" %} {{ score.date }})<br/><a target="_" href="http://www.laquadrature.net/wiki/{{ score.proposal.id }}">{% trans "Read more..." %}</a>
        </li>
        {% endfor %}
        </ul>
        {% if mep.score_set.all.count > 1 %}
            <img src="{% url trends:trends mep.id %}" />
        {% endif %}
    </div>
{% endif %}

</section>

</article>

{% endblock %}
{% block documentReady %}

    activateCollapsible();

{% endblock %}
