{% load memopol2 i18n %}
<tr>
  {% if score_listing %}
  <td>
      {% if mep.position %}
      {{ mep.position }}
      {% else %}
      No scores
      {% endif %}
  </td>
  {% endif %}
  <td>
    <a href="{{ mep.get_absolute_url }}">{{ mep.last_name|upper }} {{ mep.first_name }}</a>
  </td>
  {% if not 'country' in hidden_fields %}
  <td>
    {% if mep.country %}
    <a href="{% url meps:index_by_country mep.country.code %}">
      <img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/>
      {{ mep.country.name }}
    </a>
    {% else %}
    -
    {% endif %}
  </td>
  {% endif %}
  {% if not 'group' in hidden_fields %}
  <td>
    {% if mep.group %}
    <a href="{% url meps:index_by_group mep.group.abbreviation %}">
      <img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ mep.group.abbreviation|cut:"/" }}.png" />
      {{ mep.group.abbreviation }}
    </a>
    {% else %}
    -
    {% endif %}
  </td>
  {% endif %}
  {% if not 'party' in hidden_fields %}
  <td>
    <a href="{% url meps:index_by_party mep.party.id %}">{{ mep.party.name }}</a>
  </td>
  {% endif %}
  <td>
    <div class="body">
      <ul class="body">
        <li><b>{% trans "Bruxelles" %}</b>
         {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
        </li>
        <li><b>{% trans "Strasbourg" %}</b>
        {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
        </li>
        {% if mep.emails %}
          <li>
            <b>{% trans "E-mail" %}:</b>
            {% for email in mep.emails %}
              <a href="mailto:{{ email }}">{{ email }}</a>
              {% if not forloop.last %}-{% endif %}
            {% endfor %}
          </li>
        {% endif %}
      </ul>
      <a class="more-contact" href="{% url meps:mep_contact mep.id %}">{% trans "More informations" %}...</a>
    </div>
  </td>
  {% if score_listing %}
  <td>
      {% if mep.score_set.all %}
      <div class="scores" {% if mep.total_score %}style="background-color: {{ mep.score_color }};"{% endif %}>
          <ul>
          {% for score in mep.score_set.all %}
              <li>{{ score.proposal.title }}: {{ score.value }}</li>
          {% endfor %}
          </ul>
      </div>
      {% else %}
      -
      {% endif %}
  </td>
  {% endif %}
</tr>
