{% load memopol2 i18n %}
{% load meps_role %}
{% load votes_tags %}
<tr>
  {% if score_listing %}
  <td>
      {% if mep.position %}
      {{ mep.position }}
      {% else %}
      No scores
      {% endif %}
  </td>
  {% endif %}
  <td>
    <a href="{{ mep.get_absolute_url }}">{{ mep.first_name }} {{ mep.last_name|upper }}</a>
  </td>
  {% if not 'country' in hidden_fields %}
  <td>
    {{ mep.country_tag|safe }}
  </td>
  {% endif %}
  {% if not 'group' in hidden_fields %}
  <td>
    {{ mep.group_tag|safe }}
  </td>
  {% endif %}
  {% if not 'party' in hidden_fields %}
  <td>
    {{ mep.party_tag|safe }}
  </td>
  {% endif %}
  {% if choice_listing %}
  <td>
      <div class="{% if choice == recommendation.recommendation %}ok{% else %}{% if choice == "abstention" or choice == "absent" %}abstention{% else %}nok{% endif %}{% endif %}">{{ choice }}</div>
  </td>
  {% endif %}
  {% if organization_role %}
  <td>
      {% current_organization_role mep object %}
  </td>
  {% endif %}
  {% if group_role %}
  <td>
      {{ mep.groupmep.role }}
  </td>
  {% endif %}
  {% if committee_role %}
  <td>
      {% current_committee_role mep object %}
  </td>
  {% endif %}
  {% if delegation_role %}
  <td>
      {% current_delegation_role mep object %}
  </td>
  {% endif %}
  <td>
    <div class="body">
      <ul class="body">
        <li><b>{% trans "Brussels" %}</b>
         {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
        </li>
        <li><b>{% trans "Strasbourg" %}</b>
        {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
        </li>
        {% if mep.emails %}
          <li>
            <b>{% trans "E-mail" %}:</b>
            {% for email in mep.emails %}
              <a href="mailto:{{ email }}">{{ email }}</a>
              {% if not forloop.last %}-{% endif %}
            {% endfor %}
          </li>
        {% endif %}
      </ul>
      <a class="more-contact" href="{% url meps:mep_contact mep.id %}">{% trans "More information" %}...</a>
    </div>
  </td>
  {% if score_listing %}
  <td>
      {% if mep.score_set.all %}
      <div class="scores" {% if mep.total_score %}style="background-color: {{ mep.score_color }};"{% endif %}>
          <ul>
          {% for score in mep.score_set.all %}
              <li style="background-color: {{ score.color }}">{% if score.proposal.short_name %}{{ score.proposal.short_name }}{% else %}{{ score.proposal.title }}{% endif %}: {{ score.value }}</li>
          {% endfor %}
          </ul>
      <p><b>Total score:</b> {{ mep.total_score|floatformat:1 }}</p>
      </div>
      {% else %}
      -
      {% endif %}
  </td>
  {% endif %}
  {% if proposal_votes_listing %}
  <td>
      {% mep_votes_list_on_proposal mep vote %}
      {% for vote in mep_votes %}
      <p><a class="{% if vote.recommendation.recommendation == vote.choice %}ok{% else %}{% if vote.choice == "abstention" or vote.choice == "absent" %}abstention{% else %}nok{% endif %}{% endif %}" href="{% url votes:recommendation vote.id vote.recommendation.id %}"> {{ vote.choice }} on {{ vote.recommendation.part }}</a></p>
      {% endfor %}
  </td>
  {% endif %}
</tr>
