{% extends "base.html" %}
{% load cache %}

{% block content %}
{% if opinion.meps.count == 1 %}
{% with mep=opinion.meps|first %}
<article>
{% url meps:mep mep.pk as mep_url %}
{% if opinion.date.year != 1 %}
<h1 class="document-title">{% blocktrans with opinion.title as opinion_title and opinion.date as opinion_date %}"{{ opinion_title }}", opinion expressed by <a href="{{ mep_url }}">{{ mep }}</a> on {{ opinion_date }}{% endblocktrans %}</h1>
{% else %}
<h1 class="document-title">{% blocktrans with opinion.title as opinion_title %}"{{ opinion_title }}", opinion expressed by <a href="{{ mep_url }}">{{ mep }}</a>{% endblocktrans %}</h1>
{% endif %}

<section id="summary">
<ul id="infos" class="body">
<div class="quickView">
<img class="mugshot" alt="{{ mep }}" src="{% url meps:mep-picture mep.ep_id %}" onerror="onMugshotError(this);"/>
</div>
<h2>{% trans "General information" %}</h2>

{% if not mep.active %}<li><div class="nok">{% trans "Former mep" %}</div></li>{% endif %}
<li><i>{% trans "Country" %}</i>:  <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ MEDIA_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> <a href="{% url meps:index_by_country mep.country.code %}">{{ mep.country.name }} </li></a>
{% if mep.group %}
<li><i>{% trans "Political group: " %}</i><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
{% endif %}
{% for post in mep.important_posts %}
<li><b>{{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a></b></li>
{% endfor %}
{% if mep.party %}
<li><i>{% trans "National party: " %}</i><a href="{% url meps:index_by_party mep.party.id mep.party.name|slugify %}">{{ mep.party.name }}</a></li>
{% endif %}
{% if mep.birth_date %}
<li><i>{% if mep.gender == 'M' %}{% trans "Born on" %}{% else %}{% trans "Born on (female)" %}{% endif %}</i> {% blocktrans with mep.birth_date.day as day and mep.birth_date|date:'F' as month and mep.birth_date.year as year and mep.birth_place as birth_place and mep.age as age %}{{ day }} {{ month }} {{ year }}<i> at </i>{{ birth_place }}, {{ age }} years old.{% endblocktrans %}</li>
{% endif %}
</ul>
{% endwith %}

{% else %}
<h1>{% blocktrans with opinion.title as opinion_title %}Members of the European Parliament that have expressed themselves on {{ opinion_title }}{% endblocktrans %}</h1>
{% endif %}

{% if opinion.content|length %}
<h2>{% trans "Expressed opinion" %}</h2>
<p>{{ opinion.content|safe }}</p>
<p><a href="{{ opinion.url }}">{% trans "Link to opinion source" %}</a></p>
{% else %}
<h2><a href="{{ opinion.url }}">{% trans "Link to opinion source" %}</a></h2>
{% endif %}
</section>
</article>

{% if opinion.meps.count > 1 %}
<a id="csv" href="#">csv</a>

{% cache 6000000 meps.listing_from_container request.META.PATH_INFO %}
<table class="mep-list tablesorter">
  {% include "meps/meps_table_thead.html" %}
  <tbody>
    {% for mep in opinion.meps %}
      {% include "meps/meps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>
{% endcache %}
{% endif %}

{% endblock %}
