{% extends "base.html" %}
{% load flatblock_tags %}

{% block title %}{% trans "Members of the European Parliament by instances" %}{% endblock %}

{% block content %}

<h1>{% trans "Members of the European Parliament by instances" %}</h1>
{% flatblock "by_instances.info" %}
<ul class="organisations">
{% for organization in object_list %}
    {% if organization.meps|length %}
    <li>
        <a href="{% url meps:index_by_organization organization.id %}">{{ organization.name }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
