{% extends "base.html" %}

{% block content %}
<h3>Filters</h3>

<div id="filter_list">
<div class="filter">
    <label class="key" id="active">Active</label>
    <select class="value">
        <option>true</option>
        <option>false</option>
    </select>
    <button class="remove">Remove</button>
</div>
</div>

<div id="adders">
<select id="filter_choice" name="filter">
<option class="visible" id="active">active</option>
<option class="visible" id="country">country</option>
<option class="visible" id="group">group</option>
<option class="visible" id="committee">committee</option>
<option class="visible" id="delegation">delegation</option>
<option class="visible" id="score_min">score_min</option>
<option class="visible" id="score_max">score_max</option>
<option class="visible" id="last_name">last_name</option>
<option class="visible" id="bxl_floor">bxl_floor</option>
<option class="visible" id="bxl_building">bxl_building</option>
<option class="visible" id="stg_floor">stg_floor</option>
<option class="visible" id="stg_building">stg_building</option>
<option class="visible" id="organization">organization</option>
</select>
<button id="add">Add</button>
</div>
<button id="apply_filter">Filter</button>

<p>Query: <span id="show_query"></span></p>

<div id="query">
    Loading...
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/generic_queries.js"></script>
{% endblock %}
