{% extends "base.html" %}

{% block content %}

{% url meps:detail proposal.id as proposal_url %}
<h1>{% blocktrans %}Recommendation on {{ recommendation.subject }} for the proposal <a href="{{ proposal_url }}">{{ proposal.title }}</a>{% endblocktrans %}</h1>

{% include "votes/legend.html" %}

<p><b>{{ recommendation.description }}</b></p>

<ul class="{{ recommendation.recommendation }} recommendation">
    <li><em>{% trans "Part:" %}</em> {{ recommendation.part }}</li>
    {% if recommendation.recommendation %}<li><em>{% trans "Recommendation:" %}</em> {{ recommendation.recommendation }}</li>{% endif %}
    {% if recommendation.weight %}<li><em>{% trans "Weight:" %}</em> {{ recommendation.weight }}</li>{% endif %}
    <ul>
      {% regroup recommendation.vote_set.all by choice as result %}
      {% for re in result %}
      <li><b><a class="{% if recommendation.recommendation == re.grouper %}ok{% else %}{% if re.grouper == "abstention" or re.grouper == "absent" %}abstention{% else %}nok{% endif %}{% endif %}" href="{% url meps:recommendation_choice proposal.id recommendation.id re.grouper %}">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
      {% endfor %}
    </ul>
</ul>

<img src="{% url trends:recommendation_group recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_group">{% trans "Trends explanation" %}</a></i></p>
<br />
<img src="{% url trends:recommendation_countries recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_countries">{% trans "Trends explanation" %}</a></i></p>
<br />
<img src="{% url trends:recommendation_countries_absolute recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_countries_normalized">{% trans "Trends explanation" %}</a></i></p>


<table class="mep-list tablesorter">
  {% include "meps/meps_table_thead.html" %}
  <tbody>
    {% for mep, choice in recommendation.meps_with_votes %}
    {% include "meps/meps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
