-load cache memopol_tags votes_tags

-cache 6000000 representatives_data request.META.PATH_INFO LANGUAGE_CODE
  %table.twelve
    %thead
      %tr
        %th{rowspan: "2"} &nbsp;
        %th{rowspan: "2"} Score for this vote
        -for grouper, subvotes_list in subvotes.iteritems
          %th{colspan: "{{ subvote_list|length }}"}
            =grouper

      %tr
        -for grouper, subvotes_list in subvotes.iteritems
          -for v in subvotes_list
            %th
              %a.has-tip{href: "{% url meps:votes:recommendation vote.id v.id %}", title: "{{ v.description }}"}
                =v.description|truncatewords:5

      %tr
        %th Vote weight
        %th &nbsp;
        -for grouper, subvotes_list in subvotes.iteritems
          -for v in subvotes_list
            %td
              =v.weight

      %tr
        %th Recommendation
        %th &nbsp;
        -for grouper, subvotes_list in subvotes.iteritems
          -for v in subvotes_list
            %td
              =v.recommendation

    %tbody
      -for mep, positions in representatives_data.itervalues
        %tr
          %th
            %a{href: "{{ mep.get_absolute_url }}"}
              =mep
        %td{class: "{{ mep.score.value|scolorize }}"}
          =mep.score
        -for position, recommendation in positions
          -if position
            %td{class: "{{ position|scolorize_position:recommendation }}"}
              =position
          -else
            %td —
