{% load cache memopol_tags votes_tags %}

{% cache 6000000 representatives_data request.META.PATH_INFO LANGUAGE_CODE %}
<table class="twelve">
    <thead>
        <tr>
            <th rowspan="2">&nbsp;</th>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                <th colspan="{{ subvote_list|length }}">{{ grouper }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                {% for v in subvotes_list %}
                    <th><span class="has-tip" title="{{ v.description }}">[{{ forloop.counter }}]</span></th>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for mep, positions in representatives_data.itervalues %}
        <tr>
            <th><a href="{{ mep.get_absolute_url }}">{{ mep }}</a></th>
            {% for position, recommendation in positions %}
                {% if position %}
                    <td class="{{ position|scolorize_position:recommendation }}">{{ position }}</td>
                {% else %}
                    <td>—</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endcache %}
