{% load cache memopol_tags votes_tags %}

{% cache 6000000 representatives_data request.META.PATH_INFO LANGUAGE_CODE %}
<table class="twelve">
    <thead>
        <tr>
            <th rowspan="2">&nbsp;</th>
            <th rowspan="2">Score for this vote</th>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                <th colspan="{{ subvote_list|length }}">{{ grouper }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                {% for v in subvotes_list %}
                    <th><a href="{% url meps:votes:recommendation vote.id v.id %}" class="has-tip" title="{{ v.description }}">{{ v.description|truncatewords:5 }}</a></th>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th>Vote weight</th>
            <th>&nbsp;</th>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                {% for v in subvotes_list %}
                    <td>{{ v.weight }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th>Recommendation</th>
            <th>&nbsp;</th>
            {% for grouper, subvotes_list in subvotes.iteritems %}
                {% for v in subvotes_list %}
                    <td>{{ v.recommendation }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for mep, positions in representatives_data.itervalues %}
        <tr>
            <th><a href="{{ mep.get_absolute_url }}">{{ mep }}</a></th>
            <td class="{{ mep.score.value|scolorize }}">{{ mep.score }}</td>
            {% for position, recommendation in positions %}
                {% if position %}
                    <td class="{{ position|scolorize_position:recommendation }}">{{ position }}</td>
                {% else %}
                    <td>—</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endcache %}
