{% extends "base.html" %}

{% block content %}
<h2>What is Political Memory?</h2>
<p><strong>Political Memory </strong>is a toolbox designed to help citizens follow the activity and voting records of their Members of European Parliament (MEPs), and to help them influence decision and policy-making by making as easy as possible to contact their MEPs.</p>
<p>The idea is simple: many decisions made in the European Parliament (and in national parliaments) are made knowing most citizens will not know about them. By increasing scrutiny of MEPs’ decisions, we can raise the political cost of these decisions and put citizens back at the heart of policy-making.</p>
<p>Political Memory aims to make this as simple as possible by giving citizens an easy-to-use interface to visualize their representatives’ votes, written questions, and general decisions, follow their representatives over time, and by giving them a way of quickly getting in touch with MEPs by listing all useful contact information in one place.</p>
<p>More specifically, Political Memory is a piece of software that can be used by anybody to create a website to track their Members of Parliament on any topic they wish, and remember what they said and what they did, as well as score MPs according to chosen criteria.</p>
<p>It is web application, written using the Django Python Framework, designed to be easily deployed on your website.</p>
<p>This project, nicknamed Memopol 2, is the 2.0 version of the <a href="http://laquadrature.net/wiki/Political_memory">1.0 Political Memory</a> tool written by <a href="http://laquadrature.net">La Quadrature du Net</a> in Perl in the early days of net activism.</p>
<p>Political Memory is free software (licensed under the Affero GPL license) that anybody can use, share, study, contribute to, debug, translate etc.<strong></strong></p>
<p><strong>Go to the <a title="Download &amp; Install instructions" href="http://www.memopol.org/download-and-install-instructions/">download page</a> to download political memory, or go to our instance at <a href="http://go.memopol.org">http://go.memopol.org</a> to see it action.<br>
</strong></p>
{% endblock content %}
