-extends "base.html"

-block title
  -trans "Restful API documentation"

-block content

  %h1
    Restful API

  -blocktrans
    %p
      Memopol2 offers a simple Rest API to access nearly all its data. Following the Restful principles it is self describing, starting at the root you'll be able to get everywhere via urls.

    %p
      You can access the api here:

    %p
      %code
          {{ root_url }}/api/v1/?format=json

    %p
      The best way to play with it is to use curl:

    %p
      %code
          curl "{{ root_url }}/api/v1/?format=json" | python -m json.tool

    %p
      Note: you can change "json" with either "xml" or "yaml".

    %p
      We generate a representation of the schema of our data, you can find it <a href="https://projets.lqdn.fr/projects/mempol/files">here</a> (note: not all what you see on it is accessible via the API, but the vast majority of it).

    %p
      This API is generated using <a href="http://tastypieapi.org/">tastypie</a>, you can read the usage documentation <a href="http://django-tastypie.readthedocs.org/en/latest/interacting.html#fetching-data">here</a>.

    %p
      If you aren't interested in Memopol2-related data maybe the <a href="http://parltrack.euwiki.org/dumps/">dumps from parltarck</a> will be better for you for the European Parliament part or <a href="http://cpc.regardscitoyens.org/trac/wiki/API">nosdeputes.fr dumps</a> for the french side.
