-extends "base.html"

-block title
  -trans "Restful API documentation"

-block content

  %h1
    Restful API

  -blocktrans
    %p
      Memopol2 offers a simple Rest API to access nearly all its data. Following the Restful principles it is self describing, starting at the root you'll be able to get everywhere via urls.

    %p
      You can access the api here:

    %p
      %code
          {{ root_url }}/api/v1/?format=json

    %p
      The best way to play with it is to use curl:

    %p
      %code
          curl "{{ root_url }}/api/v1/?format=json" | python -m json.tool

    %p
      Note: you can change "json" with either "xml" or "yaml".

    %p
      We generate a representation of the schema of our data, you can find it <a href="https://projets.lqdn.fr/projects/mempol/files">here</a> (note: not all what you see on it is accessible via the API, but the vast majority of it).

    %p
      This API is generated using <a href="http://tastypieapi.org/">tastypie</a>, you can read the usage documentation <a href="http://django-tastypie.readthedocs.org/en/latest/interacting.html#fetching-data">here</a>.

    %p
      If you aren't interested in Memopol2-related data maybe the <a href="http://parltrack.euwiki.org/dumps/">dumps from parltarck</a> will be better for you for the European Parliament part or <a href="http://cpc.regardscitoyens.org/trac/wiki/API">nosdeputes.fr dumps</a> for the french side.

    %h1
      Link to a MEP's page

    %p
      If you are playing with data from the European Parliament but not
      Memopol's one and you want to link to MEP's page, you might encounter
      some issues since we aren't using obvious ids in ours url. To fix this,
      we offer a simplier API, assuming that you have the MEP's ids of the
      European Parliament website (the "96744" in this
      <a href="http://www.europarl.europa.eu/meps/en/96744/Jose_BOV%C3%89.html">url</a> for example).

    %p
      The API is:
      %code
        {{ root_url }}/europe/parliament/deputy_from_ep_id/&lt;ep_id&gt;/

    %p
      For example: <a href="{{ root_url }}/europe/parliament/deputy_from_ep_id/96744/">{{ root_url }}/europe/parliament/deputy_from_ep_id/96744/</a>
