{% load flatblock_tags %}
{% load i18n personalization compress %}
{% organization_name as organization_name %}
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    {% block head %}{% endblock %}
    <title>{% block title %}Home{% endblock %} - The Political Memory of {{ organization_name }}</title>

    <!-- Included CSS Files (Uncompressed) -->
    <!--
        <link rel="stylesheet" href="stylesheets/foundation.css">
        -->
    <!-- Included CSS Files (Compressed) -->
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dynamiq/css/dynamiq.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}img/sprites/country_small.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}img/sprites/eu_group.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}img/sprites/common.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.sass" type="text/x-sass" />
{% endcompress %}
    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>
<body {% block bodyattrs %}{% endblock %}>
  {% include "blocks/header.html" %}
      <div class="row main">
        <div class="twelve columns">
          {% block content %}
          {% endblock %}
        </div>
      </div>
  {% include "blocks/footer.html" %}



    <!-- Included JS Files (Uncompressed) -->

{% compress js %}
    {# Foundation scripts must be loaded at the end #}
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.mediaQueryToggle.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.forms.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.reveal.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.orbit.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.navigation.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.buttons.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tabs.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.tooltips.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.accordion.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.placeholder.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.alerts.js"></script>

    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.foundation.topbar.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_select.js"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>

    <!-- Initialize JS Plugins -->
    <script type="text/javascript" src="{{ STATIC_URL }}dynamiq/js/inlines.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}dynamiq/js/dynamiq.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/app.js"></script>
{% endcompress %}
    {% block modals %}
      {# Modals must be out ot the main content (required by foundation) #}
      {% include "blocks/modals.html" %}
    {% endblock modals %}
    <script type="text/javascript">
    {% block js_onload %}
      $(document).foundationTopBar();
      $(document).foundationTabs();
    {% endblock js_onload %}
    </script>
  </body>
</html>
