-extends "base.html"

-block content
  .row
    .eight.columns
      -include "blocks/home_slider.html"
    .four.columns
      -include "blocks/last_news.html"
      -include "blocks/what_is_memopol.html"
  .row
    .eight.columns
      -include "blocks/last_votes.html"
    .four.columns
      -with mep=spotlight_mep
        -include "blocks/representative_preview.html"

-block js_onload
  %script{type: "text/javascript", src: "{{ STATIC_URL }}js/map.js"}
  %script{type: "text/javascript", src: "http://d3js.org/d3.v3.min.js"}