-extends 'base.html'

-block title
  -trans "Charts explanation page"

-block content
  %h1
    -trans "Charts explanation page"
    %h2
      %a{name: "mep", href: "#mep"}
        -trans "Member of the European Parliament chart"

    %center
      %img{src: "/trends/mep/IvoBelet-comparaison.png"}

  -blocktrans
    %p
      This chart gives a quick evaluation of a MEP's scores on votes regarding rights and freedoms of citizens on the internet as seen by la Quadrature du Net, and its evolution.
    %p
      Each bar represents a vote on an important issue, for which la Quadrature du Net has made a voting recommendation. The size of the bar represents the importance of the issue from la Quadrature du Net's point of view.
    %p
      The score of the MEP reflects his commitment in favor of online freedoms. It is represented both by the size and the color of the colored bar (the higher the better, the greener the better).
    %p
      The blue circle represents the average score of the MEP political group, the green pentagone represents the parliament's average score.
    %p
      The figure at the top of the bar is the score.

  %h2
    %a{name: "countries_map", href: "#countries_map"}
      -trans "Vote breakdown by countries"
  .map.map-eu{style: "height: 520px; width: 680px;"}
    %img{src: '{% url trends:recommendation_countries_map "ACTA_resolution" "png" %}'}

  -blocktrans
    %p
      This chart shows which countries have, in average, MEPs defending online freedoms in the European Parliament.
    %p
      Color represents the average scores of each country's MEPs (the greener the better).

  %h2
    %a{name: "groups", href: "#groups"}
      -trans "Groups breakdown by score"
  %center
    %img{src: "/trends/proposal/groups-ACTA_resolution-repartition-stacked.png"}

  -blocktrans
    %p
      This chart shows which political groups are defending online freedoms in the European Parliament.
    %p
      Each bar shows the number of MEPs from this group within a certain score range. Color represents the group.
    %p
      MEPS are sorted by score, in ranges of 10 points. MEPs who scored between 0 and 10 are grouped together, then those who scored between 10 and 20, and so on.

    %p
      How to read : On ACTA, around 240 EPP members (almost all of them) have a score between 0 and 10

  %h2
    %a{name: "heatmap", href: "#heatmap"}
      -trans "Heatmap of votes by political group (for each country)"
  %center
    %img{src: "/trends/proposal/groups-ACTA_resolution-repartition-heatmap.png"}

  -blocktrans
    %p
      This chart allows you to compare votes from different groups of the same country, or from different countries in the same group.
    %p
      It represents votes by political group (and the associated score), for each country.
    %p
      Each column represents a political group, each line represents a country.
    %p
      The size of the circle represents the number of MEPs.
    %p
      The color of the circle represents the average score of those MEPs for this vote.

    %p
      How to read : On ACTA's resolution, UK's Socialists &amp; Democrats have a bad score compared to the rest of the S&amp;D.

  %h2
    %a{name: "vote_group", href: '#vote_group'}
      -trans "Vote breakdown (for each group)"
  %center
    %img{src: "/trends/recommendation/697-group.png"}

  -blocktrans
    %p
      This chart represents the breakdown of a vote (for/against/abstention/absent) within each political group.
    %p
      La Quadrature du Net's recommendation appears in green.

    %p
      How to read : 90% of EPP voted against La Quadrature's recommendation.

  %h2
    %a{name: "vote_countries", href: "#vote_countries"}
      -trans "Vote breakdown by country"
  %center
    %img{src:"/trends/recommendation/697-countries.png"}

  -blocktrans
    %p
      This chart represents the breakdown of a vote (for/against/abstention/absent) within each country.
    %p
      La Quadrature du Net's recommendation appears in green.

  %h2
    %a{name: "vote_countries_normalized", href: "#vote_countries_normalized"}
      -trans "Vote breakdown (percentage)"
  %center
    %img{src: "/trends/recommendation/697-countries-absolute.png"}

  -blocktrans
    %p
      This chart represents the breakdown of a vote (for/against/abstention/absent) within each country, in percents.
    %p
      La Quadrature du Net's recommendation appears in green.
    %p
      How to read : On ACTA's resolution, 30% of Italian MEPs voted according to La Quadrature's recommendation.
