{% extends "base.html" %}

{% block title %}{% blocktrans with recommendation.subject as recommendation_subject and proposal.title as proposal_title %}Recommendation on {{ recommendation_subject }} for the proposal {{ proposal_title }}{% endblocktrans %}{% endblock %}

{% block content %}

{% url mps:votes:detail proposal.id as proposal_url %}
<h1>{% blocktrans with recommendation.subject as recommendation_subject and proposal.title as proposal_title %}Recommendation on {{ recommendation_subject }} for the proposal <a href="{{ proposal_url }}">{{ proposal_title }}</a>{% endblocktrans %}</h1>

{% include "votes/legend.html" %}

<p><b>{{ recommendation.description }}</b></p>

<ul class="{{ recommendation.recommendation }} recommendation">
    <li><em>{% trans "Part:" %}</em> {{ recommendation.part }}</li>
    {% if recommendation.recommendation %}<li><em>{% trans "Recommendation:" %}</em> {{ recommendation.recommendation }}</li>{% endif %}
    {% if recommendation.weight %}<li><em>{% trans "Weight:" %}</em> {{ recommendation.weight }}</li>{% endif %}
    <ul>
      {% regroup recommendation.vote_set.all by choice as result %}
      {% for re in result %}
      <li><b><a class="{% if recommendation.recommendation == re.grouper %}ok{% else %}{% if re.grouper == "abstention" or re.grouper == "absent" %}abstention{% else %}nok{% endif %}{% endif %}" href="{% url mps:votes:recommendation_choice proposal.id recommendation.id re.grouper %}">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
      {% endfor %}
    </ul>
</ul>

<br />

<table class="mp-list tablesorter">
  {% include "mps/mps_table_thead.html" %}
  <tbody>
    {% for mp, choice in recommendation.mps_with_votes %}
    {% include "mps/mps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
