-if mep.delegationroles
  %ul
    -for role in mep.delegationroles
      %li
        %a{href: "{% url meps:index_by_delegation role.delegation.id %}"}
          {{ role.role }} {% trans "of" %} {{ role.delegation }}
-else
  %p
    -trans "No delegation."
