{% load comments memopol2 memopol_tags %}

<div class="twelve columns floor">
    <div class="row panel">
        <div class="two columns">
            <img width="100px" src="{% url meps:mep-picture mep.ep_id %}">
        </div>
        <div class="two columns">
            <div class="panel radius {{ mep.total_score|scolorize }}">{{ mep.total_score|floatformat:1 }}</div>
        </div>
        <div class="six columns">
            <h4>{{ mep }}</h4>
            <div>
                {% for achievement in mep.achievements.all %}
                    {% render_achievement achievement %}
                {% endfor %}
            </div>
        </div>   
        <div class="two columns">
            {% if mep.active and mep.bxl_phone1 %}
            <div class="row">
                {% call_now mep.bxl_phone1 %}
            </div>
            {% endif %}
        </div>

    </div>

    <div class="row panel">

        <ul class="four columns">
            {% if not mep.active %}<li><div class="nok"><a href="{% url meps:index_inactive %}">{% trans "Former mep" %}</a></div></li>{% endif %}
            <li><a href="{% url meps:index_by_country mep.country.code %}"><span class="sprite-country_small-{{ mep.country.code }}"></span> {{ mep.country.name }}</li></a>
            {% if mep.group %}
            <li><a href="{% url meps:index_by_group mep.group.abbreviation %}"><span class="sprite-eu_group-{{ mep.group.abbreviation|cut:'/' }}"></span>{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
            {% endif %}
        </ul>
        <ul class="eight columns">
            {% for post in mep.important_posts %}
            <li><b>{{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a></b></li>
            {% endfor %}
            {% if mep.party %}
            <li><i>{% trans "National party" %}</i>: <a href="{% url meps:index_by_party mep.party.id mep.party.name|slugify %}">{{ mep.party.name }}</a></li>
            {% endif %}
            {% if mep.birth_date %}
            <li><i>{% if mep.gender == 'M' %}{% trans "Born on" %}{% else %}{% trans "Born on (female)" %}{% endif %}</i> {% blocktrans with mep.birth_date.day as day and mep.birth_date|date:'F' as month and mep.birth_date.year as year and mep.birth_place as birth_place and mep.age as age %}{{ day }} {{ month }} {{ year }}<i> at </i>{{ birth_place }}, {{ age }} years old.{% endblocktrans %}</li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="twelve columns panel">
    {% include "meps/mep_contact.html" %}
</div>


<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tiny_mce.js"></script>

{% render_comment_list for mep %}

<div class="twelve columns panel">
    <h3>Add a public position</h3>
    <p>{% trans "Help us keep track of the public positions taken by this member of the European Parliament." %}</p>
    {% render_comment_form for mep %}
</div>
