-load comments memopol2 memopol_tags

.twelve.columns.floor
  .row.panel
    .two.columns
      %img{width: "100px", src: "{% url meps:mep-picture mep.ep_id %}", itemprop: "image"}

    .two.columns{itemscope: None, itemtype: "http://schema.org/AggregateRating", itemprop: "aggregateRating"}
      %div{class: "panel radius {{ mep.total_score|scolorize }}", itemprop: "ratingValue"}
        =mep.total_score|floatformat:1
      %div{style: "display: none;"}      
        <span itemprop="itemReviewed">{{ mep }}</span>
        <span itemprop="ratingCount">{{ mep.scores|length }}</span>
        <span itemprop="bestRating">100</span>
        <span itemprop="worstRating">0</span>

    .six.columns
      %h4{itemprop: "name"}
        =mep
      %div
        -for achievement in mep.achievements.all
          -render_achievement achievement

    .two.columns
      -if mep.active and mep.bxl_phone1
        .row
          -call_now mep.bxl_phone1

  .row.panel
    %ul.four.columns
      -if not mep.active
        %li
          .nok
            %a{href: "{% url meps:index_inactive %}"}
              -trans "Former mep"
      %li
        %a{href: "{% url meps:index_by_country mep.country.code %}"}
          %span{class: "sprite-country_small-{{ mep.country.code }}", itemprop: "brand"}
            =mep.country.name
      -if mep.group
        %li
          %a{href: "{% url meps:index_by_group mep.group.abbreviation %}"}
            %span{class: "sprite-eu_group-{{ mep.group.abbreviation|cut:'/' }}", itemprop: "brand"}
              {{ mep.group.name }} ({{ mep.group.abbreviation }})

    %ul.eight.columns
      -for post in mep.important_posts
        %li
          %b
            {{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a>
      -if mep.party
        %li
          <i>{% trans "National party" %}</i>: <a href="{% url meps:index_by_party mep.party.id mep.party.name|slugify %}" itemprop="brand">{{ mep.party.name }}</a></li>
      -if mep.birth_date
        %li
          <i>{% if mep.gender == 'M' %}{% trans "Born on" %}{% else %}{% trans "Born on (female)" %}{% endif %}</i> {% blocktrans with mep.birth_date.day as day and mep.birth_date|date:'F' as month and mep.birth_date.year as year and mep.birth_place as birth_place and mep.age as age %}{{ day }} {{ month }} {{ year }}<i> at </i>{{ birth_place }}, {{ age }} years old.{% endblocktrans %}</li>

.twelve.columns.panel
  -include "meps/mep_contact.html"


%script{type: "text/javascript", src: "{{ STATIC_URL }}js/tinymce/tiny_mce.js"}

-render_comment_list for mep

.twelve.columns.panel
  %h3 Add a public position
  %p
    -trans "Help us keep track of the public positions taken by this member of the European Parliament."
  -render_comment_form for mep
