-load i18n static

-if querystring
  .endless_container.row.floor
    .one.columns.centered
      %a.endless_more{button href: "{{ path }}{{ querystring }}", rel: "{{ querystring_key }}"}
        -if label
          =label
        -else
          -trans "more"
      .endless_loading{style: "display: none;"}
        %img{src: "{% static 'img/loader.gif' %}", alt: "{{ loading|safe }}"}
