{% extends "base.html" %}
{% load flatblock_tags %}
{% load cache %}
{% load asdiff %}

{% block title %}{% trans "Amendments for" %} {{committee.dossier.id}} {{committee.dossier.title}}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.rate').submit(function() {
        $.post("../../score/", 
            $(this).serialize(), 
            function(data){ 
                ; 
             } 
        );
        return false;
    });
    $('.comment').submit(function() {
        $.post("../../comment/", 
            $(this).serialize(), 
            function(data){ 
                ; 
             } 
        );
        return false;
    });
});
</script>
{%endblock%}

{% block content %}

<h1>{% trans "Amendments for" %} {{committee.dossier.id}} {{committee.dossier.title}}</h1>
<p>in {{committee.cid}} on {{committee.date}}</p>
{% cache 6000000 pom_dossier_listing request.META.PATH_INFO %}
<table class="committee-list tablesorter">
  <tbody>
    {% for am in ams %}
       <tr>
         <td>
            <div class="title hover">Amendment {{am.seq}} <a class="anchorLink" name="{{am.seq}}" href="#{{am.seq}}">#</a></div>
            <div class="authors">{{am.authors}}</div>
            <div class="type">{{am.type}}</div>
            <div class="location">{{am.location}}</div>
         </td>
       </tr>
       <tr>
         <td>{{am|asdiff|safe}}</td>
         <td>
            <form class="rate" action="../rate">
               <input type="submit" value="+1" />
               <input type="hidden" name="value" value="+1" />
               <input type="hidden" name="amid" value="{{am.pk}}" />
               {% csrf_token %}
            </form>
            <form class="rate" action="../rate">
               <input type="submit" value="-1" />
               <input type="hidden" name="value" value="-1" />
               <input type="hidden" name="amid" value="{{am.pk}}" />
               {% csrf_token %}
            </form>
            <form class="comment" action="../comment">
               <textarea name="comment"></textarea>
               <input type="submit" value="comment" />
               <input type="hidden" name="amid" value="{{am.pk}}" />
               {% csrf_token %}
            </form>
         </td>
       </tr>
       <tr><td /></tr>
    {% endfor %}
  </tbody>
</table>
{% endcache %}

{% endblock %}
