{% extends "base.html" %}
{% load flatblock_tags %}
{% load cache %}

{% block title %}{% trans "Dossiers of interest" %}{% endblock %}

{% block content %}

{% if not header_template %}
<h1>{% trans "Dossiers of interest" %}</h1>
{% else %}
{% include header_template %}
{% endif %}

<form action="../dossier">
   <label>Add new dossier</label><input type="text" name="id"></input>
</form>
{% cache 6000000 pom_dossier_listing request.META.PATH_INFO %}
<table class="dossier-list tablesorter">
  <tbody>
    {% for dossier in dossiers %}
    <tr><td>{{dossier.id}}</td><td><a href="../dossier/?id={{dossier.id}}">{{dossier.title}}</a></td></tr>
    {% endfor %}
  </tbody>
</table>
{% endcache %}

{% endblock %}
