<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/fluid_grid.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title|default:"Memopol" }}{% endblock %}</title>
    <!--[if IE]>
    <script src="{{ MEDIA_URL }}js/html5.js"></script>
    <![endif]-->
</head>

<body {% block bodyattrs %}{% endblock %}>


<div class="container_12">
    <div id="header">
      <h1><a href="/">Memopol — political memory</a></h1>
      <a href="{% url contact_form %}">Contact</a>
      {% if user.is_staff %}
          <a href="{% url admin:index %}">{% trans "Administration" %}</a>
          <a href="{% url admin:comments_comment_changelist %}">{% trans "Comments moderation" %}</a>
          <a href="{% url admin:logout %}">{% trans "Logout" %}</a>
      {% endif %}
      {% if user.is_anonymous %}
          <a href="{% url admin:index %}">{% trans "Login" %}</a>
      {% endif %}
    </div>

    <div id="content" class="grid_12">
        <div class="contentwraper">
        {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>

    <div id="sidebar" class="grid_2">
        <div id="mainheader" ><a href="/">{% block header %}<h1>{{ title|default:"Memopol" }}</h1>{% endblock %}</a></div>

        <div id="nav">

            <h2>{% trans "Search" %}</h2>
            <div>
              <form id="simple-search" method="GET" action="{% url search %}">
                <input type="text" autocomplete="off" class="search-text" name="q"/>
                <input type="submit" class="search-submit" value="{% trans "GO" %}"/>
              </form>
            </div>

            <h2>{% trans "Eurodeputies " %}<img src="{{ MEDIA_URL }}/img/countries/small/EU.png" alt="EU flag"/></h2>
            <ul>
                <li><a href="{% url meps:index_names %}">{% trans "By name" %}</a></li>
                <li><a href="{% url meps:index_countries %}">{% trans "By country" %}</a></li>
                <li><a href="{% url meps:index_groups %}">{% trans "By political group" %}</a></li>
                <li><a href="{% url meps:index_committees %}">{% trans "By committee" %}</a></li>
                <li><a href="{% url meps:index_delegations %}">{% trans "By delegation" %}</a></li>
                <li><a href="{% url meps:index_parties %}">{% trans "By local party" %}</a></li>
                <li><a href="{% url meps:index_organizations %}">{% trans "By instances" %}</a></li>
                <li><a href="{% url meps:index_floor %}">{% trans "By floor" %}</a></li>
                <li><a href="{% url meps:scores %}">{% trans "By total score" %}</a></li>
                <li><a href="{% url meps:index_inactive %}">{% trans "Former eurodeputies" %}</a></li>
            </ul>

            <h2>{% trans "Tracked votes" %}</h2>
            <ul>
                <li><a href="{% url votes:index %}">{% trans "By vote's name" %}</a></li>
                <li><a href="{% url meps:index_opinions %}">{% trans "Expressed opinions" %}</a></li>
            </ul>

            <h2>{% trans "French deputies " %}<img src="{{ MEDIA_URL }}/img/countries/small/FR.png" alt="FR flag"/></h2>
            <ul>
                <li><a href="{% url mps:index %}">{% trans "By name" %}</a></li>
                <li><a href="{% url mps:index_groups %}">{% trans "By political group" %}</a></li>
                <li><a href="{% url mps:index_departments %}">{% trans "By departments" %}</a></li>
            </ul>



            {% block sidetools %}
            {% endblock %}
        </div>

    </div>

<div class="clear"></div>

<div id="footer">
  <div>
    Memopol is a free software <a href="https://gitorious.org/memopol2-0">released</a> under the terms of the
    <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPLV3</a>
  </div>
  <div>
    Provided by <a href="http://www.laquadrature.net/">La Quadrature du Net</a>
  </div>
</div>

</div>

<div id="livesearch" class="hidden" alt="{% url search_xhr %}"></div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/picnet.table.filter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
