<!doctype html>
<html lang="fr">
<head>
    <meta charset="iso-8859-15" />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/fluid_grid.css" />
    <link rel="stylesheet" href="/static/style.css" />
    {% block head %}{% endblock %}
    <title>{{ title|default:"Memopol" }}</title>
    <!--[if IE]>
    <script src="/static/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/static/ui.js"></script>
    <script type="text/javascript" src="/static/api.js"></script>
</head>

<body {% block bodyattrs %}{% endblock %}>


<div class="container_12">

	<div class="grid_2">
        <header id="mainheader" >{% block header %}<h1>{{ title|default:"Memopol" }}</h1>{% endblock %}</header>

        <nav>
            <h2>Liens</h2>
            <ul>
                <li><a href="/">Home</a></li>
                {% block sidebar %}
                {% endblock %}
            </ul>

            {% if user.is_staff %}
            <h2>Outils d'administration</h2>
            <ul>
                <li><a href="/admin">Administration</a></li>
                <li><a href="/moderation">Moderation</a></li>
            </ul>
            {% endif %}

        </nav>

    </div>

	<div class="grid_10">{% block content %}{% endblock %}</div>
    <div class="clear"></div>


</div>

<div id="msg"></div>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery("#msg").click(rmsg);
    {% block documentReady %} {% endblock %}
});
</script>
</body>
</html>
