<div class="map" style="height: 422px; width: 530px;">
  <map id="hemicycle-eu" name="hemicycle-eu">
    <area title="European United Left–Nordic Green Left" alt="European United Left–Nordic Green Left" coords="52,421,196,318,181,294,25,372" shape="poly" href="{% url meps:index_by_group 'GUE/NGL' %}" />
    <area title="Progressive Alliance of Socialists and Democrats" alt="Progressive Alliance of Socialists and Democrats" coords="181,294,25,372,5,305,3,242,20,165,40,125,61,96,195,210,179,243,175,270" shape="poly" href="{% url meps:index_by_group 'SD' %}" />
    <area title="European Greens–European Free Alliance" alt="European Greens–European Free Alliance" coords="61,96,195,210,217,189,125,42" shape="poly" href="{% url meps:index_by_group 'Verts/ALE' %}" />
    <area title="Alliance of Liberals and Democrats for Europe" alt="Alliance of Liberals and Democrats for Europe" coords="217,189,125,42,171,19,211,7,257,1,262,175" shape="poly" href="{% url meps:index_by_group 'ALDE' %}" />
    <area title="European People's Party" alt="European People's Party" coords="257,1,262,175,304,186,335,209,353,257,527,251,509,168,467,96,416,50,341,7" shape="poly" href="{% url meps:index_by_group 'PPE' %}" />
    <area title="European Conservatives and Reformists" alt="European Conservatives and Reformists" coords="353,257,527,251,527,295,517,334,348,292" shape="poly" href="{% url meps:index_by_group 'ECR' %}" />
    <area title="Europe of Freedom and Democracy" alt="Europe of Freedom and Democracy" coords="517,334,348,292,341,310,497,385" shape="poly" href="{% url meps:index_by_group 'EFD' %}" />
    <area title="Non-Inscrits" alt="Non-Inscrits" coords="341,310,497,385,475,420,333,320" shape="poly" href="{% url meps:index_by_group 'NI' %}" />
  </map>
  <img width="530" height="422" usemap="#hemicycle-eu" src="/static/img/hemicycle-eu.png" alt="hemicycle-eu" />
</div>
