{% extends "base.html" %}
{% load flatblock_tags %}
{% block content %}
    <div class="edito">
        {% flatblock "welcome.info" %}
    </div>
    <h1>{% trans "MEPs by country" %}</h1>
    {% include "map-eu.html" %}
    <h1>{% trans "MEPs by political group" %}</h1>
    {% include "hemicycle-eu.html" %}

    <div class="votes">
    {% if object_list %}
        <h1>{% trans "Votes list" %}</h1>
        <ul>
            {% for vote in object_list %}
                <li>
                    <a href="{% url votes:detail vote.id %}">{{ vote.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
