{% extends "base.html" %}
{% load flatblock_tags %}
{% block content %}
    <div class="edito">
	{% flatblock "welcome.info" %}
    </div>
    <h1>{% trans "MEPs by country" %}</h1>
    {% include "map-eu.html" %}
    <h1>{% trans "MEPs by political group" %}</h1>
    {% include "hemicycle-eu.html" %}

    <div class="votes">
    {% if votes %}
        <h1>{% trans "Votes" %}</h1>
        <ul>
            {% for vote in votes %}
                <li>
                    <a href="{% url votes:detail vote.wiki %}">{{ vote.label }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
