{% extends "base.html" %}

{% block content %}


{% if meps %}
    <h1>Eurodéputés</h1>
    <ul>
        {% for mep in meps %}
            <li>
                <img class="grouplogo" src="{{ MEDIA_URL }}img/groups/eu/{{ mep.value.group|cut:"/" }}.png" />
                <a href="{% url mep mep.id %}">{{ mep.value.first }} {{ mep.value.last }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if countries %}
    <h1>Eurodéputés par pays</h1>
    <ul>
    {% for country in countries %}
        <li>
            <a href="{% url index_by_country country.value.code %}">
                <img src="{{ MEDIA_URL }}img/countries/small/{{ country.value.code }}.png"/>
            </a>&nbsp;<a href="{% url index_by_country country.value.code %}">{{ country.key }}</a> 
            - {{ country.value.count }} d&eacute;put&eacute;s
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if groups %}
    <h1>Eurodéputés par groupe parlementaire</h1>
    <ul>
    {% for group in groups %}
        <li>
            <a href="{% url index_by_group group.key %}">
                {{ group.value.name }} ({{ group.key }})
            </a> 
            - {{ group.value.count }} d&eacute;put&eacute;s
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
