{% extends "home2.html" %}
{% block content %}

<div class="row">

  <div class="two columns">
    <a class="th" href="#"><img width="100px" src="http://www.laquadrature.net/wiki/images/3/3b/MarielleGallo.jpg"></a>
  </div>


  <div class="two columns">
    <div class="panel">note</div>
  </div>

  <div class="six columns">
    <h4>Marielle Gallo</h4>
    <span class="secondary label">tag</span>
    <span class="secondary label">JURI</span>


    <p>eurodéputé<br/>
      Member of the Bureau of Group of the European People's Party (Christian Democrats)</p>
  </div>

  <div class="two columns">
    <div class="row">
      <a class="secondary button">
        More…
      </a>
      <a class="secondary button">
        Call
      </a>
    </div>
  </div>

</div>
<div class="row">
  <div class="two columns">
    <a class="th" href="#"><img width="100px" src="http://192.168.1.250:8000/europe/parliament/mep/96736/picture.jpg"></a>
  </div>

  <div class="two columns">
    <div class="panel">note</div>
  </div>

  <div class="six columns">
    <h4>Jan Philipp ALBRECHT</h4>
    <span class="secondary label">tag</span>
    <span class="secondary label">JURI</span>
    <p>eurodéputé<br/>
      Member of the Bureau of Group of the Greens/European Free Alliance (Greens/EFA)</p>
  </div>

  <div class="two columns">
    <div class="row">
      <a class="secondary button">
        More…
      </a>
      <a class="secondary button">
        Call
      </a>
    </div>
  </div>
</div>

{% endblock %}
