{% block head %}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ STATIC_URL }}css/map.css" type="text/css" />
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.min.js"></script>
  <script type="text/javascript" src='{{ STATIC_URL }}/js/raphael.min.js'></script>
  <script type="text/javascript" src='{{ STATIC_URL }}/js/kartograph.min.js'></script>
  <script type="text/javascript" src='{{ STATIC_URL }}/js/chroma.min.js'></script>
  <script type="text/javascript" src='{{ STATIC_URL }}/js/qtip.min.js'></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
{% endblock %}

<div id="map"></div>
