{% extends "base.html" %}
{% load recursedict %}

{% block sidelinks %}
    <li><a href="raw">View Raw JSON</a></li>
{% endblock %}

{% block content %}
<article>
<header><h1 id="name">{{d.infos.name.first}} {{d.infos.name.last}}, eurodéputé</h1></header>

<section id="summary">
<h1>Informations générales</h1>

<ul id="infos">
<li><i>Né le</i> {{ d.infos.birth.date.day }}/{{ d.infos.birth.date.month }}/{{ d.infos.birth.date.year }} <i>à</i> {{ d.infos.birth.place.city }} </li>
<li><i>Pays</i>:  <img src="/static/img/countries/small/{{ d.infos.constituency.country.code }}.png"/> {{ d.infos.constituency.country.name }} </li>
<li><i>Groupe politique</i>: <a href="/group/{{ d.infos.group.abbreviation }}">{{ d.infos.group.name }} ({{ d.infos.group.abbreviation }})</a></li>
{% if d.infos.group.party %}<li><i>Parti</i> : {{ d.infos.group.party }}</li>{% endif %}
</ul>

<div id="contact">
	<h2>Contact</h2>
	
		<ul>
		{% for addr in d.contact.address %}
		<li><b>{{ addr.label}}</b><br/>
			{% if addr.building %} Batiment {{ addr.building.name }} {{ addr.office}}<br/>{% endif %}
			{{ addr.street }}, {{ addr.postcode }} {{ addr.city }}<br/>
			{% if addr.phone %}Tél.: {% for phone in addr.phone %} <a href="callto://{{ phone }}">{{ phone }}</a>&nbsp;{% endfor %}<br/>{% endif %}
			{% if addr.fax %}Fax: {{ addr.fax }}{% endif %}
			 
		</li>
		{% endfor %}
		
		
		<li><i>E-mail</i>: <a href="mailto:{{ d.contact.email.text }}">{{ d.contact.email.text }}</a></li>
			
		{% for webaddr in d.contact.web %}
		<li>
				{% if webaddr.type %}
				<i>{{ webaddr.type}}</i>: <a target="_" href="{{ webaddr.text }}">{{ webaddr.text }}</a>
				{% else %}
				<i>Site web</i>: <a target="_" href="{{ webaddr }}">{{ webaddr }}</a>
				{% endif %}
		</li>
		{% endfor %}
		
		</ul>
</div>
</section>


<section id="positions">
    <h1>Prises de position</h1>

    {% for pos in positions %}
        {% if pos.visible %}
        <article><h2>Position</h2>{{ pos.content }}</article>
        {% endif %}
    {% endfor %}

    <aside id="positionsnote">
    {% ifequal visible_count 0 %}
    {% ifnotequal positions|length visible_count %}
    Des prises de position sont en attente de mod&eacute;ration.
    {% else %}
    Aucune prise de position enregistr&eacute;e pour l'instant, mais vous pouvez contribuer en en ajoutant une !
    {% endifnotequal %}
    {% endifequal %}
    </aside>



<script type="text/javascript">

function addPositionSubmitButtonClicked()
{
    var contents = jQuery("#text").val();
    if (contents.length == 0)
    {
        msg("La zone de saisie est vide, veuillez entrer du texte...", 1, "red");
        return;
    }

    var btn = jQuery(this);
    startSpinner(btn);
    disable("#addPositionCancelButton");

    ajax_addPosition("{{mep_id}}", contents, function(json) {

        stopSpinner(btn);
        enable("#addPositionCancelButton");

        if (json['success'])
        {
            changeVisibility({addPosition: false, addPositionButton: true});
            jQuery("#text").val("");
            msg("Votre contribution a bien &eacute;t&eacute; prise en compte", 1);
        }
        else
        {
            msg("Une erreur a eu lieu, votre contribution n'a pas &eacute;t&eacute; enregistr&eacute;e", 0, "red");
        }
    });
}

</script>


<div id="addPosition" class="uiform" style="display: none" tabindex="1">
    <h3>Ajout d'une prise de position</h3>
    <p>Ce formulaire vout permet d'ajouter une prise de position de ce d&eacute;put&eacute;. Votre ajout ne sera affich&eacute; publiquement sur le site qu'apr&egrave;s mod&eacute;ration.</p>
    <br/>
    <textarea rows="5" cols="80" name="text" id="text" placeholder="Entrez ici le texte de la prise de position"></textarea>
    <br/>
    <button id="addPositionSubmitButton" class="submit">Ajouter</button>
    <button id="addPositionCancelButton" class="cancel">Abandonner</button>
</div>

<button id="addPositionButton" class="submit">Ajouter une prise de position</button>
</section>


<section id="details">
<h1>Details</h1>

{% recursedict d %}
<ul class="treelist">
{% loop %}
<li>{% if key %}<b>{{ key }}</b>:&nbsp;{% endif %}{% value %}</li>
{% endloop %}
</ul>
{% endrecursedict %}
</section>



</article>




{% endblock %}
{% block documentReady %}

    onClickChangeVisibility("addPositionButton", {addPosition: true, addPositionButton: false});
    onClickChangeVisibility("addPositionCancelButton", {addPosition: false, addPositionButton: true});
    jQuery("#addPositionSubmitButton").click(addPositionSubmitButtonClicked);

{% endblock %}
