{% extends "base.html" %}
{% load recursedict %}


{% block sidebar %}
<li><a href="/mep/">Back to list</a></li>
<li><a href="raw">View Raw JSON</a></li>
{% endblock %}

{% block content %}
<h1>{{d.infos.name.first}} {{d.infos.name.last}}</h1>




<hr/>

Email:
{% if d.contact.email.text %}
    {{ d.contact.email.text }}
{% else %}
    {{ d.contact.email }}
{% endif %}



<hr/>
Complete details:<br/>

{% recursedict d %}
<ul class="treelist">
{% loop %}
<li>{% if key %}<b>{{ key }}</b>:&nbsp;{% endif %}{% value %}</li>
{% endloop %}
</ul>
{% endrecursedict %}


<hr/>

Positions:<br/>

<ul>
{% for pos in positions %}
        <li>{{ pos.content }}
        {% if not pos.visible %}
        (not visible)
        {% endif %}
        {% if not pos.moderated %}
        (not moderated)
        {% endif %}
        </li>
{% endfor %}
</ul>

<hr/>

Add position: 
<form action="/mep/{{ mep_id }}/addposition/" method="post">


<input type="text" name="text" id="text" value="Blah !">


<input type="submit" value="Ajouter une prise de position" />
</form>
{% endblock %}
