{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/moderation.css" />
{% endblock %}

{% block sidetools %}
<h2>Moderation</h2>
<button id="refreshButton" class="download">Rafraichir</button>
{% endblock %}

{% block content %}


<div id="positions">



<article class="position grid_12" style="display: none" id="pos_proto">

    <header><a class="name" href="" target="_blank"></a></header>

    <section class="grid_8 content"></section>
    <section class="grid_3 fields"></section>
    <div class="clear"></div>

    <section class="buttons">
        <button class="submit" class="submit">Accepter</button>&nbsp;
        <button class="cancel" class="cancel">Refuser</button>&nbsp;
        <a class="admin" href="" target="_blank">Ouvrir dans l'interface d'admin</a>&nbsp;
    </section>
</article>


</div>


<script type="text/javascript">


function accept(pos_id)
{
    ajax_moderatePosition(pos_id, 1, function(json) {
        jQuery("#pos" + pos_id).remove();
    });
}

function reject(pos_id)
{
    ajax_moderatePosition(pos_id, 0, function(json) {
        jQuery("#pos" + pos_id).remove();
    });
}

function edit(pos_id)
{
    jQuery("#pos" + pos_id).remove();
}

function obj2str(o)
{
    var res = "";
    for (var key in o)
    {
        res += key + ":&nbsp;" + o[key] + "<br/>";
    }    return res;
}


function displayPosition(pos)
{
    // clone the prototype element
    var elem = jQuery("#pos_proto").clone();

    // ... customize it
    elem.attr("id", "pos" + pos.pk);
    elem.css("display", "block");

    elem.find(".name").attr("href","/mep/" + pos.fields.mep).html(pos.fields.mep);
    elem.find(".content").html(pos.fields.content);
    elem.find(".fields").html(obj2str(pos.fields));
    elem.find(".submit").click(function() { accept(pos.pk); });
    elem.find(".cancel").click(function() { reject(pos.pk); });
    elem.find(".admin").attr("href","/admin/main/position/" + pos.pk);

    // and show
    jQuery("#positions").append(elem);
}


var last_id = 0;

function refreshButtonClicked()
{
    var btn = jQuery(this);
    startSpinner(btn);

    ajax_getUnmoderatedPositions(last_id, function(results) {
        stopSpinner(btn);
        for (var i = 0; i < results.length; i++)
        {
            last_id = Math.max(last_id, results[i].pk);
            displayPosition(results[i]);
        }

    });
}


</script>

{% endblock %}

{% block documentReady %}

    jQuery("#refreshButton").click(refreshButtonClicked);
    refreshButtonClicked();

{% endblock %}
