{% extends "base.html" %}
{% block content %}

<h1>{% trans "Search" %}</h1>

<form id="search" action="" method="get">
    {{ form.as_p }}
    <input type="submit" class="search-submit" value="{% trans "Search" %}"/>
</form>

{% if hits %}
<h2>{% trans "Search results" %}</h2>
<div id="search-results">
  <ul>
      {% for hit in hits %}
      <li>
        <a class="{{hit.type}}-icon search-item" href="{{ hit.url }}">
           <span class="search-item-title">
            {{ hit.title }}
           </span>
           <span class="search-item-type">({% trans hit.type %})</span>
        </a>
      </li>
      {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

