{% extends 'base.html' %}
{% load dynamiq_tags %}

{% block content %}
<div class="twelve columns">
    {% if dynamiq.label %}
        <div class="row panel">
            <div class="nine columns">
                Searching for «{{ dynamiq.label|format_dynamiq_label }}»
                {% if dynamiq.formset.is_bound %}
                <a href="#" data-reveal-id="advanced_search_modal" class="button secondary">{% trans 'Edit search' %}</a>
                {% endif %}
            </div>
            <div class="three columns">
                {% if dynamiq.form.q.value %}
                    <form action="{% url search %}" method="get" class="simple_search_options">
                        <input type="hidden" value="{{ dynamiq.form.q.value }}" name="q" />
                        <input type="hidden" value="" name="as_csv" />
                        <input type="hidden" name="limit" value="{{ per_page }}"/>
                        {{ dynamiq.form.sort }}
                    </form>
                {% endif %}
                <a href="#" class="secondary button filter_button global_list_item_details_switcher">Show details</a>
                <a href="#" class="secondary button filter_button csv_download_button">Download as CSV</a>
                {% if per_page %}
                  <a href="#" class="secondary button filter_button disable_pagination_button">Disable pagination</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if dynamiq.average > 0 %}
        {% include "blocks/representative_list_average.html" with average=dynamiq.average %}
    {% endif %}
    {% if dynamiq.results %}
        {% include list_template_name %}
    {% else %}
        {% if dynamiq.formset.is_bound or dynamiq.form.is_bound %}
        <div class="row floor">
                No results found.
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block js_onload %}
{{ block.super }}
<script type="text/javascript">
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 1200
    });
    $(document).on('click', '.list_item_details_switcher', function(e) {
        e.preventDefault();
        var list_item = $(this).parents('.list_item');
        list_item.find('.list_item_details').toggle('on');
    });
    $('.global_list_item_details_switcher').on('click', function(e) {
        e.preventDefault();
        if($(this).hasClass('on')) {
            $('.list_item_details').hide();
            $(this).removeClass('on');
            $(this).text('Show details');
        }
        else {
            $(this).addClass('on');
            $('.list_item_details').show();
            $(this).text('Hide details');
        }
    });
    $('select[name=sort]').on('change', function(e) {
         $(this).closest('form').trigger('submit');
    });
    $('.csv_download_button').on('click', function(e) {
         {% if dynamiq.formset.is_bound %}
            $('[name=as_csv]').attr('checked', 'checked');
            $('.advanced_search_form').trigger('submit');
         {% else %}
            $('[name=as_csv]').val('as_csv');
            $(this).siblings('form').trigger('submit');
         {% endif %}
    });
    $('.disable_pagination_button').on('click', function(e) {
         $('[name=limit]').val('0');
         {% if dynamiq.formset.is_bound %}
            $('[name=as_csv]').attr('checked', '');
            $('.advanced_search_form').trigger('submit');
         {% else %}
            $('[name=as_csv]').val('');
            $(this).siblings('form').trigger('submit');
         {% endif %}
    });
</script>
{% endblock js_onload %}
