{% extends "base.html" %}
{% load comments %}

{% block title %}{{ mep }}{% trans ", member of the european parliament" %}{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   tinyMCE.init({
               mode : "textareas",
               width : "400",
               height : "300",
               theme : "advanced",
               theme_advanced_toolbar_align : "left",
               theme_advanced_toolbar_location : "top",
               theme_advanced_buttons1 : "bold,italic,underline,bullist,numlist,outdent,indent,blockquote,undo,",
               //theme_advanced_buttons1 : "",
               theme_advanced_buttons2 : "",
               theme_advanced_buttons3 : "",
               plugins : "paste",
               paste_auto_cleanup_on_paste : true,
               paste_strip_class_attributes: 'all',
               paste_remove_styles: true,
               //init_instance_callback: focushandlers,
               valid_elements : "@[id|title|dir<ltr?rtl|lang|xml::lang],a[rel|rev|"
                                + "charset|hreflang|name|href|title],strong/b,em/i,"
                                + "strike,u,p,-ol,-ul,-li,br,-sub,-sup,-blockquote,"
                                + ",-code,-pre,address,-h1,-h2,-h3,-h4,-h5,"
                                + "-h6,hr[size|noshade],dd,dl,dt,cite,abbr,acronym,"
                                + "del[datetime|cite],ins[datetime|cite]",
             });
});
</script>
{% endblock %}

{% block content %}
<article>
<header><h1 class="document-title" id="name">{% blocktrans %}{{ mep }}, member of the european parliament{% endblocktrans %}</h1></header>

<section id="summary">
<ul id="infos" class="body">

<div class="quickView">
<img class="mugshot" alt="{{ mep }}" src="{% url meps:mep-picture mep.ep_id %}" onerror="onMugshotError(this);"/>
<span>{{ mep }} <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ STATIC_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> </span>
{% if mep.group %}
<a href="{% url meps:index_by_group mep.group.abbreviation %}" title="{% blocktrans with mep.group.abbreviation as group_abbreviation %}show the {{ group_abbreviation }} group{% endblocktrans %}"><img class="grouplogo" src="{{ STATIC_URL }}img/groups/eu/{{ mep.group.abbreviation|cut:"/" }}.png" alt="{{ mep.group.abbreviation }}"/></a><ul>{% for i in mep.achievements %}<li><img alt="{{ i.0 }}" src="{{ STATIC_URL }}img/trophies/{{ i.1 }}" /></li>{% endfor %}</ul>
{% endif %}
<a href="#" id="call-now" />
  <img src="{{ STATIC_URL }}img/call_now_en.png" />
</a>
</div>


<h2>{% trans "General information" %}</h2>
{% if not mep.active %}<li><div class="nok"><a href="{% url meps:index_inactive %}">{% trans "Former mep" %}</a></div></li>{% endif %}
<li><i>{% trans "Country" %}</i>:  <a href="{% url meps:index_by_country mep.country.code %}"><img src="{{ STATIC_URL }}img/countries/small/{{ mep.country.code }}.png"/></a> <a href="{% url meps:index_by_country mep.country.code %}">{{ mep.country.name }}</li></a>
{% if mep.group %}
<li><i>{% trans "Political group" %}</i>: <a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></li>
{% endif %}
{% for post in mep.important_posts %}
<li><b>{{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a></b></li>
{% endfor %}
{% if mep.party %}
<li><i>{% trans "National party" %}</i>: <a href="{% url meps:index_by_party mep.party.id mep.party.name|slugify %}">{{ mep.party.name }}</a></li>
{% endif %}
{% if mep.birth_date %}
<li><i>{% if mep.gender == 'M' %}{% trans "Born on" %}{% else %}{% trans "Born on (female)" %}{% endif %}</i> {% blocktrans with mep.birth_date.day as day and mep.birth_date|date:'F' as month and mep.birth_date.year as year and mep.birth_place as birth_place and mep.age as age %}{{ day }} {{ month }} {{ year }}<i> at </i>{{ birth_place }}, {{ age }} years old.{% endblocktrans %}</li>
{% endif %}
</ul>

<div class="rounded_box" id="contact">
    <h2>{% trans "Contact" %}</h2>
    {% include "meps/mep_contact.html" %}
</div>

{% if mep.committeeroles %}
<div id="committees">
    <h2 class="collapsible collapsed">{% trans "Committees" %}</h2>
    <ul class="body committees">
    {% for role in mep.committeeroles %}
    <li><a href="{% url meps:index_by_committee role.committee.abbreviation %}">{{ role.role }} {% trans "of" %} {{ role.committee }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.delegationroles %}
<div id="delegations">
    <h2 class="collapsible collapsed">{% trans "Delegations" %}</h2>
    <ul class="body delegations">
    {% for role in mep.delegationroles %}
    <li><a href="{% url meps:index_by_delegation role.delegation.id %}">{{ role.role }} {% trans "of" %} {{ role.delegation }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.cv_set.all %}
<div id="cv">
    <h2 class="collapsible collapsed">{% trans "CV" %}</h2>
    <ul class="body">
    {% for line in mep.cv_set.all %}
        <li>{{ line }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.opinionreps %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Opinions (memopol v1)" %}</h2>
    <ul class="body opinions">
     {% for line in mep.opinionreps %}
     <li><b><a href="{{ line.opinion.get_absolute_url }}">{{ line.opinion.title }}</b></a> {% blocktrans with line.date as opinion_date %}(on {{ opinion_date }}){% endblocktrans %}<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>{% trans "Read more..." %}</a> </li>
     {% endfor %}
    </ul>
</div>
{% endif %}

{% if mep.scores %}
    <div id="scores">
        <h2 class="collapsible expanded">{% trans "Total score:" %} {{ mep.total_score|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in mep.scores %}
        <li style="border-color:{{ score.color }};">
          <div class="score-color" style="background-color:{{ score.color }};"></div>
          <div class="inner-score">
            <a href="{% url meps:votes:votes_mep score.proposal.id mep.id %}">{{ score.proposal.title }}</a>: <strong>{{ score.value|floatformat:"-1" }}</strong> {% blocktrans with score.date as score_date %}(on {{ score_date }}){% endblocktrans %}<br/><a href="{{ score.proposal.get_absolute_url }}">{% trans "Read more..." %}</a>
          </div>
        </li>
        {% endfor %}
        </ul>
        {% if mep.scores.count > 1 %}
            <center><img src="{% url trends:comparaison_trends mep.id %}" /></center>
            <p style="text-align: center;"><i><a href="{% url trends:documentation %}#mep">{% trans "Trends explanation" %}</a></i></p>
        {% endif %}
    </div>
{% endif %}

{% get_comment_list for mep as comment_list %}
{% if comment_list %}
<h2>{% trans "Public Positions" %}</h2>
   <div class="body">
      {% for comment in comment_list %}
         <div>
            <div>{{ comment.comment }}</div>
            {% if comment.user_url %}<div>{{ comment.user_url }}</div>{% endif %}
            <div>{{ comment.submit_date }}</div>
         </div>
      {% endfor %}
   </div>
{% endif %}

<h2>{% trans "Add a public position" %}</h2>
<p>{% trans "Help us keep track of the public positions taken by this member of the European Parliament." %}</p>
<div class="body">
  {% render_comment_form for mep %}
</div>
</section>

</article>

{% endblock %}
