{% load memopol2 i18n %}
{% load meps_role %}
{% load votes_tags %}
<tr>
  {% if score_listing %}
  <td>
      {% if mep.position %}
      {{ mep.position }}
      {% else %}
      {% trans "No scores" %}
      {% endif %}
  </td>
  {% endif %}
  <td class="cell-score" style="background-color: {{ mep.score_color }};">
    {{ mep.total_score|floatformat:1 }}
  </td>
  <td>
    <a href="{{ mep.get_absolute_url }}">{{ mep.last_name|upper }} {{ mep.first_name }}</a>
  </td>
  {% if not 'country' in hidden_fields %}
  <td>
    {{ mep.country_tag|safe }}
  </td>
  {% endif %}
  {% if not 'group' in hidden_fields %}
  <td>
    {{ mep.group_tag|safe }}
  </td>
  {% endif %}
  {% if choice_listing %}
  <td>
      <div class="{% if choice == recommendation.recommendation %}ok{% else %}{% if choice == "abstention" or choice == "absent" %}abstention{% else %}nok{% endif %}{% endif %}">{{ choice }}</div>
  </td>
  {% endif %}
  {% if organization_role %}
  <td>
      {% current_organization_role mep object %}
  </td>
  {% endif %}
  {% if group_role %}
  <td>
    {% if mep.groupmep.role != 'Member' %}
      {{ mep.groupmep.role }}
    {% else %}
      &nbsp;
    {% endif %}
  </td>
  {% endif %}
  {% if committee_role %}
  <td>
      {% current_committee_role mep object %}
  </td>
  {% endif %}
  {% if delegation_role %}
  <td>
      {% current_delegation_role mep object %}
  </td>
  {% endif %}
  <td>
    <div class="body">
      <ul class="body">
          {% if mep.bxl_phone1 %}
        <li><b>{% trans "Brussels" %}</b>
         {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
        </li>
        {% endif %}
        {% if mep.stg_phone1 %}
        <li><b>{% trans "Strasbourg" %}</b>
        {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
        </li>
        {% endif %}
        {% if mep.emails %}
          <li>
            <b>{% trans "E-mail" %}:</b>
            {% for email in mep.emails %}
              <a href="mailto:{{ email }}">{{ email }}</a>
              {% if not forloop.last %}-{% endif %}
            {% endfor %}
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="toogle-contact">
        <a class="more-contact" href="{% url meps:mep_contact mep.id %}">{% trans "More information" %}...</a>
        <a class="less-contact hidden" href="#">{% trans "Less information" %}...</a>
    </div>
  </td>
  {% if score_listing %}
  <td>
      {% if mep.scores %}
      <div class="scores" {% if mep.total_score %}style="background-color: {{ mep.score_color }};"{% endif %}>
          <ul>
          {% for score in mep.scores %}
              <li style="background-color: {{ score.color }}">{% if score.proposal.short_name %}{{ score.proposal.short_name }}{% else %}{{ score.proposal.title }}{% endif %}: {{ score.value }}</li>
          {% endfor %}
          </ul>
          <p><b>{% trans "Total score:" %}</b> {{ mep.total_score|floatformat:1 }}</p>
      </div>
      {% else %}
      -
      {% endif %}
  </td>
  {% endif %}
  {% if proposal_votes_listing %}
  <td>
      <p style="background-color: {{ mep.score.color }}"><a href="{% url meps:votes:votes_mep vote.id mep.id %}">{% trans "Score" %}: {{ mep.score.value|floatformat:1 }}</a></p>
  </td>
  {% endif %}
</tr>
