{% load comments memopol2 memopol_tags %}

<div class="row">
    <div class="three columns">
        <div class="panel radius {{ mep.total_score|scolorize }}">{{ mep.total_score|floatformat:1 }}</div>
    </div>

    <div class="nine columns">
        {% for achievement in mep.achievements.all %}
            {% render_achievement achievement %}
        {% endfor %}
    </div>
</div>


<div class="twelve columns panel">
    <div class="two columns">
        <img width="100px" src="{% url meps:mep-picture mep.ep_id %}">
    </div>

    <div class="seven columns">
        <div class="row"><h4>{{ mep }}</h4></div>   

        <div class="row">
            <p>{{ mep.group_tag|safe }}</p> 
        </div>
    </div>
    <div class="three columns">
        <div class="row">
            <a href="callto://{{ mep.bxl_phone1|phone }}" class="panel callout button radius">Click to call&nbsp;</a>
        </div>
        <div class="row">
            <span class="secondary label">Brussels</span>{{ mep.bxl_phone1|phone }}<br>
            <span class="secondary label">Tel 2</span>bla 2<br>
            <span class="secondary label">Email</span>bla@bla.com   
        </div>
    </div>
</div>


<script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tiny_mce.js"></script>

<div class="twelve columns panel">
    <h3>Add a public position</h3>
    <p>{% trans "Help us keep track of the public positions taken by this member of the European Parliament." %}</p>
    {% render_comment_form for mep %}
</div>
