<div class="four columns">
  <div class="panel">
    <h3>Last events</h3>
    <ul>
      <li>
        09 juillet 2012 : Michel Geist, un professeur de droit canadien,
        révèle sur son blog qu'une version de CETA datant de février 2012
        reproduit mot pour mot les pires chapitres d'ACTA.
      </li>
      <li>4 juillet 2012 - Vote final au Parlement européen : rejet par
        478 voix contre 39
      </li>
      <li>21 juin 2012 - La commission INTA vote son rapport sur ACTA</li>
      <li>4 juin 2012 - La commission DEVE vote son rapport sur ACTA</li>
      <li>31 mai 2012 - La commission ITRE vote son rapport sur ACTA</li>
    </ul>
  </div>
</div>
