{% load memopol2 memopol_tags %}
<div class="row panel floor">
    <div class="four columns flat mobile-four">
        <div class="six columns flat mobile-two">
            <a class="th" href="{{ mep.get_absolute_url }}"><img width="100px" src="{% url meps:mep-picture mep.ep_id %}"></a>
        </div>

        <div class="six columns mobile-two">
            <div class="panel radius {{ mep.total_score|scolorize }}">{{ mep.total_score|floatformat:1 }}</div>
            {{ mep.country_tag|safe }}
        </div>
    </div>

    <div class="six columns">
        <div class="row">
            <h4>{{ mep }}</h4>
        </div>
        <div class="row">
          {% for achievement in mep.achievements.all %}
            {% render_achievement achievement %}
          {% endfor %}
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
                {% if mep.group %}<p><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></p>{% endif %}
                <div class="listing_details">
                    <span class="secondary label">Tel 1</span> bla<br/>
                    <span class="secondary label">Tel 2</span> bla 2<br/>
                    <span class="secondary label">Email</span> bla@bla.com
                </div>
        </div>
    </div>

    <div class="two columns mobile-four">
        <a href="{{ mep.get_absolute_url }}" class="secondary button">More</a>
        <a href="callto://{{ mep.bxl_phone1|phone }}" class="regular button">Call&nbsp;</a>
    </div>
</div>

