{% load memopol_tags %}

<div class="panel">
    <div class="row">
        <h3>Hightlight a MEP</h3>
        <div class="six columns">
            <img src="{% url meps:mep-picture mep.ep_id %}" width="100px" height="150px">
        </div>
        <div class="six columns">
            <div class="panel radius {{ mep.total_score|scolorize }}">{{ mep.total_score|floatformat:1 }}</div>
            {{ mep.country_tag|safe }}
        </div>
    </div>
    <div class="row">
        <h4>{{ mep }}</h4>
        <p><a href="{% url meps:index_by_group mep.group.abbreviation %}">{{ mep.group.name }} ({{ mep.group.abbreviation }})</a></p>
        <a href="{{ mep.get_absolute_url }}">More…</a>
    </div>
</div>
