{% load i18n %}

<div class="row">
  <div class="twelve columns">
    <div id="dynamiq_search">
        <form action="{% url search %}" method="get">
          <div class="row collapse">
            <div class="nine mobile-three columns" style="padding-left: 10px;">
              <input type="text" name="q" value="{{ dynamiq.q }}" />
            </div>
            <div class="one mobile-one columns">
              <input type="submit" class="postfix button expand" value="{% trans 'Search' %}" />
            </div>
            <div class="two mobile-one columns" style="padding-left: 10px; margin-top: 7px">
                <p><a href="#" data-reveal-id="advanced_search_modal">advanced</a> - <a href="#" data-reveal-id="simple_search_help">help</a></p>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
