{% load search_tags %}
{# Foundation require that the modals HTML stands out of the grids and rows. #}

{# help for search #}
<div id="simple_search_help" class="reveal-modal medium">
    <p><strong>Usable operators:</strong> <kbd>: = != !: &gt; &lt; &gt;= &lt;= AND (default) OR " -</kbd></p>
    <ul><strong>List of fields:</strong>
        <li>fulltext (default; search in MEP's name)</li>
        <li>total_score</li>
        <li>country</li>
        <li>group</li>
        <li>committee</li>
        <li>delegation</li>
        <li>is_active</li>
    </ul>
    <ul><strong>Here are some examples:</strong>
        <li><kbd>daniel</kbd> will search all the MEPs which name contains "daniel"</li>
        <li><kbd>daniel country=FR</kbd> whill search for MEPS which name contains "daniel" and country is France (you can use also <kbd>country:FR</kbd>)</li>
        <li><kbd>daniel country!=FR</kbd> will search for "daniel" which country is <b>not</b> France (country=-FR also works)</li>
        <li><kbd>daniel total_score>90</kbd> will search for "daniel" which score is more than 90</li>
        <li><kbd>daniel or Pavel</kbd> will search for MEPs which name contains "daniel" or Pavel</li>
        <li><kbd>"STROŽ Daniel"</kbd> will search for MEPs which name contains the string "STROŽ Daniel"</li>
        <li>Of course, you can mix all this: <kbd>daniel AND country!=FR OR -"Le PEN Marine" country:FR is_active:1 group=NI</kbd> will search for all MEPs which name contains "daniel" and which is not France, or all MEPs which name does not contain "Le PEN Marine" and which country is France and which group is NI</li>
    </ul>
</div>

{# Advanced search #}
<div id="advanced_search_modal" class="reveal-modal large">
    {% render_search_form %}
</div>
