{% extends 'base.html' %}
{% load dynamiq_tags %}

{% block content %}
    {% if dynamiq.results %}
        <div class="search_label">
            Searching {{ dynamiq.label|format_dynamiq_label }}
            {% if dynamiq.formset.is_bound %}
            <a href="#" data-reveal-id="advanced_search_modal" class="button secondary">{% trans 'Edit search' %}</a>
            {% endif %}
        </div>
        {% include list_template_name %}
    {% else %}
        {% if dynamiq.formset.is_bound or dynamiq.q != "" %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
{% endblock %}