{% extends 'base.html' %}
{% load dynamiq_tags %}

{% block content %}
    {% if dynamiq.results %}
        <div class="search_label">
            Searching {{ dynamiq.label|format_dynamiq_label }}
            {% if dynamiq.formset.is_bound %}
            <input id="relaunch_search" type="button" value="Edit search" />
            <script>
                jQuery(document).ready(function($){
                    $('#relaunch_search').click(function(e) {
                        $(this).hide();
                        $('#dynamiq_advanced_search').show();
                        e.preventDefault();
                    });
                });
            </script>
            {% endif %}
        </div>
            {% for result in dynamiq.results %}
                {% include "blocks/representative_list_item.html" with mep=result.object %}
            {% endfor %}
    {% else %}
        {% if dynamiq.formset.is_bound or dynamiq.q != "" %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
{% endblock %}