/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Fonts
:: Shared Styles
:: Structure
:: Titles
:: Panels
:: Search
:: Nav menu
*/

/* -----------------------------------------
   Fonts
----------------------------------------- */

@font-face {
    font-family: 'propagandaregular';
    src: url('../font/propagan-webfont.eot');
    src: url('../font/propagan-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/propagan-webfont.woff') format('woff'),
         url('../font/propagan-webfont.ttf') format('truetype'),
         url('../font/propagan-webfont.svg#propagandaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansus_webissimoitalic';
    src: url('../font/sansus_webissimo-italic-webfont-webfont.eot');
    src: url('../font/sansus_webissimo-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sansus_webissimo-italic-webfont-webfont.woff') format('woff'),
         url('../font/sansus_webissimo-italic-webfont-webfont.ttf') format('truetype'),
         url('../font/sansus_webissimo-italic-webfont-webfont.svg#sansus_webissimoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansus_webissimoregular';
    src: url('../font/sansus_webissimo-regular-webfont-webfont.eot');
    src: url('../font/sansus_webissimo-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sansus_webissimo-regular-webfont-webfont.woff') format('woff'),
         url('../font/sansus_webissimo-regular-webfont-webfont.ttf') format('truetype'),
         url('../font/sansus_webissimo-regular-webfont-webfont.svg#sansus_webissimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
li {
    text-decoration: none;
    list-style: none;
}


/* -----------------------------------------
   Structure
----------------------------------------- */
.floor, .row .floor {
    margin-bottom: 22px;
}
.flat {
    padding-left: 0;
}
body {
    background-color: #e5e5e5;
}
.main {
    background-color: #fff;
}

.button + .button {
    margin-top: 22px;
}

/* -----------------------------------------
   Titles
----------------------------------------- */

h2, h3, h4 {
    font-family: 'sansus_webissimoregular';
}


/* -----------------------------------------
   Panels and labels
----------------------------------------- */
.panel li a {
    color: #222;
}
.label a {
    color: #505050;
}
.label a:hover {
    text-decoration: underline;
}
.label.committee {
    display: inline-block;
    width: 4em;
    /*background-color: #E65B23;*/
    padding-top: 3px;
}

/* -----------------------------------------
   Search
----------------------------------------- */

#dynamiq_search {
    height: 30px;
}
#dynamiq_advanced_search {
    display: block;
}
#dynamiq_search input[type="text"] {
    color: #c5c5c5;
    font-style: italic;
}
.search_form select {
    width: auto;
}
.search_form input[type="text"] {
    display: inline;
}
.search_toggle {
    text-align: right;
}
.label_fragment {
    background: none;
}
.label_name, .label_value {
    font-weight: normal;
    font-style: italic;
}
.label_lookup, .label_operator {
    color: #5B8EDC;
}

/* -----------------------------------------
   Nav menu
----------------------------------------- */

.nav-bar {
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
    height: 30px;
    line-height: 30px;
}
.nav-bar > li > a {
    color: #000;
    line-height: 30px;
    text-decoration: none;
}
.nav-bar > li:hover {
    background-color: #fff;
}
.nav-bar > li:hover a {
    text-decoration: underline;
}
.nav-bar > li, .nav-bar > li:last-child {
    border: none;
}
.nav-bar > li.has-flyout > a.flyout-toggle {
    display: none;
}
.flyout {
    background-color: #fff;
    border: none;
    top: 30px;
}
.flyout a {
    text-decoration: none;
    color: #000;
}
.nav-bar > li:hover a {
    text-decoration: none;
}
.flyout a:hover {
    text-decoration: underline;
}
.nav-bar > li.has-flyout > a:first-child:after {
    border: none;
}


/* -----------------------------------------
   Header / footer
----------------------------------------- */

#header, #footer {
    background: none repeat scroll 0 0 #5B8EDC;
    color: #FFFFFF;
    height: 78px;
    line-height: 45px;
    padding: 0 20px;
    vertical-align: middle;
    width: 940px;
    margin: auto;
}

#header h1 a {
    color: #fff;
    font-family : 'propagandaregular';
    font-size: 26px;
    line-height: 10px;
}

#header h1 {
    margin: 0;
}

#header p {
    font-style: italic;
    padding-left: 20px;
}

#header img {
    width: 74px;
    float:left;
}


/* -----------------------------------------
   Listing pages
----------------------------------------- */

.listing_details {
    display: none;
}

/* -----------------------------------------
   Score colors
----------------------------------------- */

.scolorized {
    text-align: center;
    background-color: rgb(208, 0, 0); /* Default value used when no score is available */
    border-color: rgb(208, 0, 0);
}
.panel.scolorized {
    width: 80px;
}
.scolorized.scolorized0 {
    background-color: rgb(208, 0, 0);
    border-color: rgb(208, 0, 0);
}
.scolorized.scolorized1 {
    background-color: rgb(222, 79, 17);
    border-color: rgb(222, 79, 17);
}
.scolorized.scolorized2 {
    background-color: rgb(246, 183, 36);
    border-color: rgb(246, 183, 36);
}
.scolorized.scolorized3 {
    background-color: rgb(253, 220, 11);
    border-color: rgb(253, 220, 11);
}
.scolorized.scolorized4 {
    background-color: rgb(253, 247, 11);
    border-color: rgb(253, 247, 11);
    color: #666;
}
.scolorized.scolorized5 {
    background-color: rgb(209, 253, 11);
    border-color: rgb(209, 253, 11);
}
.scolorized.scolorized6 {
    background-color: rgb(162, 253, 11);
    border-color: rgb(162, 253, 11);
}
.scolorized.scolorized7 {
    background-color: rgb(114, 220, 44);
    border-color: rgb(114, 220, 44);
}
.scolorized.scolorized8 {
    background-color: rgb(58, 198, 9);
    border-color: rgb(58, 198, 9);
}
.scolorized.scolorized9 {
    background-color: rgb(55, 157, 0);
    border-color: rgb(55, 157, 0);
}
.scolorized.scolorized10 {
    background-color: rgb(55, 157, 0);
    border-color: rgb(55, 157, 0);
}

/* -----------------------------------------
   Jquery UI
----------------------------------------- */
.ui-autocomplete {
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.ui-menu-item {
    background-color: #fff;
}
.ui-menu-item a {
    display: block;
    padding-left: 10px;
}
.ui-menu-item:hover {
    background-color: #5B8EDC;
    cursor: pointer;
}
.ui-menu-item:hover a {
    color: #fff;
}
