-load memopol_tags
-load search_tags

%ul.nav-bar
  %li
    %a{href: "{% simple_search_shortcut is_active=1 %}"}
      By name
  %li
    %a{href: "{% simple_search_shortcut is_active=1 sort='-total_score' %}"}
      By total score
  -for menu in menus
    %li.has-flyout
      %a{href: "#"}
        =menu.name
      .flyout.large{style: "display: none;", id: "{{ menu.id }}"}
        .row
          -include "blocks/menu_item.html"
  %li
    %a{href: "{% url meps:index_floor %}"}
      By floor
  %li
    %a{href: "{% simple_search_shortcut is_active=0 %}"}
      Former MEPs
