-load endless

-with objects=dynamiq.results
  -if per_page > 0
    -# Note that "paginate" doesn't accept variable name with dot inside
    -paginate per_page objects
  -if not endless.paginated or endless.page.number == 1
    -include "blocks/representative_list_average.html" with average=dynamiq.average
  -for result in objects
    -include "blocks/representative_list_item.html" with result_mep=result
  -if per_page > 0
    -show_more
