-load memopol_tags

.panel
  %h3
    One MEP at random
  .row
    .six.columns
      %a{href: "{{ mep.get_absolute_url }}"}
        %img{src: "{% url meps:mep-picture mep.ep_id %}", width: "100px", height: "150px"}

    .six.columns
      -if mep.total_score != None
        %span.has-tip.tip-top{title: "can go from {{ mep.max_score_could_have|floatformat:0 }} to -{{ mep.max_score_could_have|floatformat:0 }}"}
          .panel.radius{class: "{{ mep|mep_score_scolorize }}"}
            =mep.total_score|floatformat:0
            \/
            =mep.max_score_could_have|floatformat:0
      -else
          .panel.radius{class: "{{ mep|mep_score_scolorize }}"}

      =mep.country_tag|safe

  %h4
    %a{href: "{{ mep.get_absolute_url }}", style: "color: black;"}
      =mep
  %p
    %a{href: "{% url meps:index_by_group mep.group.abbreviation %}"}
      {{ mep.group.name }} ({{ mep.group.abbreviation }})
  %a{href: "{{ mep.get_absolute_url }}"}
    More…
