{% load memopol2 memopol_tags %}
<div class="floor twelve list_item">
<div class="row panel">
    <div class="four columns flat mobile-four">
        <div class="five columns flat mobile-two">
            <a class="th" href="{{ mep.get_absolute_url }}"><img width="100px" src="{% url meps:mep-picture mep.ep_id %}"></a>
        </div>

        <div class="seven columns mobile-two">
            <div class="panel radius {{ mep.total_score|scolorize }}">{{ mep.total_score|floatformat:1 }}</div>
            <div>{{ mep.country_tag|safe }}</div>
            <div>{{ mep.group_tag|safe }}</div>
        </div>
    </div>

    <div class="six columns">
        <div class="row">
            <h4><a href="{{ mep.get_absolute_url }}" style="color: black;">{{ mep }}</a></h4>
        </div>
        <div class="row">
          {% for achievement in mep.achievements.all %}
            {% render_achievement achievement %}
          {% endfor %}
        </div>
        <div class="row">
            <ul>
            {% for post in mep.important_posts %}
            <li>{{ post.role }} of <a href="{{ post.instance.get_absolute_url }}">{{ post.instance.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="two columns mobile-four">
        <a href="callto://{{ mep.bxl_phone1|phone }}" class="regular button">Call</a>
        <a href="{{ mep.get_absolute_url }}" class="button secondary list_item_details_switcher">More</a>
    </div>
</div>
<div class="row panel list_item_details off">
    <div class="twelve columns">
        <ul class="rep_details">
            {% if mep.bxl_phone1 %}
                <li><strong>{% trans "Brussels" %}</strong>
                 {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
                </li>
            {% endif %}
            {% if mep.stg_phone1 %}
                <li><strong>{% trans "Strasbourg" %}</strong>
                {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;—&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
                </li>
            {% endif %}
            {% if mep.emails %}
                  <li>
                    <strong>{% trans "E-mail" %}:</strong>
                    {% for email in mep.emails %}
                      <a href="mailto:{{ email }}">{{ email }}</a>
                      {% if not forloop.last %}—{% endif %}
                    {% endfor %}
                  </li>
            {% endif %}
        </ul>
    </div>
</div>
</div>

