{% if mep.scores %}
    <ul>
    {% for score in mep.scores %}
    <li>
      <a href="{% url meps:votes:votes_mep score.proposal.id mep.id %}">{{ score.proposal.title }}</a>: <strong>{{ score.value|floatformat:"-1" }}</strong> {% blocktrans with score.date as score_date %}(on {{ score_date }}){% endblocktrans %}<br/><a href="{{ score.proposal.get_absolute_url }}">{% trans "Read more..." %}</a>
    </li>
    {% endfor %}
    </ul>
    {% if mep.scores.count > 1 %}
        <center><img src="{% url trends:comparaison_trends mep.id %}" /></center>
        <p style="text-align: center;"><i><a href="{% url trends:documentation %}#mep">{% trans "Trends explanation" %}</a></i></p>
    {% endif %}
{% endif %}
