{% extends "base.html" %}

{% block content %}

<header><h1 id="name">{{ mp.first_name }} {{ mp.last_name|upper }}{% trans ", member of the french parliament" %}</h1></header>

<section id="summary">
<h1 class="collapsible expanded">{% trans "General information" %}</h1>

<ul id="infos" class="body">

<div class="quickView">
    <img class="mugshot" src="http://www.nosdeputes.fr/depute/photo/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify}}/192" onerror="onMugshotError(this);"/>
<span>{{ mp.first_name }} {{ mp.last_name|upper }}  </span>
{{ mp.group.abbreviation }}
</div>

<li><i>{% if mp.gender == "F" %}{% trans "Born on (female)" %}{% else %}{% trans "Born on" %}{% endif %}</i>
{% blocktrans with mp.birth_date.day as day and mp.birth_date.month as month and mp.birth_date.year as year and mp.birth_department as city %}{{ day }}/{{ month }}/{{ year }} <i>at</i> {{ city }}{% endblocktrans %}</li>
<li><i>{% trans "Département:" %}</i> 
    <a href="{% url mps:index_by_department mp.department.number %}">
	{{ mp.department.name }} - {{ mp.department.number }}
    </a>
</li>
<li><i>{% trans "Political group: " %}</i>
       <a href="{% url mps:index_by_group mp.group.abbreviation %}">
	{{ mp.group.name }} ({{ mp.group.abbreviation }})
        </a>

</li>
</ul>

<div id="contact">
    <h2 class="collapsible expanded">{% trans "Contact" %}</h2>

        <ul class="body">
        {% for addr in mp.address_set.all %}
        <li><b>{{ addr.title|default:"Other address" }}</b><br/>
            {% if addr.building %} {% trans "Building" %} {{ addr.building.name }} {{ addr.office}}<br/>{% endif %}
            {{ addr.street }}, {{ addr.postcode }} {{ addr.city }}<br/>
            {% for phone in addr.phone_set.all %}
            {{ phone.type|capfirst }}.: {% if phone.type == "phone" %}<a href="callto://{{ addr.phone }}">{% endif %}{{ phone.number }}{% if phone.type == "phone" %}</a>{% endif %}&nbsp;<br/>
            {% endfor %}

        </li>
        {% endfor %}

        {% for email in mp.email_set.all %}
            <li><i>{% trans "E-mail&nbsp;: " %}</i><a href="mailto:{{ email.email }}">{{ email.email }}</a></li>
        {% endfor %}

        <li><i>{% trans "Web&nbsp;: " %}</i><a target="_" href="{{ mp.an_webpage }}">{{ mp.an_webpage }}</a></li>
        {% for webaddr in mp.website_set.all %}
        <li>
            <i>{% trans "Web&nbsp;: " %}</i><a target="_" href="{{ webaddr.url }}">{{ webaddr.url }}</a>
        </li>
        {% endfor %}

        </ul>
</div>

<div id="nosdeputes">
    <h2 class="collapsible expanded">{% trans "NosDéputés.fr" %}</h2>
    <ul class="body">
        <li> <i>NosDéputés.fr: </i><a href="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}">{{ mp.first_name }} {{ mp.last_name }}</a><br>
    <a href="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}/graphes/lastyear"><img src="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}/graphes/lastyear/total?questions=true&link=true&mapId=Map_9521.map" /></a>
    </li>
    <li>
    <p style="font-size: small;"><span style='background-color: rgb(255,0,0);'>&nbsp;</span>
    &nbsp;{% trans "Présences enregistrées ou relevées" %}&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(255,200,0);'>&nbsp;</span>&nbsp;{% trans "Participations" %}&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(0,255,0);'>&nbsp;</span>&nbsp;{% trans "Mots prononés" %} (x&nbsp;10&nbsp;000)&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(0,0,255);'>&nbsp;</span>&nbsp;{% trans "Questions orales" %}&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(150,150,150);'>&nbsp;</span>&nbsp;{% trans "Vacances parlementaires" %}
    </li>
    <li>
    {% trans "Informations generated by <a href=\"http://www.nosdeputes.fr\">NosDéputés.Fr</a>" %}
    </li>
    </ul>
</div>

{% if mp.functionmp_set.all %}
<div id="functions">
    <h2 class="collapsible collapsed">{% trans "Functions" %}</h2>
    <ul class="body">
    {% for function in mp.functionmp_set.all %}
        {% if function.type != "Groupe d'études" and function.type != "Groupe d'amitié" %}
        <li>{% if function.role %}{{ function.role }} - {% endif %}{{ function.function.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

{% if mp.opinionmp_set.all %}
<div id="opinions">
    <h2 class="collapsible collapsed">{% trans "Opinions (memopol v1)" %}</h2>
    <ul class="body">
    {% for line in mp.opinionmp_set.all %}
        <li><b>{{ line.opinion.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>{% trans "Read more..." %}</a> </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mp.scores %}
    <div id="scores">
        <h2 class="collapsible collapsed">{% trans "Scores average" %} : {{ average|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in mp.doc.scores %}
        <li style="background:{{ score.color }}">

            {{ score.label }}: <strong>{{ score.value }}</strong> ({% trans "on" %} {{ score.date }})<br/><a target="_" href="http://www.laquadrature.net/wiki/{{ score.wiki }}">{% trans "Read more..." %}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

</section>

{% endif %}


</article>

{% endblock %}
{% block documentReady %}

    activateCollapsible();

    onClickChangeVisibility("addPositionButton", {addPosition: true, addPositionButton: false});
    onClickChangeVisibility("addPositionCancelButton", {addPosition: false, addPositionButton: true});
    jQuery("#addPositionSubmitButton").click(addPositionSubmitButtonClicked);

{% endblock %}
