{% extends "base.html" %}

{% block title %}{{ mp }}, Député à l'Assemblée National – Le Mémoire Politique de La Quadrature du Net{% endblock %}

{% block content %}

<header><h1 class="document-title" id="name">{{ mp }}, Député à l'Assemblée National</h1></header>

<section id="summary">
<h2>Informations générales</h0>

<ul id="infos" class="body">

<div class="quickView">
  <img class="mugshot" alt="{{ mp }}" src="http://www.nosdeputes.fr/depute/photo/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify}}/192" onerror="onMugshotError(this);"/>
<span>{{ mp }}  </span>
{{ mp.group.abbreviation }}
<a href="#" id="call-now" />
  <img src="{{ MEDIA_URL }}img/call_now.png" />
</a>

</div>

<li><i>{% if mp.gender == "F" %}Née{% else %}Né{% endif %} le</i>
{{ mp.birth_date.day }}/{{ mp.birth_date.month }}/{{ mp.birth_date.year }} <i>à</i> {{ mp.birth_department }}</li>
<li><i>Département: </i>
    <a href="{% url mps:index_by_department mp.department.number %}">
        {{ mp.department.name }} - {{ mp.department.number }}
    </a>
</li>
<li><i>Groupe Politique: </i>
       <a href="{% url mps:index_by_group mp.group.abbreviation %}">
           {{ mp.group.name }} ({{ mp.group.abbreviation }})
        </a>

</li>
</ul>

<div class="rounded_box" id="contact">
    <h2>Contact</h2>
    {% include "mps/mp_contact.html" %}
</div>

<div id="nosdeputes">
    <h2 class="collapsible expanded"> NosDéputés.fr</h2>
    <ul class="body">
        <li> <i>NosDéputés.fr: </i><a href="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}">{{ mp.first_name }} {{ mp.last_name }}</a><br>
    <a href="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}/graphes/lastyear"><img src="http://www.nosdeputes.fr/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify }}/graphes/lastyear/total?questions=true&link=true&mapId=Map_9521.map" /></a>
    </li>
    <li>
    <p style="font-size: small;"><span style='background-color: rgb(255,0,0);'>&nbsp;</span>
    &nbsp;Présences enregistrées ou relevées&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(255,200,0);'>&nbsp;</span>&nbsp;Participations&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(0,255,0);'>&nbsp;</span>&nbsp;Mots prononcés (x&nbsp;10&nbsp;000)&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(0,0,255);'>&nbsp;</span>&nbsp;Questions orales&nbsp;&nbsp;&nbsp;
    <span style='background-color: rgb(150,150,150);'>&nbsp;</span>&nbsp;Vacances parlementaires
    </li>
    <li>
    Informations générées par <a href="http://www.nosdeputes.fr">NosDéputés.Fr</a>
    </li>
    </ul>
</div>

{% if mp.functionmp_set.all %}
<div id="functions">
    <h2 class="collapsible collapsed">Fonctions</h2>
    <ul class="body">
    {% for function in mp.functionmp_set.all %}
        {% if function.type != "Groupe d'études" and function.type != "Groupe d'amitié" %}
        <li>{% if function.role %}{{ function.role }} - {% endif %}{{ function.function.title }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

{% if mp.opinionmp_set.all %}
<div id="opinions">
    <h2 class="collapsible collapsed">Opinions (venant da la première version du Mémoire Politique)</h2>
    <ul class="body">
    {% for line in mp.opinionmp_set.all %}
        <li><b>{{ line.opinion.title }}</b> (le {{ line.date }})<br/>{% autoescape off %}{{ line.opinion.content }}{% endautoescape %} &nbsp; <a target="_" href="{{ line.opinion.url }}"><br/>Lire la suite ...</a> </li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if mp.scores %}
    <div id="scores">
        <h2 class="collapsible collapsed">Moyenne des scores : {{ average|floatformat:0 }}</h2>
        <ul class="body">
        {% for score in mp.doc.scores %}
        <li style="background:{{ score.color }}">
          <div class="score-color"></div>
          <div class="inner-score">
            {{ score.label }}: <strong>{{ score.value }}</strong> ({% trans "on" %} {{ score.date }})<br/><a target="_" href="http://www.laquadrature.net/wiki/{{ score.wiki }}">Lire la suite ...</a>
          </div>
        </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

</section>

{% endif %}


</article>

{% endblock %}
