{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/picnet.table.filter.min.js"></script>
{% endblock %}

{% block content %}

<h1>{% trans "French deputies" %}</h1>
<table class="mp-list tablesorter"> 
  {% include "mps/mps_table_thead.html" %}
  <tbody>
    {% for mp in object_list %}
      {% include "mps/mps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block documentReady %}

  activateCollapsible();
  jQuery(".mp-list").tablesorter({ headers: { 3: { sorter: false }, }  });
  jQuery('.mp-list').tableFilter();

{% endblock %}
