<tr>
  <td>
    <a href="{{ mp.get_absolute_url }}">{{ mp.last_name|upper }} {{ mp.first_name }}</a>
  </td>
  {% if not 'party' in hidden_fields %}
  <td>
    <ul class="party">
      <li>
        <a href="{% url mps:index_by_group mp.group.abbreviation %}">
	        {{ mp.group.name }} ({{ mp.group.abbreviation }})
        </a>
      </li>
    </ul>
  </td>
  {% endif %}
  <td>
    <div class="body">
      <ul class="body">
          <li>
            <b>{% trans "Phone" %}:</b>
            {% for addr in mp.address_set.all %}
              {% for phone in addr.phone_set.all %}
              {% if phone.type == "phone" %}
                <a href="callto://{{ phone.number }}">{{ phone.number }}</a> -
                {% endif %}
              {% endfor %}
            {% endfor %}
          </li>

          <li>
          <b>{% trans "E-mail" %}:</b>
          {% for email in mp.email_set.all %}
            <a href="mailto:{{ email.email }}">{{ email.email }}</a> -
          {% endfor %}
          </li>

      </ul>
      <a class="more-contact" href="{% url mps:mp_contact mp.id %}">{% trans "More informations" %}...</a>
    </div>
  </td>
</tr>
