<tr>
  <td>
    <a href="{% url mps:mp mp.id %}">{{ mp.last_name }} {{ mp.first_name }}</a>
  </td>
  {% if not 'party' in hidden_fields %}
  <td>
    <ul class="party">
      <li>
        <a href="{% url mps:index_by_group mp.group.abbreviation %}">
	        {{ mp.group.name }} ({{ mp.group.abbreviation }})
        </a>
      </li>
    </ul>
  </td>
  {% endif %}
  <td>
    <span class="collapsible collapsed collapsible-contact" alt="{% url mps:mp_contact mp.id %}">{% trans "Contact informations" %}</span>
    <div class="body">
    </div>
  </td>
</tr>
