{% extends "base.html" %}

{% block title %}
{% if opinion.date.year != 1 %}
« {{ opinion.title }} », opinion exprimé par {{ mp }} le {{ opinion.date }}
{% else %}
« {{ opinion.title }} », opinion exprimé par {{ mp }}
{% endif %}
{% endblock %}

{% block content %}
{% with opinion.mps|first as mp %}
{% if opinion.date.year != 1 %}
<h1>« {{ opinion.title }} », opinion exprimé par <a href="{% url mps:mp mp.pk %}">{{ mp }}</a> le {{ opinion.date }}</h1>
{% else %}
<h1>« {{ opinion.title }} », opinion exprimé par <a href="{% url mps:mp mp.pk %}">{{ mp }}</a></h1>
{% endif %}

<section id="summary">

<ul id="infos" class="body">

<div class="quickView">
  <img class="mugshot" alt="{{ mp }}" src="http://www.nosdeputes.fr/depute/photo/{{ mp.first_name|slugify }}-{{ mp.last_name|slugify}}/192" onerror="onMugshotError(this);"/>
</div>
<h2>Informations générales</h0>

<li><i>{% if mp.gender == "F" %}Née{% else %}Né{% endif %} le</i>
{{ mp.birth_date.day }}/{{ mp.birth_date.month }}/{{ mp.birth_date.year }} <i>à</i> {{ mp.birth_department }}</li>
<li><i>Département&nbsp;: </i>
    <a href="{% url mps:index_by_department mp.department.number %}">
        {{ mp.department.name }} - {{ mp.department.number }}
    </a>
</li>
<li><i>Groupe Politique&nbsp;: </i>
       <a href="{% url mps:index_by_group mp.group.abbreviation %}">
           {{ mp.group.name }} ({{ mp.group.abbreviation }})
        </a>

</li>
</ul>

{% if opinion.content|length %}
<h2>Opinion exprimée</h2>
<p>{{ opinion.content|safe }}</p>
<p><a href="{{ opinion.url }}">Lien vers la source de l'opinion</a></p>
{% else %}
<h2><a href="{{ opinion.url }}">Lien vers la source de l'opinion</a></h2>
{% endif %}

{% endwith %}
{% endblock %}
