{% load flatblock_tags %}
{% load i18n %}
{% load personalization %}
{% organization_name as organization_name %}
<!doctype html>
<html {% block htmlattrs %}{% endblock %}>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fluid_grid.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}dynamiq/css/dynamiq.css" />
    {% block head %}{% endblock %}
    <title>{% block title %}Home{% endblock %} - The Political Memory of {{ organization_name }}</title>
    <!--[if IE]>
    <script src="{{ STATIC_URL }}js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_select.js"></script>
</head>

<body {% block bodyattrs %}{% endblock %}>


<div class="container_12">
    <div id="header">
        <h1><a href="/">{% blocktrans %}The Political Memory of {{ organization_name }}{% endblocktrans %}</a></h1>
      <a href="{% url api_doc %}">API</a>
      <a href="{% url contact_form %}">Contact</a>
      {% if user.is_staff %}
          <a href="{% url admin:index %}">{% trans "Administration" %}</a>
          <a href="{% url admin:comments_comment_changelist %}">{% trans "Comments moderation" %}</a>
          <a href="{% url admin:logout %}">{% trans "Logout" %}</a>
      {% endif %}
      {% if user.is_anonymous %}
          <a href="{% url admin:index %}">{% trans "Login" %}</a>
      {% endif %}
    </div>

    <div id="content" class="grid_12">
        <div class="contentwraper">
        {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>

    <div id="sidebar" class="grid_2">
        <div id="mainheader" ><a href="/">{% block header %}<h1>{{ title|default:"Memopol" }}</h1>{% endblock %}</a></div>

        <div id="nav">

            <div style="text-transform: none">
              {% flatblock "sidebar.info" %}
            </div>

            <h2>{% trans "Search" %}</h2>
            <div>
              <form id="simple-search" method="get" action="{% url search %}">
                <input type="text" autocomplete="off" class="search-text" name="q"/>
                <input type="submit" class="search-submit" value="{% trans "GO" %}"/>
              </form>
            </div>

            <h2>{% trans "Eurodeputies" %}<img src="{{ STATIC_URL }}img/countries/small/EU.png" alt="EU flag"/></h2>
            <ul>
                <li><a href="{% url meps:index_names %}">{% trans "By name" %}</a></li>
                <li><a href="{% url meps:index_countries %}">{% trans "By country" %}</a></li>
                <li><a href="{% url meps:index_groups %}">{% trans "By political group" %}</a></li>
                <li><a href="{% url meps:index_committees %}">{% trans "By committee" %}</a></li>
                <li><a href="{% url meps:index_delegations %}">{% trans "By delegation" %}</a></li>
                <li><a href="{% url meps:index_parties %}">{% trans "By local party" %}</a></li>
                <li><a href="{% url meps:index_organizations %}">{% trans "By instances" %}</a></li>
                <li><a href="{% url meps:index_floor %}">{% trans "By floor" %}</a></li>
                <li><a href="{% url meps:scores %}">{% trans "By total score" %}</a></li>
                <li><a href="{% url meps:votes:index_votes %}">{% trans "Tracked votes" %}</a></li>
                <li><a href="{% url meps:index_opinions %}">{% trans "Expressed opinions" %}</a></li>
                <li><a href="{% url meps:index_inactive %}">{% trans "Former eurodeputies" %}</a></li>
            </ul>


            {% comment %}
            <h2><a href="{% url campaign:list %}">{% trans "Campaigns" %}</a></h2>
            {% if campaigns %}
            <ul>
                {% for c in campaigns %}
                <li><a href="{% url campaign:view pk=c.id %}">{{ c.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endcomment %}

            <h2>{% trans "French deputies" %}<img src="{{ STATIC_URL }}img/countries/small/FR.png" alt="FR flag"/></h2>

            <ul>
                <li><a href="{% url mps:index %}">{% trans "By name" %}</a></li>
                <li><a href="{% url mps:index_groups %}">{% trans "By political group" %}</a></li>
                <li><a href="{% url mps:index_departments %}">{% trans "By departments" %}</a></li>
                <li><a href="{% url mps:votes:index_votes %}">{% trans "Tracked votes" %}</a></li>
                <li><a href="{% url mps:index_opinions %}">{% trans "Expressed opinions" %}</a></li>
            </ul>



            {% block sidetools %}
            {% endblock %}
        </div>

    </div>

<div class="clear"></div>

<div id="footer">
  <div>
      {% blocktrans %} Memopol is free software <a href="https://gitorious.org/memopol2-0">released</a> under the terms of the
      <a href="http://www.gnu.org/licenses/agpl.html">GNU aGPLV3+</a> - <a href="https://projets.lqdn.fr/projects/mempol">Bug tracking system</a> - <a href="https://projets.lqdn.fr/projects/mempol/issues/new">Report a bug</a>{% endblocktrans %}
  </div>
  <div>
      {% trans "Provided by" %} <a href="http://www.laquadrature.net/">La Quadrature du Net</a>
  </div>
</div>

</div>

<div id="livesearch" class="hidden" alt="{% url search_xhr %}"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.metadata.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hashchange.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/picnet.table.filter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ui.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
