{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block title %}{% trans "Home Page" %}{% endblock %}

{% block htmlattrs %}xmlns="http://www.w3.org/1999/xhtml" {{ block.super }}{% endblock %}
{% load flatblock_tags %}
{% block bodyattrs %}id="home"{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
    <div class="edito">
        {% flatblock "welcome.info" %}
    </div>
    <h1 class="document-title">{% trans "MEPs by country" %}</h1>
    {% include "map-eu.html" %}
    <h1 class="document-title">{% trans "MEPs by committee" %}</h1>
    {% cache 6000000 home.committees_list LANGUAGE_CODE %}
    {% include "committees-eu.html" %}
    {% endcache %}
    <h1 class="document-title">{% trans "MEPs by political group" %}</h1>
    {% include "hemicycle-eu.html" %}

    {% cache 6000000 home.last_votes_list LANGUAGE_CODE %}
    <div>
    {% if proposals %}
        <h1 class="document-title">{% trans "Last tracked votes" %} <a href="{% url votes:lastest-rss %}"><img src="/static/img/rss.png" alt="rss feed" /></a></h1>
        <ul class="votes">
            {% for proposal in proposals|dictsortreversed:"date" %}
                <li style="list-style: none; margin-left: 15px;">
                <img src="{{ MEDIA_URL }}img/countries/small/{{ proposal.institution }}.png" alt="{{ proposal.institution }} flag"/> <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    {% endcache %}
{% endblock %}
