<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Eurodeputes DE - La Quadrature du Net</title>
    <link media="screen" type="text/css" href="{{ MEDIA_URL }}/static/css/queries.css" rel="stylesheet"/>
</head>

<body>

<div id="wrap">

    <h1><a href=""><img src="http://www.laquadrature.net/files/laquadrature_logo_wiki.png" alt="logo"/></a></h1>

    <div id="filter">
        <form>
            <fieldset>
                <legend>Filter by country</legend>
                {% for country in countries %}
                <input type="checkbox" name="country[]" value="{{ country.key }}"/>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Filter by political group</legend>
                {% for group_code in group_code %}
                <input type="checkbox" name="group[]" value="{{ group_code }}"/>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Filter by commitee</legend>
                {% for commitee_code in commitee_code %}
                <input type="checkbox" name="commitee[]" value="{{ commitee_code }}"/>
                {% endfor %}
            </fieldset>
        <p><input type="submit" value="Search" /></p>
        </form>
    </div>

    <div id="result">
        <ul id="sort">
            <li>Country</li>
            <li>Group</li>
            <li>Name</li>
            <li>eMail</li>
            <li>Bruxelle</li>
            <li>Strasbourg</li>
            <li>grade</li>
        </ul>
        <ul id="mps">
            {% for mep in meps %}
            <li class="mp odd">
                <ul>
                    <li><img src="{{ MEDIA_URL }}/static/img/countries/small/{{ mep.infos.constituency.country.code }}.png"/></li>
                    <li><img class="grouplogo" src="{{ MEDIA_URL }}/static/img/groups/eu/{{ mep.infos.group.abbreviation|cut:"/" }}.png" /></li>
                    <li class="Name"><a href="{% url meps:mep mep.infos.name.wiki %}">{{ mep.infos.name.first }} {{ mep.infos.name.last|upper }}</a></li>
                    <li class="eMail"><a href="mailto:{{ mep.contact.email.text }}">{{ mep.contact.email.text }}</a></li>
                    <li class="Strasbourg">
                      <ul>
                        <li>{{ mep.contact.address.Strasbourg.office }}</li>
                        <li>{{ mep.contact.address.Strasbourg.phone.1 }}</li>
                      </ul>
                    </li>
                    <li class="Bruxelles">
                      <ul>
                        <li>{{ mep.contact.address.Bruxelles.office }}</li>
                        <li>{{ mep.contact.address.Bruxelles.phone.1 }}</li>
                      </ul>
                    </li>
                </ul>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

</body>
</html>
