@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

html, body {
    height: 100%;
}


body {
    background-color: #BCD;
    font: 100% "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

#content h1, #content h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

#content h1.document-title {
    font-size: 150%;
    border-bottom: 1px black solid;
}


table li a,
a {
    color: #497ED5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a {
    color: black;
    text-decoration: underline;
}

li a:hover {
    color: #497ED5;
    text-decoration: underline;
}

li ul li {
    list-style-type: square;
}


.container_12 {
    background-color: #FFF;
    min-height: 100%;

}

#header {
    background-color: #497ED5;
    color: #ffffff;
    margin: 10px;
    border: solid 13px white;
    height: 185px;
    font-size: 100px;
    font-family: 'IM Fell English SC', Palatino, sans-serif;
    text-shadow:2px 2px 2px black;
    text-align: center;
    vertical-align: middle;
    line-height: 164px;
}
#header a { 
    vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
}



#nav {
    background-color: #497ED5;
    color: #ffffff;
    font-size: 80%;
    margin-left: 6px;
    width: 175px;
    font-family: Palatino;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px;
    padding-top: 20px;
    min-height: 100%;
}

#nav h1, #nav h2 {
    padding: 10px 4px 5px 4px;
    font-family: 'IM Fell English SC', Palatino, sans-serif;
    text-shadow:1px 1px 1px black;
}

#nav a:link, 
#nav a:visited, 
#nav a:active {
    text-decoration: none;
    color: #fff;
}
#nav a:hover {
    text-decoration: underline overline; color: white; 
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;

}

#mainheader {
    font-size: 120%;
    background: url(/static/img/logo.png) no-repeat ;
    margin-top: 6px; 
    width: 202px;
}

#mainheader a {
    padding-top: 200px;
    display: block;
}

#mainheader h1 {
    font-family: 'IM Fell English SC', Palatino, sans-serif;
    text-shadow:1px 1px 1px black;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: #497ED5;
    margin-left: 6px;
    margin-right: 9px;
    border-right: 2px solid white;
    padding-top: 10px;
    color: #fff;
}
#mainheader a:hover {
    text-decoration: none;
}


#content {
    background-color: #fff;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 20px 200px;
    text-align: justify;
}

#content .grid_10 {
    margin-top: 0px;
    width: 100%;
}

#msg {
    background: #FFFECA;
    position: fixed;
    bottom: 0;
    font-size: 18px;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}


.uiform {
    border: 1px #EFEFEF solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}




button {
	text-decoration:none;
    padding: 5px 5px 5px 30px;

    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;

    cursor: pointer;
}

.cancel {
    background: url(/static/img/nicebutton/delete.gif) no-repeat 2px 5px;
}

.download {
    background: url(/static/img/nicebutton/download.gif) no-repeat 2px 5px;
}

.submit {
    font-weight: bold;
    background: url(/static/img/nicebutton/add.gif) no-repeat 2px 5px;
}

/* meps
 */


ul.treelist {
    padding-left: 0px;
}

li ul.treelist {
    padding-left: 10px;
}

li ul.treelist li ul.treelist {
    padding-left: 20px;
}

li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 30px;
}

li ul.treelist li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 40px;
}

#summary
{
	margin: 1em;
	
}

#summary ul
{
	margin-left: 2em;
	
}

ul, ol
{
	list-style: disc url(/static/img/bullet.gif);
    list-style:circle;
    list-style-position: inside;
}

li {
	margin: .3em;
}


.defaultMugshot {
    float: right;
    border: 0px;
}

.quickView
{
    float: right;
    margin-left: 1em;
    padding-left: 0.5em;
    background: white;
}

.quickView span
{
    display: block;
    padding: 5px 0px 5px 0px;
}

.mugshot
{
    border: 1px gray solid;
    display: block;
}

.grouplogo 
{
    width: 30px;
    height: 30px;
    border: 1px gray solid;
    vertical-align: middle;
    margin-right: 10px;
}

/* collapsible items
 */

.collapsible
{
    cursor: pointer;
}

.collapsible:hover
{
    background-color: #ffffaa;
}

.collapsed
{
    background-image: url(/static/img/arrow-right.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.expanded
{
    background-image: url(/static/img/arrow-down.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.col {
    list-style: none;
}

.col li
{
    float: left;
    width: 25em;
    margin: 0.1em;
}

ul.groups, ul.meps, ul.index, ul.party
{
    list-style: none;
}

ul.index li
{
    display: inline-block;
}

ul ul, ul ol, ol ul, ol ol
{
    margin-left: 30px;
}

table.mep-list,
table.mp-list {
  width: 100%;
  border-width: 1px;
  border-spacing: 0px;
}

table.mep-list tr th, table.mep-list tr td,
table.mp-list tr th, table.mp-list tr td {
  border: 1px solid black;
  padding: 3px 6px;
}

table.mep-list tr th,
table.mp-list tr th {
  text-align: center;
}

table.mep-list tr td,
table.mp-list tr td {
  text-align: left;
}

/* tables */
table.tablesorter .cell-contact {
    width:40%;
}

table.tablesorter {
   font-family:arial;
   background-color: #CDCDCD;
   margin:10px 0pt 15px;
   font-size: 8pt;
   width: 100%;
   text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
   background-color: #e6EEEE;
   border: 1px solid #000;
   font-size: 8pt;
   padding: 4px;
}
table.tablesorter thead tr .header {
   background-image: url(/static/img/bg.gif);
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}
table.tablesorter tbody td {
   color: #3D3D3D;
   padding: 4px;
   background-color: #FFF;
   vertical-align: top;
}
table.tablesorter tbody tr.odd td {
   background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
   background-image: url(/static/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
   background-image: url(/static/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

a.more-contact {
    display:block;
    text-align: right;
}

#contact a.highlight {
    color: #497ED5;
}

a#call-now {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

div#scores li {
    border-style: solid;
    border-width: thin;
    list-style: none;
}

div#scores div.score-color {
    opacity:1;
    width:100%;
    height:0.5em;
}

div#scores div.inner-score {
    padding: 0.2em;
}

form label {
    display: block;
}

form input {
    width: 50%;
}

form textarea {
    width: 100%;
}

form p {
    padding:0.5em;
    margin:0.5em;
}

form p.submit {
    background: white;
}

form p.submit input {
    width: auto;
    color: black;
    border: thin solid #497ED5;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

form ul.errorlist li {
    color: red;
    margin-left: 1em;
}
form p.error {
    border: thin solid red;
    background-color: #FAAFBE;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.ok,
div.ok {
    background: #C3FDB8;
    padding: 0 0.2em;
    display:inline;
    color: black;
}

a.nok,
div.nok {
    background: #FAAFBE;
    padding: 0 0.2em;
    display:inline;
    color: black;
}

a.abstention {
    background: #FBB917;
    padding: 0 0.2em;
    display:inline;
    color: black;
}

.clear-all {
    height: 1px;
    clear: both:
}
.hidden {
    display: none;
}

form#simple-search {
    line-height:30px;
}
form#search {
    margin-bottom: 1em;
}
input.search-submit {
    width: auto;
    color: black;
    border: thin solid #497ED5;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
input.search-text {
    width: 98%;
}

div#livesearch {
    position: absolute;
    z-index: 100000;
    background:white;
    border: thin solid black;
    font-size: 0.8em;
    padding: 0.5em;
}

div#livesearch ul,
div#livesearch li {
    margin: 0px;
    list-style: none;
}

