html, body {
    height: 100%;
}


body {
    background-color: #BCD;
}

.container_12 {
    background-color: #FFF;
    min-height: 100%;

}

#header {
    background-color: #497ED5;
    color: #ffffff;
    margin: 10px;
    border: solid 13px white;
    height: 185px;
    font-size: 72px;
    font-family: Palatino;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    vertical-align: middle;
    line-height: 104px;
}
#header .span { 
    vertical-align: middle;
}



#nav {
    background-color: #497ED5;
    color: #ffffff;
    font-size: 80%;
    margin-left: 6px;
    width: 175px;
    font-family: Palatino;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px;
    padding-top: 20px;
    min-height: 100%;
}

#nav h1, h2 {
    padding: 10px 4px 5px 4px;
}

#nav a:link, 
#nav a:visited, 
#nav a:active {
    text-decoration: none;
    color: #fff;
}
#nav a:hover {
    text-decoration: underline overline; color: white; 
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;

}

#mainheader {
    font-size: 120%;
    background: url(/static/img/logo.png) no-repeat ;
    padding-top: 200px;
    margin-top: 6px; 
    width: 202px;
}


#mainheader h1 {
    font-family: Palatino;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: #497ED5;
    margin-left: 6px;
    margin-right: 9px;
    border-right: 2px solid white;
    padding-top: 10px;
    color: #fff;
}


#content {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    padding-left: 200px;
    text-align: justify;
}

#grid_10 {
    margin-top: 30px;
}

#msg {
    background: #FFFECA;
    position: fixed;
    bottom: 0;
    font-size: 18px;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}


.uiform {
    border: 1px #EFEFEF solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}




button {
	text-decoration:none;
    padding: 5px 5px 5px 30px;

    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;

    cursor: pointer;
}

.cancel {
    background: url(/static/img/nicebutton/delete.gif) no-repeat 2px 5px;
}

.download {
    background: url(/static/img/nicebutton/download.gif) no-repeat 2px 5px;
}

.submit {
    font-weight: bold;
    background: url(/static/img/nicebutton/add.gif) no-repeat 2px 5px;
}

/* meps
 */

h1#name
{
    font-size: 150%;
    border-bottom: 1px black solid;
}


ul.treelist {
    padding-left: 0px;
}

li ul.treelist {
    padding-left: 10px;
}

li ul.treelist li ul.treelist {
    padding-left: 20px;
}

li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 30px;
}

li ul.treelist li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 40px;
}

#summary
{
	margin: 1em;
	
}

#summary ul
{
	margin-left: 2em;
	
}

ul, ol
{
	list-style: disc url(/static/img/bullet.gif);
    list-style:circle;
    list-style-position: inside;
}

li {
	margin: .3em;
}


.defaultMugshot {
    float: right;
    border: 0px;
}

.quickView
{
    float: right;
    margin-left: 1em;
}

.quickView span
{
    display: block;
    padding: 5px 0px 5px 0px;
}

.mugshot
{
    border: 1px gray solid;
    display: block;
}

.grouplogo 
{
    width: 30px;
    height: 30px;
    border: 1px gray solid;
    vertical-align: middle;
    margin-right: 10px;
}

/* collapsible items
 */

.collapsible
{
    cursor: pointer;
}

.collapsible:hover
{
    background-color: #ffffaa;
}

.collapsed
{
    background-image: url(/static/img/arrow-right.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.expanded
{
    background-image: url(/static/img/arrow-down.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.col {
    list-style: none;
}

.col li
{
    float: left;
    width: 25em;
    margin: 0.1em;
}
