html, body {
    height: 100%;
}


body {
    background-color: #BCD;
    font: 100% "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

.contentwraper {
    margin-left: 220px;
}

.top_space_2 {
    padding-top: 2em;
}

#content h1, #content h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

#content h1.document-title {
    font-size: 150%;
    border-bottom: 2px #497ED5 solid;
}

table li a,
a {
    color: #497ED5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a {
    color: black;
}

li a:hover {
    color: #497ED5;
    text-decoration: underline;
}

li ul li {
    list-style-type: square;
}


.container_12 {
    background-color: #FFF;
    min-height: 100%;
    min-width: 900px;
}

#header {
    background-color: #497ED5;
    background: -webkit-gradient(linear, left top, left bottom, from(#729bdf), to(#497ED5));
    background: -moz-linear-gradient(top,#729bdf,#497ED5);
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 20px;
    border-bottom: 3px solid #295cb1;
    height: 50px;
	line-height: 45px;
    text-align: right;
    vertical-align: middle;
}

#header h1 {
    float: left;
}

#header h1 a {
    font-size: 1em;
}

#header a { 
    vertical-align: middle;
    color: #ffffff;
    margin: 0 5px;
    font-size: 0.7em;
}

#footer {
    background-color: #497ED5;
    color: #ffffff;
    margin: 0px;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
}

#footer a { 
    color: #ffffff;
    text-decoration: underline;
}

#sidebar {
    width: 185px;
    margin-left: -100%;
    padding-left: 15px;
}

#nav {
    background-color: #eee;
    font-size: 80%;
    text-align: right;
    text-transform: lowercase;
    padding: 5px;
    padding: 20px 5px 200px;
    min-height: 100%;
}

#nav h1, #nav h2 {
    text-transform: capitalize;
    padding: 20px 4px 5px 0px;
    font-size: 17px;
}

#nav ul {
    list-style: none;
}

#nav a:link,
#nav a:visited,
#nav a:active {
    text-decoration: none;
}
#nav a:hover {
    border-bottom: 1px dashed #497ED5; color: #497ED5;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

#mainheader {
    font-size: 120%;
    background: url("../img/logo.png") no-repeat ;
    margin-top: 0px; 
}

#mainheader a {
    padding-top: 200px;
    display: block;
}

#mainheader h1 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: #497ED5;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
#mainheader a:hover {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}


.uiform {
    border: 1px #EFEFEF solid;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.cancel {
    background: url("../img/nicebutton/delete.gif") no-repeat 2px 5px;
}

.download {
    background: url("../img/nicebutton/download.gif") no-repeat 2px 5px;
}

.submit {
    font-weight: bold;
    background: url("../img/nicebutton/add.gif") no-repeat 2px 5px;
}

/* meps
 */


ul.treelist {
    padding-left: 0px;
}

li ul.treelist {
    padding-left: 10px;
}

li ul.treelist li ul.treelist {
    padding-left: 20px;
}

li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 30px;
}

li ul.treelist li ul.treelist li ul.treelist li ul.treelist {
    padding-left: 40px;
}

#summary
{
	margin: 1em;
	
}

#summary ul
{
	margin-left: 2em;
	
}

ul, ol
{
	list-style: disc url("../img/icons/bullet-black.png");
    list-style:circle;
    list-style-position: inside;
}

li {
	margin: .3em;
}


.defaultMugshot {
    float: right;
    border: 0px;
}

div.map {
    margin: auto;
}

div.map-eu {
    border: thin solid black;
}

.quickView
{
    float: right;
    margin-left: 1em;
    padding-left: 0.5em;
    background: white;
    max-width: 180px;
}

.quickView span
{
    display: block;
    padding: 5px 0px 5px 0px;
}

.mugshot
{
    border: 1px gray solid;
    display: block;
}

.grouplogo 
{
    width: 30px;
    height: 30px;
    border: 1px gray solid;
    vertical-align: middle;
    margin-right: 10px;
}

/* collapsible items
 */

.collapsible
{
    cursor: pointer;
}

.collapsible:hover
{
    background-color: #ffffaa;
}

.collapsed
{
    background-image: url("../img/arrow-right.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.expanded
{
    background-image: url("../img/arrow-down.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    padding-left: 1em;
}

.col {
    overflow: hidden;
    background: #F5F5F5;
    padding: 1em;
    list-style: none;
}

.col li
{
    float: left;
    width: 50%;
    display: inline;
    margin: 0;
    padding: 0.3em 0;
}

.col li:hover {
    background: #eee;
}

ul.groups, ul.meps, ul.index, ul.party
{
    list-style: none;
}

ul.index li
{
    display: inline-block;
}

ul ul, ul ol, ol ul, ol ol
{
    margin-left: 30px;
}

table.mep-list,
table.mp-list {
  width: 100%;
  border-width: 1px;
  border-spacing: 0px;
}

table.mep-list tr th, table.mep-list tr td,
table.mp-list tr th, table.mp-list tr td {
  min-width: 50px;
  border: 1px solid #999;
  padding: 3px 6px;
}

table.mep-list tr th,
table.mp-list tr th {
  text-align: center;
}

table.mep-list tr td,
table.mp-list tr td {
  text-align: left;
}

/* tables */
table.tablesorter .cell-contact {
    width:40%;
}

table.tablesorter {
   font-family:arial;
   background-color: #CDCDCD;
   margin:10px 0pt 15px;
   font-size: 8pt;
   width: 100%;
   text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
   background-color: #e6EEEE;
   border: 1px solid #999;
   font-size: 8pt;
}
table.tablesorter thead tr .header {
   background-image: url("../img/bg.gif");
   background-repeat: no-repeat;
   background-position: center right;
   cursor: pointer;
}
table.tablesorter tbody td {
   color: #3D3D3D;
   padding: 4px;
   background-color: #FFF;
   vertical-align: top;
}
#livesearch li.odd,
table.tablesorter tbody tr.odd td {
   background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
   background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
   background-image: url("../img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

a.more-contact {
    display:block;
    text-align: right;
}

#contact a.highlight {
    color: #497ED5;
}

a#call-now {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}

div#scores li {
    border-style: solid;
    border-width: thin;
    list-style: none;
}

div#scores div.score-color {
    opacity:1;
    width:100%;
    height:0.5em;
}

div#scores div.inner-score {
    padding: 0.2em;
}

form label {
    display: block;
}

form input {
    padding: 6px;
    width: 50%;
}

form textarea {
    width: 100%;
}

form input, form textarea {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

form p {
    padding:0.5em;
    margin:0.5em;
}

form p.submit {
    background: white;
}

input.search-submit, form p.submit input, button {
    padding: 3px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8)) #d8d8d8;
    background: -moz-linear-gradient(top, #efefef, #d8d8d8) #d8d8d8;
    width: auto;
    color: black;
    border: 1px solid #ababab;
    -moz-border-radius: 5px;
    border-radius: 3px;    
}

input.search-submit:hover, form p.submit input:hover, button:hover {
    color: #555;
}

form ul.errorlist li {
    color: red;
    margin-left: 1em;
}
form p.error {
    border: thin solid #f66f8a;
    background-color: #fccfd8;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

a.ok,
span.ok,
div.ok {
    display:inline;
    color: black;
    padding: 0 0 0 20px;
    background: url("../img/icons/bullet-green.png") no-repeat top left !important;
}

a.nok,
span.nok,
div.nok {
    display:inline;
    color: black;
    padding: 0 0 0 20px;
    background: url("../img/icons/bullet-red.png") no-repeat top left !important;
}

span.abstention,
a.abstention {
    display:inline;
    color: black;
    padding: 0 0 0 20px;
    background: url("../img/icons/bullet-orange.png") no-repeat top left !important;
}

.clear-all {
    height: 1px;
    clear: both:
}

li.sep {
    height: 1px;
    border-bottom: thin solid #aaa;
    margin: 0.5em 0em;
    list-style: none;
}

.hidden {
    display: none;
}

/* search */

form#simple-search {
    line-height:30px;
}
form#search {
    margin-bottom: 1em;
}
/*input.search-submit {
    width: auto;
    color: black;
    border: thin solid #497ED5;
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
}*/
input.search-text {
    width: 90%;
}

#search li, #search li input,
#search li label {
    display: inline;
    width: auto;
}
#search p {
    margin: 0px;
}
#search p label {
    display: none;
}

div#livesearch {
    position: absolute;
    z-index: 100000;
    background:white;
    border: thin solid black;
    font-size: 0.8em;
}

ul.votes, ul.committees, ul.delegations, ul.organisations, ul.parties, ul.mp-groups,
div#livesearch ul, #search-results ul {
    margin: 0px;
    list-style: none;
}
div#livesearch li {
    margin: 0px;
    padding: 0.5em;
}
div#livesearch li.odd a {
    color: #497ED5;
}

ul.votes a, ul.committees a, ul.delegations a, ul.organisations a, ul.parties a, ul.mp-groups a,
a.search-item {
    text-decoration: none;
    padding-left: 25px;
}
span.search-item-type {
    font-size: 80%;
    color: #ccc;
}

a.mep-icon, a.mp-icon {
    background: url("../img/icons/user.png") no-repeat top left;
}
ul.committees a, ul.delegations a, ul.organisations a, ul.parties a, ul.mp-groups a,
a.comitee-icon, a.delegation-icon, a.group-icon, a.organisation-icon, a.party-icon {
    background: url("../img/icons/user-group.png") no-repeat top left;
}
ul.votes a {
    background: url("../img/icons/article.png") no-repeat top left;
}

/* contact */

ul#infos {
    list-style-type: none;
    margin: 0px;
}

div#contact {
    margin-right: 200px;
    margin-top: 20px;
    padding: 0.5em 1em 1em 1em;
    border: thin solid #aaa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#F0F0F6;
}
div#contact h2 {
    margin: 0px;
    text-align: center;
    margin-bottom: 0.5em;
    margin-left: 20px;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-size: 130%;
}
div#contact ul {
    margin: 0px;
}
div#contact li {
    list-style: none;
}

/* votes */

div.legend {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #999;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color:#F0F0F6;
    padding: 0.5em;
    margin-bottom: 1em;
    display: inline;
}
div.legend label {
    font-weight: bold;
}

ul.recommendation ul li {
    list-style: none;
}
