<img src="{% url trends:recommendation_group recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_group">{% trans "Trends explanation" %}</a></i></p>
<br />
<img src="{% url trends:recommendation_countries recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_countries">{% trans "Trends explanation" %}</a></i></p>
<br />
<img src="{% url trends:recommendation_countries_absolute recommendation.id %}" />
<p style="text-align: center;"><i><a href="{% url trends:documentation %}#vote_countries_normalized">{% trans "Trends explanation" %}</a></i></p>
