{% load memopol2 %}
<tr>
  <td>
    <a href="{{ mp.get_absolute_url }}">{{ mp.last_name|upper }} {{ mp.first_name }}</a>
  </td>
  {% if not 'party' in hidden_fields %}
  <td>
    {{ mp.group_tag|safe }}
  </td>
  {% endif %}
  <td>
    <div class="body">
      <ul class="body">
          {% if mp.optimized_phones %}
            <li>
              <b>Téléphone&nbsp;:</b>
              {% for phone in mp.optimized_phones %}
                <a href="callto://{{ phone|phone }}">{{ phone }}</a>
                {% if not forloop.last %}-{% endif %}
              {% endfor %}
            </li>
          {% endif %}

          {% if mp.emails %}
            <li>
              <b>Courriel&nbsp;:</b>
              {% for email in mp.emails %}
                <a href="mailto:{{ email }}">{{ email }}</a>
                {% if not forloop.last %}-{% endif %}
              {% endfor %}
            </li>
          {% endif %}
      </ul>
      <a class="more-contact" href="{% url mps:mp_contact mp.id %}">Plus d'informations ...</a>
    </div>
  </td>
</tr>
