-extends "base.html"

-block head
  %link{href: "{{ STATIC_URL }}prettify/prettify.css", type: "text/css", rel: "stylesheet"}
  %script{type: "text/javascript", src: "/static/prettify/prettify.js"}
  %style
    pre.prettyprint {
     overflow: scroll;
     height: 800px;
     font-size: 80%;
    }

-block bodyattrs
  onload="prettyPrint()";

-block content
  %h1
    {{ object.title }}{% if object.title != object.proposal_name %} from {{ object.proposal_name }}{% endif %}
  -url votes:recommendation object.recommendation.proposal.id object.recommendation.id as recommendation_url
  %p
    ID: {{ object.id }}

  -if object.recommendation
    %p
      -blocktrans with object.import as imported and object.recommendation.title as recommendation_title
        Imported: {{ object_imported }} as <a href="{{ recommendation_url }}">{{ recommendation_title }}</a>

  -else
    %p
      -blocktrans with object.imported as imported
        Imported: {{ imported }}

  %p
    {% trans "Date:" %} {{ object.date }}

  %pre.prettyprint.lang-js
    =object.data_pretty|safe
