-extends "base.html"

-block content

  %h1
    -trans "Importable votes"
  -regroup object_list by proposal_name as object_list

  -if is_paginated
    %p
      -if page_obj.has_previous
        %a{href: "?page={{ page_obj.previous_page_number }}"}
          ← 
      =page_obj.number
      \/
      =page_obj.paginator.num_pages
      -if page_obj.has_next
        %a{href: "?page={{ page_obj.next_page_number }}"}
          →

  %ul.votes
    -for rd in object_list reversed
      %li
        =rd.grouper
        %ul
          -for r in rd.list
            %li
              %a{href: "{% url votes:import_vote r.id %}"}
                {{ r.date|date:"d/m/Y" }} - {{ r.title }}
      %br
