{% extends "base.html" %}

{% block content %}

{% if vote %}
    <h1>{{ vote.title }}</h1>
{% endif %}

{% regroup vote.recommendation_set.all by subject as subvotes %}

{% include "votes/legend.html" %}

<ul>
    {% for subvote in subvotes %}
    <li><b>{{ subvote.grouper }}</b>
    <ul>
        {% for v in subvote.list %}
        <li>
            <a href="{% url votes:recommendation vote.id v.id %}">{{ v.description }}</a>
            <ul class="{{ v.recommendation }} recommendation">
                <li><em>Part</em> : {{ v.part }}</li>
                {% if v.recommendation %}<li><em>Recommendation</em> : {{ v.recommendation }}</li>{% endif %}
                {% if v.weight %}<li><em>Weight</em> : {{ v.weight }}</li>{% endif %}
                <ul>
                  {% regroup v.vote_set.all by choice as result %}
                  {% for re in result %}
                  {% if re.grouper in "abstention-against-for" %}
                  <li><b><a 
                      class="{% if v.recommendation == re.grouper %}ok{% else %}{% if re.grouper == "abstention" %}abstention{% else %}nok{% endif %}{% endif %}" 
                      href="{% url votes:recommendation_choice vote.id v.id re.grouper %}">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
                  {% else %}
                  <!-- FIXME: sometimes re.grouper is a float and we cant get the correct link -->
                  <!-- FIXME: see http://localhost:8000/votes/Loi_Hadopi_Assemblee_nationale/ -->
                  <li><b><a href="#">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
                  {% endif %}
                  {% endfor %}
                </ul>
            </ul>
        </li>
        <br>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>

<div class="map map-eu" style="height: 520px; width: 680px;">
    <object type="image/svg+xml" data="{% url trends:recommendation_countries_map vote.id %}" type="image/svg+xml" width="680" height="520"></object>
</div>

<h2 class="collapsible collapsed">Score repartition</h2>
<center class="body">
<img src="{% url trends:group_proposal_score vote.id %}">

<img src="{% url trends:group_proposal_score_stacked vote.id %}">

<img src="{% url trends:group_proposal_score_heatmap vote.id %}">

<img src="{% url trends:proposal_score_repartition vote.id %}">

{% for group in vote.groups %}
    <img src="{% url trends:group_proposal_score_repartition group.abbreviation vote.id %}">
{% endfor %}
</center>

{% endblock %}
