{% extends "base.html" %}

{% block content %}

{% if vote %}
    <h1>{{ vote.title }}</h1>
{% endif %}

<br>

{% regroup vote.recommendation_set.all by subject as subvotes %}

<ul>
    {% for subvote in subvotes %}
    <li><b>{{ subvote.grouper }}</b>
    <ul>
        {% for v in subvote.list %}
        <li>
            {{ v.description }}
            <ul>
                <div class="{{ v.recommendation }}">
                <li><em>Part</em> : {{ v.part }}</li>
                {% if v.recommendation %}<li><em>Recommendation</em> : {{ v.recommendation }}</li>{% endif %}
                {% if v.weight %}<li><em>Weight</em> : {{ v.weight }}</li>{% endif %}
                <ul>
                  {% regroup v.vote_set.all by choice as result %}
                  {% for re in result %}
                  <li><b>{{ re.grouper }}</b>: {{ re.list|length }} </li>
                  {% endfor %}
                </ul>
                </div>
            </ul>
        </li>
        <br>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
