-load comments i18n

%form{id: "comment", action: "{% comment_form_target %}", method: "post"}
  -csrf_token
  -if next
    %div
      %input{type: "hidden", name: "next", value: "{{ next }}"}
  -for field in form
    -if field.is_hidden
      <div>{{ field }}</div>
    -else
      -if field.errors
        =field.errors
      %p
        -if field.errors
          class="error"{% endif %}
        -ifequal field.name "honeypot"
          style="display:none;"
        -ifequal field.name "email"
          style="display:none;"
        -ifequal field.name "name"
          style="display:none;"
        {{ field.label_tag }} {{ field }}
  %p.submit
    %input.submit-post{type: "submit", name: "post", value: '{% trans "Post" %}'}
    %input.submit-preview{type: "submit", name: "preview", value: '{% trans "Preview" %}'}
