{% extends "base.html" %}
{% load memopol2 i18n %}
{% block javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/chosen.css" />
<script type="text/javascript">
$(document).ready(function(){
   $("select").chosen();
});
</script>
{% endblock %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="rounded_box">
<h2>{{campaign.title}} (<a href="/admin/campaign/mepscore/">Edit individual MEPs scores</a>)</h2>
{{campaign.intro}}
</div>

<div>
   <form action="/campaign/edit/{{campaign.id}}/" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
   </form>
   <hr />
   
   <h3>Notable MEPs in this campaign</h3>
   <table class="mep-list tablesorter">
     <thead>
       <tr>
         <th filter='false' class="row-influence">Influence</th>
         <th filter='false' class="row-feedback">Feedback</th>
         <th filter='false' class="row-name">MEP</th>
         <th filter-type='ddl' class="row-country">Country</th>
         <th filter-type='ddl' class="row-group">Group</th>
         <th filter-type='ddl' class="row-party">Party</th>
         <th filter='false' class="cell-contact">Contact</th>
       </tr>
     </thead>
     <tbody>
       {% for ms in campaign.mepscore_set.all %}
          <tr>
            <td>{{ms.score}}</td>
            <td><span class="toggle-feedback button clickable">Feedback!</span></td>
            <td><a href="{{ ms.mep.get_absolute_url }}">{{ ms.mep.first_name }} {{ ms.mep.last_name|upper }}</a></td>
            <td>{{ ms.mep.country_tag|safe }}</td>
            <td>{{ ms.mep.group_tag|safe }}</td>
            <td>{{ ms.mep.party_tag|safe }}</td>
            <td>
              <div class="body">
                <ul class="body">
                  <li><b>{% trans "Brussels" %}</b>
                   {% trans "Tel." %}: <a href="callto://{{ ms.mep.bxl_phone1|phone }}">{{ ms.mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ ms.mep.bxl_phone2|phone }}">{{ ms.mep.bxl_phone2 }}</a>&nbsp;<br/>
                  </li>
                  <li><b>{% trans "Strasbourg" %}</b>
                  {% trans "Tel." %}: <a href="callto://{{ ms.mep.stg_phone1|cut:" " }}">{{ ms.mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ ms.mep.stg_phone2|cut:" " }}">{{ ms.mep.stg_phone2 }}</a>&nbsp;<br/>
                  </li>
                  {% if ms.mep.emails %}
                    <li>
                      <b>{% trans "E-mail" %}:</b>
                      {% for email in ms.mep.emails %}
                        <a href="mailto:{{ email }}">{{ email }}</a>
                        {% if not forloop.last %}-{% endif %}
                      {% endfor %}
                    </li>
                  {% endif %}
                </ul>
                <a class="more-contact" href="{% url meps:mep_contact ms.mep.id %}">{% trans "More information" %}...</a>
              </div>
            </td>
          </tr>
          <tr class="hidden feedback_form_tr">
             <td colspan="8">
                <form class="grid_12 feedback-form" action="/campaign/feedback/" method="Post">
                   <div class="form-messages"></div>
                   {% csrf_token %}
                   {{ form.campaign }}
                   {{ form.mep }}
                   <span style="float: left">
                      {{ form.non_field_errors }}
                      <div class="fieldWrapper">
                         {{ form.type.errors }}
                         <label for="id_type">Contact Type:</label>
                         {{ form.type }}
                      </div>
                      <div class="fieldWrapper">
                         {{ form.response.errors }}
                         <label for="id_response">Meps response:</label>
                         {{ form.response }}
                      </div>
                      <div class="fieldWrapper">
                         {{ form.usercontact.errors }}
                         <label for="id_usercontact">how to contact you?</label>
                         {{ form.usercontact }}
                      </div>
                   </span>
                   <span style="float: left">
                      <div class="fieldWrapper">
                         {{ form.text.errors }}
                         <label for="id_text">Feedback - crap will be moderated and gives you bad karma!</label>
                         {{ form.text }}
                      </div>
                   </span>
                   <span style="float: left">
                      <div class="fieldWrapper">
                         {{ form.captcha.errors }}
                         {{ form.captcha }}
                      </div>
                      <input type="submit" class="feedback-submit button" value="send <3 datalove" />
                   </span>
                </form>
          </td></tr>
       {% endfor %}
     </tbody>
   </table>
</div>
{% endblock %}
