{% extends "base.html" %}
{% load memopol2 %}

{% block title %}{% trans "Campaigns" %}{% endblock %}

{% block content %}

<h1>{% trans "Campaigns" %}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for c, mepcnt in object_list %}
  {%if forloop.first %}
  <table class="tablesorter">
     <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Results" %}</th>
            {% if user.is_authenticated %}<th>{% trans "Actions" %}</th>{% endif %}
        </tr>
     </thead>
     <tbody>
  {%endif%}
  <tr{% if c.finished %} class="campaign-over"{%endif%}>
     <td><a href="/campaign/view/{{c.id}}/">{{c.title}}</a></td>
     <td>{% blocktrans %}<a href="/campaign/report/{{c.id}}/">{{c.debriefing_set.count}} responses for {{ mepcnt }} MEP(s)</a>{% endblocktrans %}</td>
     {% if user.is_authenticated %}<td><a href="/campaign/edit/{{c.id}}/">{% trans "Edit influence" %}</a></td>{% endif %}
  </tr>
  {%if forloop.last %}
     </tbody>
  </table>
  {%endif%}
{% empty %}
{% trans "No campaigns yet." %} {% if not user.is_authenticated %}<a href="{% url admin:index %}">{%trans "Login" %}</a> {% trans "and create a campaign" %} {% else %}<a href="/admin/campaign/campaign/add/">{% trans "Create a campaign." %}</a>{% endif %}
{% endfor %}
{% endblock %}
