{% extends "base.html" %}
{% load memopol2 i18n %}

{% block content %}

<h1>{% trans "Campaigns" %}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for c in object_list %}
    {%if loop.first %}<ul>{%endif%}
       <li><a href="/campaign/view/{{c.id}}/">{{c.title}}</a></li>
    {%if loop.first %}</ul>{%endif%}
{% empty %}
   No campaigns yet. {% if not user.is_authenticated %}<a href="{% url admin:index %}">{% trans "Login" %}</a> and create one{% else %}<a href="/admin/campaign/campaign/add/">Create one.</a>{% endif %}
{% endfor %}
{% endblock %}
