{% extends "base.html" %}
{% load memopol2 i18n %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $(".toggle-feedback").click(function() {
      $(this).parent().parent().next(".feedback_form_tr").toggleClass('hidden');
   });
   $('.feedback-form').submit(function() {
       var data={ 
          csrfmiddlewaretoken: $(this).find('input[name=csrfmiddlewaretoken]').attr('value'),
          campaign: $(this).find('input[name=campaign]').attr('value'),
          mep: $(this).find('input[name=mep]').attr('value'),
          type: $(this).find('select[name=type]').attr('value'),
          usercontact: $(this).find('input[name=usercontact]').attr('value'),
          response: $(this).find('select[name=response]').attr('value'),
          text: $(this).find('textarea[name=text]').attr('value'),
          captcha_0: $(this).find('input[name=captcha_0]').attr('value'),
          captcha_1: $(this).find('input[name=captcha_1]').attr('value'),
       };
       var self=this;
       console.log(data);
       $.post('{% url campaign:feedback %}', data, function(res) {
            $(self).find('.form-messages').html(res);
          });
       return false;
   });
});
</script>
{% endblock %}

{% block content %}

{% if not header_template %}
<h1>{% trans "Members of the European Parliament" %}</h1>
{% else %}
{% include header_template %}
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="rounded_box campaign-intro"><h2><a href="/campaign/view/{{campaign.id}}/">{{campaign.title}}</a></h2>{{campaign.intro}}</div>

{% if not mepscores %}
<div>
    <p>Have you contacted a MEP? Wanna get credit? Tell us how it went!</p>
</div>
{% endif %}

<h3>MEPs with campaign feedback</h3>
<table class="mep-list tablesorter">
  <thead>
    <tr>
      <th filter='false' class="row-feedback">Feedback</th>
      <th filter='false' class="row-name">MEP</th>
      <th filter-type='ddl' class="row-country">Country</th>
      <th filter-type='ddl' class="row-group">Group</th>
      <th filter-type='ddl' class="row-party">Party</th>
      <th filter='false' class="cell-contact">Contact</th>
    </tr>
  </thead>
  <tbody>
    {% for mep, form, feedbacks in object_list %}
       <tr>
         <td>
             <span class="toggle-feedback button clickable">Feedback!</span>
             <div class="campaign-feedback">
                {% for feedback in  feedbacks %}
                <span class="feedback-icon feedback-{% if feedback.response == '0'%}neutral{% else %}{%if feedback.response == '+' %}positive{% else%}{%if feedback.response == '?'%}nocont{%else%}negative{% endif %}{% endif %}{% endif %}">
                   {{feedback.response}}
                   <div class="feedback-popup hidden">
                      <div>type: {{feedback.type}}</div>
                      <div>text: {{feedback.text}}</div>
                   </div>
                </span>
                {% endfor %}
             </div>
         </td>
         <td><a href="{{ mep.get_absolute_url }}">{{ mep.first_name }} {{ mep.last_name|upper }}</a></td>
         <td>{{ mep.country_tag|safe }}</td>
         <td>{{ mep.group_tag|safe }}</td>
         <td>{{ mep.party_tag|safe }}</td>
         <td>
           <div class="body">
             <ul class="body">
               <li><b>{% trans "Brussels" %}</b>
                {% trans "Tel." %}: <a href="callto://{{ mep.bxl_phone1|phone }}">{{ mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.bxl_phone2|phone }}">{{ mep.bxl_phone2 }}</a>&nbsp;<br/>
               </li>
               <li><b>{% trans "Strasbourg" %}</b>
               {% trans "Tel." %}: <a href="callto://{{ mep.stg_phone1|cut:" " }}">{{ mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ mep.stg_phone2|cut:" " }}">{{ mep.stg_phone2 }}</a>&nbsp;<br/>
               </li>
               {% if mep.emails %}
                 <li>
                   <b>{% trans "E-mail" %}:</b>
                   {% for email in mep.emails %}
                     <a href="mailto:{{ email }}">{{ email }}</a>
                     {% if not forloop.last %}-{% endif %}
                   {% endfor %}
                 </li>
               {% endif %}
             </ul>
             <a class="more-contact" href="{% url meps:mep_contact mep.id %}">{% trans "More information" %}...</a>
           </div>
         </td>
       </tr>
       <tr class="hidden feedback_form_tr">
          <td colspan="8">
             <form class="grid_12 feedback-form" action="/campaign/feedback/" method="Post">
                <div class="form-messages"></div>
                {% csrf_token %}
                {{ form.campaign }}
                {{ form.mep }}
                <div class="grid_2">
                   {{ form.non_field_errors }}
                   <div class="fieldWrapper">
                      {{ form.type.errors }}
                      <label for="id_type">Contact Type:</label>
                      {{ form.type }}
                   </div>
                   <div class="fieldWrapper">
                      {{ form.response.errors }}
                      <label for="id_response">Meps response:</label>
                      {{ form.response }}
                   </div>
                   <div class="fieldWrapper">
                      {{ form.usercontact.errors }}
                      <label for="id_usercontact">How to contact you?</label>
                      {{ form.usercontact }}
                   </div>
                </div>
                <div class="grid_6">
                   <div class="fieldWrapper">
                      {{ form.text.errors }}
                      <label for="id_text">Feedback - crap will be moderated and gives you bad karma!</label>
                      {{ form.text }}
                   </div>
                </div>
                <div class="grid_2">
                   <div class="fieldWrapper">
                      <label for="id_captcha_1">Enter the result:</label>
                      {{ form.captcha.errors }}
                      {{ form.captcha }}
                   </div>
                   <input type="submit" class="feedback-submit button" value="send <3 datalove" />
                </div>
             </form>
       </td></tr>
    {% endfor %}
  </tbody>
</table>
{% if not mepscores %}
<div>
    <p><a class="button" href="{% addurlparameter force 1 %}">Get a new set of MEPs</a></p>
</div>
{% endif %}

<h3>Campaign Details</h3>
<div class="campaign-details">{{campaign.details}}</div>

{% if mepscores %}
   <h3>Notable MEPs in this campaign</h3>
   <table class="mep-list tablesorter">
     <thead>
       <tr>
         <th filter='false' class="row-influence">Influence</th>
         <th filter='false' class="row-feedback">Feedback</th>
         <th filter='false' class="row-name">MEP</th>
         <th filter-type='ddl' class="row-country">Country</th>
         <th filter-type='ddl' class="row-group">Group</th>
         <th filter-type='ddl' class="row-party">Party</th>
         <th filter='false' class="cell-contact">Contact</th>
       </tr>
     </thead>
     <tbody>
       {% for ms, form in mepscores %}
          <tr>
            <td>{{ms.score}}</td>
            <td><span class="toggle-feedback button clickable">Feedback!</span></td>
            <td><a href="{{ ms.mep.get_absolute_url }}">{{ ms.mep.first_name }} {{ ms.mep.last_name|upper }}</a></td>
            <td>{{ ms.mep.country_tag|safe }}</td>
            <td>{{ ms.mep.group_tag|safe }}</td>
            <td>{{ ms.mep.party_tag|safe }}</td>
            <td>
              <div class="body">
                <ul class="body">
                  <li><b>{% trans "Brussels" %}</b>
                   {% trans "Tel." %}: <a href="callto://{{ ms.mep.bxl_phone1|phone }}">{{ ms.mep.bxl_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ ms.mep.bxl_phone2|phone }}">{{ ms.mep.bxl_phone2 }}</a>&nbsp;<br/>
                  </li>
                  <li><b>{% trans "Strasbourg" %}</b>
                  {% trans "Tel." %}: <a href="callto://{{ ms.mep.stg_phone1|cut:" " }}">{{ ms.mep.stg_phone1 }}</a>&nbsp;-&nbsp;<a href="callto://{{ ms.mep.stg_phone2|cut:" " }}">{{ ms.mep.stg_phone2 }}</a>&nbsp;<br/>
                  </li>
                  {% if ms.mep.emails %}
                    <li>
                      <b>{% trans "E-mail" %}:</b>
                      {% for email in ms.mep.emails %}
                        <a href="mailto:{{ email }}">{{ email }}</a>
                        {% if not forloop.last %}-{% endif %}
                      {% endfor %}
                    </li>
                  {% endif %}
                </ul>
                <a class="more-contact" href="{% url meps:mep_contact ms.mep.id %}">{% trans "More information" %}...</a>
              </div>
            </td>
          </tr>
          <tr class="hidden feedback_form_tr">
             <td colspan="8">
                <form class="grid_12 feedback-form" action="/campaign/feedback/" method="Post">
                   <div class="form-messages"></div>
                   {% csrf_token %}
                   {{ form.campaign }}
                   {{ form.mep }}
                   <div class="grid_2">
                      {{ form.non_field_errors }}
                      <div class="fieldWrapper">
                         {{ form.type.errors }}
                         <label for="id_type">Contact Type:</label>
                         {{ form.type }}
                      </div>
                      <div class="fieldWrapper">
                         {{ form.response.errors }}
                         <label for="id_response">Meps response:</label>
                         {{ form.response }}
                      </div>
                      <div class="fieldWrapper">
                         {{ form.usercontact.errors }}
                         <label for="id_usercontact">How to contact you?</label>
                         {{ form.usercontact }}
                      </div>
                   </div>
                   <div class="grid_6">
                      <div class="fieldWrapper">
                         {{ form.text.errors }}
                         <label for="id_text">Feedback - crap will be moderated and gives you bad karma!</label>
                         {{ form.text }}
                      </div>
                   </div>
                   <div class="grid_2">
                      <div class="fieldWrapper">
                         <label for="id_captcha_1">Enter the result:</label>
                         {{ form.captcha.errors }}
                         {{ form.captcha }}
                      </div>
                      <input type="submit" class="feedback-submit" value="send <3 datalove" />
                   </div>
                </form>
          </td></tr>
       {% endfor %}
     </tbody>
   </table>
{% endif %}
{% endblock %}
