{% load memopol2 %}
<ul class="body">
{% if mep.emails %}
  <li>
    <b>Courriel:</b>
    {% for email in mep.emails %}
      <a class="highlight" href="mailto:{{ email }}">{{ email }}</a>
      {% if not forloop.last %}-{% endif %}
    {% endfor %}
  </li>
{% endif %}

{% if mp.address_optimized %}
{% for addr in mp.address_optimized %}
<li><b>{{ addr.title|default:"Autre adresse" }}</b><br/>
    {{ addr.street }}, {{ addr.postcode }} {{ addr.city }}<br/>
    {% for phone in addr.phone_set.all %}
    {{ phone.type|capfirst }}.: {% if phone.type == "phone" %}<a class="highlight call-now" href="callto://{{ phone.number|phone }}">{% endif %}{{ phone.number }}{% if phone.type == "phone" %}</a>{% endif %}&nbsp;<br/>
    {% endfor %}

</li>
<li class="sep">&nbsp;</li>
{% endfor %}
{% else %}
{% for addr in mp.address_set.all %}
<li><b>{{ addr.title|default:"Autre adresse" }}</b><br/>
    {{ addr.street }}, {{ addr.postcode }} {{ addr.city }}<br/>
    {% for phone in addr.phone_set.all %}
    {{ phone.type|capfirst }}.: {% if phone.type == "phone" %}<a class="highlight call-now" href="callto://{{ phone.number|phone }}">{% endif %}{{ phone.number }}{% if phone.type == "phone" %}</a>{% endif %}&nbsp;<br/>
    {% endfor %}

</li>
<li class="sep">&nbsp;</li>
{% endfor %}
{% endif %}


<li><i>Site Web&nbsp;: </i><a target="_" href="{{ mp.an_webpage }}">{{ mp.an_webpage }}</a></li>
{% for webaddr in mp.website_set.all %}
<li>
    <i>Site Web&nbsp;: </i><a target="_" href="{{ webaddr.url }}">{{ webaddr.url }}</a>
</li>
{% endfor %}

</ul>
