{% extends "base.html" %}

{% load votes_tags %}
{% load cache %}

{% block title %}{% blocktrans with vote.title as vote_title %}{{ vote_title }}{% endblocktrans %}{% endblock %}

{% block content %}

{% if vote %}
    <h1>{{ vote.title }}</h1>
{% endif %}

{% cache 6000000 proposal.votes.recommendation request.META.PATH_INFO %}
{% regroup vote.recommendation_set.all by subject as subvotes %}

{% include "votes/legend.html" %}

<ul>
    {% for subvote in subvotes %}
    <li><b>{{ subvote.grouper }}</b>
    <ul>
        {% for v in subvote.list %}
        <li>
        <a href="{% url mps:recommendation vote.id v.id %}">{% if v.description %}{{ v.description }}{% else %}{% trans "No description yet" %}{% endif %}</a>
            <ul class="{{ v.recommendation }} recommendation">
                <li><em>{% trans "Part" %}</em> : {{ v.part }}</li>
                {% if v.recommendation %}<li><em>{% trans "Recommendation" %}</em> : {{ v.recommendation }}</li>{% endif %}
                {% if v.weight %}<li><em>{% trans "Weight" %}</em> : {{ v.weight }}</li>{% endif %}
                {% significant_votes v %}
                {% url mps:recommendation vote.id v.id as recommendation_url %}
                <li>{% blocktrans with significant_votes.count as significant_votes_count %}Votes ({{ significant_votes_count }} significant) (<a href="{{ recommendation_url }}">full list</a>){% endblocktrans %}</li>
                <li>
                <ul>
                  {% regroup v.vote_set.all by choice as result %}
                  {% for re in result reversed %}
                  {% if re.grouper in "absent-abstention-against-for" %}
                  <li><b><a
                      class="{% if v.recommendation == re.grouper %}ok{% else %}{% if re.grouper == "abstention" or re.grouper == "absent" %}abstention{% else %}nok{% endif %}{% endif %}"
                      href="{% url mps:recommendation_choice vote.id v.id re.grouper %}">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
                  {% else %}
                  <!-- FIXME: sometimes re.grouper is a float and we cant get the correct link -->
                  <!-- FIXME: see http://localhost:8000/votes/Loi_Hadopi_Assemblee_nationale/ -->
                  <li><b><a href="#">{{ re.grouper }}</a></b>: {{ re.list|length }} </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                </li>
            </ul>
        </li>
        <br>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
{% endcache %}

{% cache 6000000 proposal.votes.meps request.META.PATH_INFO %}
{% with proposal_votes_listing="True" %}
<table class="mp-list tablesorter">
  {% include "mps/mps_table_thead.html" %}
  <tbody>
    {% for mp in mps %}
      {% include "mps/mps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% endcache %}

{% endblock %}
