{% extends "base.html" %}

{% load cache %}

{% block title %}{% blocktrans with vote.title as vote_title %}{{ vote_title }}{% endblocktrans %}{% endblock %}

{% block content %}

{% if vote %}
    <h1>{{ vote.title }}</h1>
{% endif %}

{% cache 6000000 proposal.votes.recommendation request.META.PATH_INFO %}
{% regroup vote.recommendation_set.all by subject as subvotes %}

{% include "votes/legend.html" %}

<ul>
    {% for subvote in subvotes %}
    <li><b>{{ subvote.grouper }}</b>
    <ul>
        {% for v in subvote.list %}
        <li>
        <a href="{% url mps:votes:recommendation vote.id v.id %}">{% if v.description %}{{ v.description }}{% else %}{% trans "No description yet" %}{% endif %}</a>
            <ul class="{{ v.recommendation }} recommendation">
                <li><em>{% trans "Part" %}</em> : {{ v.part }}</li>
                {% if v.recommendation %}<li><em>{% trans "Recommendation" %}</em> : {{ v.recommendation }}</li>{% endif %}
                {% if v.weight %}<li><em>{% trans "Weight" %}</em> : {{ v.weight }}</li>{% endif %}
                {% url mps:votes:recommendation vote.id v.id as recommendation_url %}
                <li>{% blocktrans with v.significant_votes as significant_votes_count %}Votes ({{ significant_votes_count }} significant) (<a href="{{ recommendation_url }}">full list</a>){% endblocktrans %}</li>
                <li>
                <ul>
                    {% if v.for_count %}<li><b><a class="{% if v.recommendation == "for" %}ok{% else %}nok{% endif %}" href="{% url meps:votes:recommendation_choice vote.id v.id "for" %}">for</a></b>: {{ v.for_count }} </li>{% endif %}
                    {% if v.against_count %}<li><b><a class="{% if v.recommendation == "against" %}ok{% else %}nok{% endif %}" href="{% url meps:votes:recommendation_choice vote.id v.id "against" %}">against</a></b>: {{ v.against_count }} </li>{% endif %}
                    {% if v.abstention_count %}<li><b><a class="abstention">abstention</a></b>: {{ v.abstention_count }} </li>{% endif %}
                    {% if v.abstent_count %}<li><b><a class="abstention">abstent</a></b>: {{ v.abstent_count }} </li>{% endif %}
                </ul>
                </li>
            </ul>
        </li>
        <br>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
{% endcache %}

{% cache 6000000 proposal.votes.meps request.META.PATH_INFO %}
{% with proposal_votes_listing="True" %}
<table class="mp-list tablesorter">
  {% include "mps/mps_table_thead.html" %}
  <tbody>
    {% for mp in mps %}
      {% include "mps/mps_table_tr.html" %}
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% endcache %}

{% endblock %}
